[2017-06-23 09:48] ulfmueller commented on #137
put the script from the 2nd step in the utilities folder.
Besides that, no. perfect and thx!

[2017-06-23 12:54] #67 closed

[2017-06-23 12:58] Ludee opened #138 "implement vaccum clean"
We have to clean the oedb regularly and/or before we start a new run.

[VACUUM PostgreSQL documentation](https://www.postgresql.org/docs/current/static/sql-vacuum.html)

![vacuum-postgres-1](https://user-images.githubusercontent.com/14353512/27483014-ed7b6360-5823-11e7-8cf7-f4f1f70c224e.jpg)

I will implement this in the test script that will start the eGoDP #136

[2017-06-23 12:58] #94 closed

[2017-06-23 13:01] lukasol commented on #95
To test:
#80
#89
#103
#126
#129

[2017-06-23 13:02] lukasol commented on #103
will be validated in #95

[2017-06-23 13:02] #103 closed

[2017-06-23 13:02] lukasol commented on #80
Will be tested in #95

[2017-06-23 13:02] #80 closed

[2017-06-23 13:14] IlkaCu commented on #108
Required for v0.3: #76, #72, #111, #120, #147(Dingo), #114
Note necessarily required for v0.3/Later release: #18, #136, #129, #137

[2017-06-23 13:16] IlkaCu commented on #108
New Deadline for the last adjustments in v0.3 is the 5th of July.
Until then all issues required for v0.3 should be solved and closed. We will create a release branch and start the debugging then.

[2017-06-23 13:23] ulfmueller opened #139 "grant power plant mviews to oeuser"
concerning:

- [ ] "ego_supply_conv_powerplant_sq_view"
- [ ]  "ego_supply_conv_powerplant_nep2035_mview"
- [ ]  "ego_supply_conv_powerplant_ego2050_mview"

@wolfbunke is the owner. That would lead to bugs in a dp run...
Please grant to oeuser!

[2017-06-23 13:28] ulfmueller commented on #138
yeah Mrs. Vacuumfire! I am just performing such a vacuum by
`vacuum;`
on the oedb.
Did you use any further option which makes sense?
Just talked to @MGlauer . He said now there is 1 TB available again. Maybe it's due to that vacuum run I am performing...

[2017-06-23 14:07] lukasol commented on #114
Is the restructuring of the tables and their columns only true for the model_draft.ego_supply_conv_powerplant_2035 ? Or does it also apply to other tables?

[2017-06-23 14:10] ulfmueller commented on #114
it applies to 6 tables, which you can find here: #109

[2017-06-23 15:59] Ludee commented on #138
The `VACUUM ANALYZE` should be performed more often while the `VACUUM FULL ANALYZE` only from time to time.

**VACUUM FULL** rewrites the entire contents of the table into a new disk file with no extra space, allowing unused space to be returned to the operating system. **This form is much slower and requires an exclusive lock on each table** while it is being processed.

Here is a draft for a pla

[2017-06-26 12:44] gplssm commented on #109
I was looking for the RES tables and found a table named `model_draft.ego_supply_res_powerplant_2035_out_mview`. I assumed this is the same table as `model_draft.ego_supply_res_powerplant_nep2035_mview`. Two questions

1. Is my assumption right and only the table name is wrong?
2. Will the name of this mview change in future versions?

[2017-06-26 13:18] Ludee commented on #109
0. The indicates that both are MViews and not tables.
I used a NN to relocate some power plants outside Germany (outside MVGD) to the next substation.
[See code here](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/rea/ego_dp_rea_setup.sql#L73-L128)
1. `ego_supply_res_powerplant_2035_out_mview` makes no sense at all because we should not create power plants outside

[2017-06-26 14:45] gplssm commented on #109
Ok, this is obviously the wrong table. Maybe I found the right one with `model_draft.ego_dp_supply_res_powerplant` @wolfbunke ?

If so, I would like to mention there is some confusion with scenario names

Executing
[code]
returns

|count(id)|scenario|
|-----------|-----------|
|61867|NEP 2035|
|958082|ego-nep2035|
|1608354|Status Quo|
|2435284|eGo 100|

I assume eGo_100 is the intended scenario na

[2017-06-26 15:01] ulfmueller commented on #109
@wolfbunke is still in Riga. But maybe I can help a bit.

Right! the ego-nep2035 should not be there.

At least there is nothing like that thought of of far. We just changed our scripts. I prefer keeping that notation.

That should be the right table. Anyhow, the idea was to read the data from the scenario-specific mviews (naming see first post). But there should not be any problem taking the tabl

[2017-06-26 15:26] gplssm commented on #109
Thanks for the quick reply!

Now, I'm doing exactly as you suggested. Once the mviews are accessible, I use these in my analysis script.

[2017-06-26 16:28] mariusves commented on #137
added the script for the new "Status Quo grouped" scenario at 8617b19

[2017-06-27 07:12] wolfbunke commented on #109
Hi @gplssm,
there are still old table and views I like to delete which are not for use, see #120.
The changes of owner rights is running now.  The old scenario name ego-nep2035 was a bug which is changed to NEP 2035 now.

Please note the flags repowering etc. and logic that only new or changed units are listed now. For example:  `SQ_constantly+NEP_commissioning - NEP_decommissioning -/+ NEP_repowe

[2017-06-27 07:16] wolfbunke commented on #139
thank you, I changed it

[2017-06-27 07:16] #139 closed

[2017-06-27 07:32] Ludee opened #142 "Update database schema to v2"
Include feedback for the database schema structure.
Change names of the schemas and adapt in eGoDP.
It is based on ISO 19115 B.5.27 TopicCategoryCode.

Motivation: We are writing a short paper about the oedb and have one section about the schema structure. We want to include the updated version in the paper.

https://wiki.openmod-initiative.org/wiki/Database_schema#v0.2

political_boundary -> boun

[2017-06-27 07:40] ulfmueller commented on #142
The ego.io would have to be updated.

[2017-06-27 07:44] Ludee commented on #142
My plan is to collect all places here and execute it on Thursday 29th to be included in eGoDP v0.3.
Is that OK for you?

[2017-06-27 07:45] lukasol commented on #142
plus several scripts in dp that use the schemes, e.g. the political boundary.

[2017-06-27 08:16] ulfmueller commented on #142
I am usually not a big fan of renaming things because it often produce a lot of work without improving the results themselves, plus causing problems which were not expected.
If you (or s.o. else who wants to) adapt the entire dp to the new names and adapt the ego.io, it is ok for me. I guess since it is no change of structure but only a direct renaming the effort should be comparably small and bug

[2017-06-27 09:06] lukasol commented on #129
An alternative to using renpassGIS data would be to use data that we generated in the RESTORE 2050 project. There are storage data for all european countries.

[2017-06-27 09:14] wolfbunke commented on #129
Sounds good, maybe we can compare them with the current renpassGIS scenario and discuss the scenario change for ego100 on Friday?

[2017-06-27 10:07] Ludee commented on #142
That's a good idea and I planned to do it as a PR anyway.
I didn't had the ego.io in mind, thanks for that.

I agree but I think the compatibility to ISO and INSPIRE is quite important.

[2017-06-27 10:17] wolfbunke commented on #138
sounds good. @MGlauer what you you think?

[2017-06-27 11:28] nesnoj opened #143 "MVGD with max. onshore wind"
In MVGD 1803, we have ~400 MW (!) of wind onshore in voltage level 5. The following picture shows the MVGD with wind potential areas (WPA, red) and WEC locations (yellow). As you can notice, the WPA are quite small compared to the total area of the MVGD due to the large count of load areas - so the WEC are kind of packed..
I've no idea where all of these 205 WEC are located in reality but I guess

[2017-06-27 11:31] gplssm commented on #128
We don't use any of the above tables in DINGO or eDisGo.

[2017-06-27 11:55] #47 closed

[2017-06-27 12:01] gplssm commented on #109
Ok, I got it the half way...

@wolfbunke could you please notify me, once the MViews exist and are accessible?

[2017-06-29 07:39] gplssm commented on #18
We won't resolve this entirely within v0.3.0 due to necessary changes in ego.powerflow. So, I postponed it.

[2017-06-29 07:49] gplssm commented on #109
A quick comparison of capacity data in new MViews that replace former RES generation capacity table supply.ego_dp_res_powerplant

|Technology|v0.2.10|v0.3.0|
|---------------|---------|--------|
|solar|38513|38512|
|wind|48040|46976|
|geothermal|39|39|
|run_of_river|1649|1649|
|gas|632|632|
|biomass|7053|7053|

@wolfbunke numbers didn't changed that much. But do you know where deviations come from

[2017-06-29 07:58] gplssm commented on #108
During the week of intensive work on the data processing we created a bunch of new tables/mviews and changed some.
I was on the way to use `model_draft.ego_supply_res_powerplant_sq_mview` in Dingo. But, then I as find myself asking:  how to we create ORM table classes for newly generated tables and views?
@openego/data_processing Do we use the script? And if yes, when do we generate these?

[2017-06-29 08:34] wolfbunke commented on #109
Without a closer look, it look like a old data bug of duplicate entries of wind_offshore in v2.10. @IlkaCu ?

[2017-06-29 08:59] gplssm commented on #109
Another quick question: will these mviews be versioned as well? If unsure, I suggest yes.

[2017-06-30 14:47] Ludee commented on #138
[autovacuum](https://www.postgresql.org/docs/current/static/runtime-config-autovacuum.html) has to be set by a superuser.

change parameters in _postgresql.conf_
see: https://www.techonthenet.com/postgresql/autovacuum.php

[2017-07-05 11:44] IlkaCu commented on #89
'ego 100' and 'NEP 2035' scenarios are included in the dev branch

[2017-07-05 11:44] #89 closed

[2017-07-05 12:08] IlkaCu commented on #69
Fixed by this [commit](https://github.com/openego/data_processing/commit/cb88c2ce6cbd1c3cd31e4a5d4a9b40b11936994f).

[2017-07-05 12:08] #69 closed

[2017-07-05 13:39] ulfmueller opened #146 "p.u. to absolute values of transformer x"
The x of the tranformer are p.u. values in osmTGmod.
Apparently the tranformers x in PyPSA are also in p.u. values  (see [here](https://pypsa.org/doc/components.html#transformer). Therefore the conversion [here](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_powerflow_osmtgmod_to_pypsa.sql#L80-L84) seems to be wrong.

Moreover taking into consideration the r

[2017-07-06 08:22] wolfbunke commented on #120
I dropped the not used tables witch are marked above.

@IlkaCu @Ludee please find here
-  [supply_table_to_drop_sql.txt](https://github.com/openego/data_processing/files/1127161/supply_table_to_drop_sql.txt)

a script with drop commands of tables and views - which I guess  can be deleted.
Please check and drop the table views if not needed. Thank you!

[2017-07-06 08:35] wolfbunke commented on #109
ok, I will implement it

[2017-07-06 08:38] IlkaCu commented on #108
Our deadline for the remaining adjustments concerning v 0.3 expired yesterday.
There are some open issues left. If there are any left which need to be solved before we start the new DP run, please let me know until tomorrow. Otherwise I will start the run tomorrow.

[2017-07-06 09:48] Ludee commented on #138
Full vacuum is included but not tested yet.
autovacuum must be included by our admins @gnn @MGlauer

[2017-07-06 09:53] #136 closed

[2017-07-06 09:59] wolfbunke commented on #105
Done. Views are created in https://github.com/openego/data_processing/blob/dev/preprocessing/sql_snippets/ego_dp_res_rea_by_scenario.sql#L1787-L1900 and https://github.com/openego/data_processing/blob/dev/preprocessing/sql_snippets/ego_dp_conv_by_scenario.sql#L342-L415

[2017-07-06 09:59] #105 closed

[2017-07-06 10:01] wolfbunke commented on #111
changed metadata to v0.3 of model_draft.supply conv and res

[2017-07-06 10:17] #76 closed

[2017-07-06 10:55] wolfbunke commented on #111
supply.ego_renewable_power_plants_germany and supply.ego_conventional_powerplant are changed.

[2017-07-06 10:57] wolfbunke commented on #114
can this ticket be closed?

[2017-07-06 11:02] wolfbunke commented on #128
ok thank you , please take a look in  #120 and delete not used table or views.

[2017-07-06 11:02] #128 closed

[2017-07-06 12:07] wolfbunke commented on #108
From my side everything should be ok.

[2017-07-06 13:24] Ludee commented on #72
data types in eGoDP are changed in dev with the last commits. I guess there will be some bugs in the next release that need to be fixed.
Note that ego.io has to be updated as well. I saw that `DOUBLE_PRECISION` is possible (http://docs.sqlalchemy.org/en/latest/dialects/postgresql.html#postgresql-data-types). Sometimes `FLOAT` is used for it.
Do we want to update everything to `DOUBLE_PRECISION`?

[2017-07-06 13:43] Ludee commented on #142
renaming of schemas completed!
go for https://github.com/openego/oeplatform/issues/227 @MGlauer

[2017-07-06 13:44] MGlauer commented on #142
Done

[2017-07-06 13:46] Ludee commented on #142
Perfect. OEP is working and looks good, thank you!

[2017-07-06 13:51] Ludee commented on #108
Schema renaming #142 and data types #72 are in progress.
Will be completed and merged today.

[2017-07-07 10:04] IlkaCu commented on #108
We will create the release branch on Monday and start the DP run (providing that all adjustments on the oedb are completed by then).
If there are any changes or problems which affect the DP run, please let me know.

[2017-07-07 15:35] Ludee commented on #72
[8.1.3. Floating-Point Types](https://www.postgresql.org/docs/current/static/datatype-numeric.html)

float8 = double precision (16 digits)
decimal = numeric (as many digits as needed, max. 1000 digits)

This is a good explanation:
https://stackoverflow.com/questions/35260037/efficiently-store-decimal-numbers-with-many-leading-zeros-in-postgresql

[2017-07-07 16:01] Ludee commented on #72
CHeck out my PR #148

[2017-07-10 07:39] IlkaCu commented on #108
The pull requests #147 and #148 are still pending.
@Ludee: These are necessary for release v0.3, aren't they?

[2017-07-10 09:03] IlkaCu commented on #108
Are there any other issues which we need to resolve before creating the release branch and start debugging the DP?
Providing that the open pull requests are processes by then, I will create the release branch after the lunch break. If you have any concerns please let me know!

[2017-07-10 09:40] MGlauer commented on #108
Remember to set the new database URL ;)

Am 10.07.2017 11:03 schrieb "IlkaCu" <notifications@github.com>:

[2017-07-10 12:35] ulfmueller commented on #146
@mariusves Are my concerns any qualified? If we fastly hot fix this we might be able to consider this in the new version v0.3...

[2017-07-10 12:46] IlkaCu commented on #108
I created the branch release/v0.3

[2017-07-10 13:37] gplssm commented on #114
Jap, RLI has made the adaptions.

[2017-07-10 14:31] IlkaCu opened #149 "Structure & setup in data processing"
Some of the structure & setup scripts are still included in the data processing.
From my point of view this scripts belong to the preprocessing as they are not supposed to be executed in every data processing run.
In the current status it is pretty hard to decide which scripts in the eGo_data_processing.py
must be execute and which must not. Therefore I would suggest to keep only those scripts in

[2017-07-10 15:41] IlkaCu commented on #108
I couldn't start the DP run due to problems with the oedb connection. We will try to solve this tomorrow.

[2017-07-11 12:20] IlkaCu commented on #108
We will move the current powerflow data set from the model_draft to our versioned schemata (as v0.2.11) before starting the new run.

[2017-07-11 14:08] IlkaCu opened #150 "VACUUM cannot run inside a transaction block"
Our first bug in v0.3!

[2017-07-11 14:09] IlkaCu commented on #150
Executing the script 'ego_dp_vacuum_full.sql' brings up the following bug:

@Ludee: Any ideas what the problem is and how to solve it?

[2017-07-11 14:31] ulfmueller commented on #150
@MGlauer do you know how to perform a vacuum which works executed via the [python execution script](https://github.com/openego/data_processing/blob/release/v0.3/dataprocessing/eGo_data_processing.py)?

[2017-07-11 14:33] IlkaCu commented on #150
For the moment I'll skip the script 'ego_dp_vacuum_full.sql' and continue with 'ego_dp_structure_input_verification.sql'.

[2017-07-11 14:48] IlkaCu opened #151 "invalid input syntax for type json"
Executing the script ['ego_dp_structure_input_verification.sql'](https://github.com/openego/data_processing/blob/release/v0.3/dataprocessing/sql_snippets/ego_dp_structure_input_verification.sql) reveals a bug:

Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/sqlalchemy/engine/base.py", line 1182, in _execute_context
    context)
  File "/usr/local/lib/python3.4/di

[2017-07-11 14:49] IlkaCu commented on #151
I'll skip this script as well for now and continue with the substation part.

[2017-07-11 23:17] Ludee commented on #150
http://initd.org/psycopg/docs/connection.html#connection.autocommit

[2017-07-11 23:21] Ludee commented on #151
Looks like an invalid JSON metadata. I will check all input data for the eGoPP next week.

[2017-07-12 11:03] IlkaCu opened #152 "Comment on temporary views"
I found many incorrect 'Comment on table' statements in the code which try to comment on views.
See this [example](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_substation_hvmv.sql#L58-L64).
For the further debugging I will delete these 'comment on table' statements for all temporary views. From my point of view they are not essential as the views are delet

[2017-07-12 11:18] ulfmueller opened #153 "pf_hv versioning: Remove version from temp_resolution"
The temp_resolution in the grid schema does need any version column. So

- [ ] change the versioning script so that no version column is created
- [ ] delete the existing version column
- [ ] create a rule in the versioning script that all new temp_id are added

[2017-07-12 15:13] gplssm commented on #108
Thanks for initiating the run of eGo DP v0.3.0! Currently, I'm focused on other things but I can give support when needed. If I don't react fast enough, just call me.

I'm curious how it goes on!

[2017-07-12 15:21] IlkaCu commented on #108
At the moment we are executing snippet 'ego_dp_loadarea_loadmelt.sql'.
Still a long way to go...

[2017-07-19 05:46] IlkaCu commented on #108
The dp stopped in the REA part. I am out of office until 7/8/2017 and meanwhile @ulfmueller will continue the debugging.
@Ludee: Please keep the github issues in mind I created during the past days.

[2017-07-19 07:14] gplssm commented on #108
Thanks for the update. @Ludee will take care about it tomorrow. Today he's out of office.

[2017-07-20 15:44] Ludee commented on #108
The REA part was refactored by @wolfbunke. I can help next week. Paper deadlines everywhere.

[2017-08-10 12:02] Ludee commented on #142
The renaming was merged and works.

[2017-08-10 12:02] #142 closed

[2017-08-10 13:23] KilianZimmerer commented on #111
'economic.destatis_gva_per_district', 'demand.ego_demand_federalstate' and 'supply.vernetzen_wind_potential_area' are updated to v.1.3.

Snippets are labeld with "_v.1.3" in the end and stored in /preprocessing/sql_snippets.

[2017-08-14 12:46] IlkaCu opened #156 "Bug in 'ego_dp_powerflow_create_pp_mview.sql'"
When executing the sql-snippet 'ego_dp_powerflow_create_pp_mview.sql' the following bug occurs:

![bug](https://user-images.githubusercontent.com/16799094/29272154-2be003aa-80ff-11e7-99fe-86b1592515b5.png)

@wolfbunke: Any ideas what happened here and how to solve it?

[2017-08-14 14:47] wolfbunke commented on #156
Ok, I was testing the [ego_dp_powerflow_create_pp_mview.sql](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_powerflow_create_pp_mview.sql) SQL script via SQL Console without any problem (run time 1:36 minutes).
As next step I take a look into the SQL/Python translation in [/eGo_data_processing.py](https://github.com/openego/data_processing/blob/dev/dataproce

[2017-08-14 16:18] wolfbunke commented on #156
Ok, looks like SQLAlchemy was not able to handle this script:

This article was really helpful:
-  https://stackoverflow.com/questions/38090730/typeerror-dict-object-does-not-support-indexing-thrown-on-second-instance-of
 The hint was that you should not use Python string code like % -> removed comment ` -- ego 100%`  to `-- ego 100` an it works
See also: http://initd.org/psycopg/docs/usage.html#t

[2017-08-14 16:18] #156 closed

[2017-08-15 12:55] s3pp commented on #129
Storage definitions are contained in calc_renpass_gis.renpass_gis_storages.

developed on https://github.com/znes/cFlEnS/tree/open_eGo/current-scenarios
published at https://github.com/znes/FlEnS/tree/master/open_eGo

[2017-08-15 12:59] ulfmueller commented on #129
Do I understand it right that these will be 'automatically' considered in the next dp run?! So in dp release v0.3 it will be included (right now it is still being debugged by @IlkaCu , right?

[2017-08-15 13:02] lukasol commented on #129
I'm currently busy finding the place where these storages are inserted into our dataset. Any hints?

[2017-08-15 13:08] s3pp commented on #129
I think I closed this prematurely and maybe got your question wrong, whether this is part of our dataset. It's part of the renpassG!S dataset, that is a yes, but I don't think, that these data is transferred to the corresponding powerflow tables. Relevant script would be ego_dp_powerflow_timeseries_generator.sql, I guess.

[2017-08-15 13:11] s3pp commented on #129
Now I start understanding, why it's assigned to me. I will have a look into it this week.

[2017-08-15 14:30] ulfmueller commented on #129
I think it is primarily not about the timeseries. It is about seeing the installed storages at the neighboring country nodes and having marginal costs for them so there are included in the lopf, correct?
Anyhow there needs to be something similar to the section starting [here](https://github.com/openego/data_processing/blob/18963496d6788d49d77950b4879130d53e9fac3e/dataprocessing/sql_snippets/ego_d

[2017-08-16 06:57] lukasol commented on #129
It could be also part of that script or if we stay with the current logic we create a script ego_dp_powerflow_timeseries_storage.sql...

I would support the idea of staying with this logic. I think this script was supposed to be added in the v0.3 run, but I am not completely certain.

The marginal costs are currently set to 0. I would adjust them (and all other existing storages) to 0.01 in order

[2017-08-16 07:56] IlkaCu commented on #129
The script ego_dp_powerflow_assignment_storage.sql is not yet integrated in the executing script - my fault! I'll take care of it today.
I would furthermore support the idea of creating a script ego_dp_powerflow_timeseries_storage.sql to assign time series to certain storages. Who takes care of it?

[2017-08-16 09:46] lukasol commented on #129
Talked to @ulfmueller: we'll do the assignment of the storages in neighbouring countries in [this](https://github.com/openego/data_processing/blob/18963496d6788d49d77950b4879130d53e9fac3e/dataprocessing/sql_snippets/ego_dp_powerflow_assignment_storage.sql) script. We can use / modify the snippets that assign generators in the neighbouring countries for that. Timeseries shall not be assigned.

[2017-08-16 09:49] ulfmueller commented on #129
we will discuss today together with @s3pp @IlkaCu @wolfbunke who will implement it.

[2017-08-16 13:51] s3pp commented on #129
Maybe parameters have to be adapted, besides that, it should work fine : )

[2017-08-17 14:10] lukasol opened #158 "Update to new weather data"
New weather data will be provided by @wolfbunke. This results in necessary adjustments of https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_powerflow_timeseries_generator.sql

Will be implemented after Release v0.3

[2017-08-17 14:31] mariusves commented on #146
fixed already in 87e1940

[2017-08-17 14:31] #146 closed

[2017-08-21 12:26] wolfbunke opened #159 "Script still needed?"
https://github.com/openego/data_processing/blob/release/v0.3/dataprocessing/sql_snippets/ego_dp_preprocessing_res_powerplant_2035.sql

Is this script of the Data processing still needed? Or should the table name be changed from `model_draft.ego_supply_res_powerplant_2035` to model_draft.ego_dp_supply_res_powerplant?

[2017-08-24 11:29] IlkaCu commented on #151
Is this issue still pending?

[2017-08-24 11:48] wolfbunke commented on #158
Following new tables can be found on the oedb:
* model_draft.ego_res_powerplant_costdat_gid (related to model_draft.ego_dp_supply_res_powerplant with column coastdat_gid )
* model_draft.ego_simple_feedin_full ( Table with hourly time series for solar, wind on- and offshore  for all substation ids, coastdat_gid and scenarios)
* model_draft.ego_weather_measurement_point ( Table includes data for ger

[2017-08-24 11:50] wolfbunke commented on #120
@Ludee can you please check your not needed tables and close this issue?

[2017-08-24 11:50] wolfbunke commented on #114
I close this issue.

[2017-08-24 11:50] #114 closed

[2017-08-24 11:54] wolfbunke commented on #109
All changes are done in:
* https://github.com/openego/data_processing/blob/dev/preprocessing/sql_snippets/ego_dp_res_rea_by_scenario.sql
* https://github.com/openego/data_processing/blob/dev/preprocessing/sql_snippets/ego_dp_conv_by_scenario.sql

Thank you!

[2017-08-24 12:06] wolfbunke commented on #158
Todo's:

- [ ]  change weather id (w_id)
- [ ]  add ego 100 scenario
- [ ]  create/update  renpassGIS ts in https://github.com/znes/FlEnS/tree/master/open_eGo

[2017-08-25 11:27] lukasol commented on #130
To be done once dp version 0.3 is released, i.e. #108 is closed.

[2017-08-28 09:29] wolfbunke opened #160 "Viewname sq_view vs. sp_mview"
Hi,
I just noticed that in the DP file ego_dp_powerflow_create_pp_mview.sq the Mview name sq_view instead of sq_mview is used. see: #109

https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_powerflow_create_pp_mview.sql#L20-L23

I would like to change it to sq_mview like the other scenario views. Are you okay with it @IlkaCu ?

[2017-08-28 09:34] wolfbunke opened #161 "ego_dp_powerflow_voronoi_weatherpoint.sql -This script is no longer needed"
The script ego_dp_powerflow_voronoi_weatherpoint.sql  is no longer needed since table climate.cosmoclmgrid is used.

old script:
https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_powerflow_voronoi_weatherpoint.sql

New implementation see:
https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_powerflow_assignment_generator.sql#L2

[2017-08-28 12:23] Ludee opened #164 "supply data - energymap not open!"
In the open_FRED project, the lawyer Dr. Jaeger has had a look at all input data and licenses.
One finding is that we now know for sure that what and how we do eGoDP is ok!
The metadata is suitable to provide all necessary information.

Except for one thing: The "energymap" data is not open and cannot be redistributed legally.
This means that the tables _supply.ego_renewable_powerplant_ and thus _

[2017-08-28 13:04] lukasol commented on #164
According to my understanding we currently do the same thing as energymap: publishing data without an explicit open license. They don't seem to have too much trouble with it...

Generally, such a discussion should take place in redmine.

[2017-08-28 16:04] Ludee commented on #164
Moved to open_eGo Redmine. #1870659806

[2017-08-28 16:04] #164 closed

[2017-08-29 08:40] IlkaCu commented on #160
With commit 9680dd52bc7595d014a6e9ba87bf71ed868d7b7e I already fixed this bug in the branch release/v0.3. I would suggest a cherry pick if those changes are needed in the dev branch right know.

[2017-08-29 08:50] IlkaCu commented on #161
From my point of view this script can be removed from the dev branch.

[2017-08-29 10:08] nesnoj commented on #109
I checked the new mviews and get some odd results. Are the data up-to-date?
Executing
[code]
I get only a little part of plants. Executing the same on the deprecated table `supply.ego_dp_res_powerplant` (with version filter) I get the right numbers. Is this due to the missing version no in the mviews (entire column `version` is set to "tba") or is there another bug?
@wolfbunke

[2017-08-29 11:21] wolfbunke commented on #109
"tba" was the starting point (to be announced) from the branch. I will change it to the last version. thx.

[2017-08-29 11:39] wolfbunke commented on #109
ok, I found the bug and solved it in  d54158f

[2017-08-29 12:16] wolfbunke commented on #109
sorry misunderstanding. I checked the data with our query and got the full data:
[code]
Result:

|version|type|count|cap MVA|scn |
|----------|------|------|---------|---------|
|tba|biomass|15.308|7.053|Status Quo|
|tba|gas|838|632|Status Quo|
|tba|geothermal|30|39|Status Quo|
|tba|run_of_river|7.491|1.649|Status Quo|
|tba|solar|1.558.217|38.512|Status Quo|
|tba|wind|26.470|46.976|Status Quo|

Lo

[2017-08-29 12:33] nesnoj commented on #109
Thanks for your quick reply!
Sorry, my bad, it is working now!

One more problem with the current data:
[code]
returns 1,608,386 plants with a capacity of ~95.23 GW whereas the same command on `model_draft.ego_supply_res_powerplant_sq_mview` returns 1,608,354 plants with a cap. of 94.86 GW.
**I assume this small difference origins from an updated RES dataset?**

But now for the real odd stuff if y

[2017-08-29 13:02] wolfbunke commented on #109
I think in supply.ego_dp_res_powerplant are all scenarios and maybe versions together without having the new table structure with scenario and version. @Ludee was ones uploading the model_draft tables to the supply schema in https://github.com/openego/data_processing/tree/release/v0.3/dataprocessing/sql_snippets/rea  or similar?  I will look for it tomorrow and change it. Ok?

Thank you for checki

[2017-08-29 13:53] nesnoj commented on #109
To my mind, the `supply.ego_dp_res_powerplant` is the current stable of RES data, isn't it? Hence the data should be correct?! @Ludee
And your improved MVIEW version `model_draft.ego_supply_res_powerplant_<SCENARIO>_mview` is the current unstable.
But I'm might not up-to-date..

[2017-08-29 18:01] nesnoj commented on #109
Got it. The subst_id/MVGD ids simply changed.
Thanks for digging!

[2017-08-29 18:01] #109 closed

[2017-08-30 06:57] wolfbunke commented on #109
Ok, nevertheless supply.ego_dp_res_powerplant should be changed.

[2017-08-30 07:07] #160 closed

[2017-08-30 07:12] wolfbunke opened #166 "check and update supply tables"
Add version and scenario column

[2017-08-30 08:40] wolfbunke opened #167 "storage in storage_pqset #1069"
Is this task already solved?
See Redmine #1069
and: https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_powerflow_timeseries_generator.sql#L9

[2017-08-30 08:51] lukasol commented on #167
I don't think we need to assign pqset to storage since these are part of the dispatch and / or being optimized.
Am I right?
@ulfmueller

[2017-08-30 09:12] wolfbunke commented on #158
add ego 100 scenario done in 89d4a36

[2017-08-30 09:20] ulfmueller commented on #167
yes. unless we would want to calculate a lpf() or perform comparisons between 'global market simulation'/renpassGIS and 'after_redispatch'/lopf results.
So I would leave this task open but with a low priority for right now.

[2017-08-30 09:22] wolfbunke commented on #167
ok, thank you

[2017-08-30 10:32] nesnoj commented on #109
What exactly do you mean by this? That the table will be replaced by your versions in the v0.3 release?

[2017-08-30 10:41] nesnoj commented on #18
related to #123

[2017-09-04 09:39] ClaraBuettner opened #168 "Add connections between electrical neighbours"
Comparable to the lines between Germany and its electrical neighbours, the electrical neighbours will be connected between themselves.

Up to now, I researched the number and voltage level of crossing lines using entsoe grid map.
When I connected Germany to its electrical neighbours, I used a dissertation (Electricity without borders) to find the cross-border capacitys.
The total capacity of all l

[2017-09-05 11:06] wolfbunke commented on #158
All new weather time series  are created and calculated with renpassG!S.
In calc_renpass_gis.renpass_gis_scenario you can find now the changed scenarios of:

|scenario_id|scneario_name|
|---|----|
|40|eGo 100|
|41|NEP 2035|
|43|Status Quo|

in https://github.com/znes/FlEnS/tree/features/ego-timeseries you can find the new input setting as csv.

[2017-09-05 14:35] ClaraBuettner commented on #168
I started writing a script which connects electrical neighbours automatically, including Germany and connections between other countries.
For AC-lines it works well but there are DC-lines as well.
The last time, I changed the 400kVDC connection to Sweden into a 380kVAC line. Now there are more DC-lines. Shall I change them too or add a link-table for them?

[2017-09-05 16:11] wolfbunke commented on #168
Hi @ClaraBuettner,
do you mean status quo or future Powerline projects?
The official overview of the status quo grid can be seen here:
https://www.entsoe.eu/map/Pages/default.aspx
Are those new DC lines part of the ENTSO-E Map?
@ulfmueller what do you think?

[2017-09-06 07:15] ClaraBuettner commented on #168
I mean status quo, the entsoe grid shows for example a DC connection between Denmark and Sweden.

[2017-09-07 12:31] ClaraBuettner commented on #168
The new script for electrical neighbours is uploaded in feature/electrical_neighbours branch.

[2017-09-08 09:22] IlkaCu opened #169 "column "metadata" of relation "ego_scenario_log" does not exist"
When executing the script 'ego_dp_powerflow_griddistrict_demand.py' I receive the following error:

LINE 1: ...ript_name, entries, status, user_name, timestamp, metadata) ...
                                                             ^
 [SQL: 'INSERT INTO model_draft.ego_scenario_log (version, io, schema_name, table_name, script_name, entries, status, user_name, timestamp, metadata) VALUES (%(ve

[2017-09-08 09:37] IlkaCu commented on #92
@wolfbunke: Could you please specify what you aim at by introducing this issue?

[2017-09-08 09:42] wolfbunke commented on #92
I meant a  general documentation update on bpmn, Readme, etc. as description of all methods. I will remove the Milestone.

[2017-09-11 11:20] IlkaCu commented on #149
This issue is still pending.
@Ludee: Please add your comments here.

[2017-09-12 10:56] s3pp commented on #161
I checked, model_draft.renpassgis_economy_climatepoint_voronoi is created in sql_snippets/ego_dp_powerflow_voronoi_weatherpoint.sql but no longer used by any other script. Should be safe to remove.

This also means, that relation calc_renpass_gis.parameter_solar_feedin, calc_renpass_gis.parameter_wind_feedin can safely be removed from the database. I guess calc_renpass_gis.cosmoclmgrid and calc_re

[2017-09-13 08:31] gplssm commented on #169
I would like to fix it, but I don't have access to the OEDB at the moment (a RLI issue).

I think this issue is related to the ORM specification of the table  'ego_scenario_log'. This table is defined in ego.io in file `model_draft.py`.

[code]

You could change the last row of above ORM class to `meta_data = Column('meta_data', Text)`. This should point to the right column of the table.

[2017-09-13 09:27] nesnoj commented on #169
@gplssm This will solve the problem for now, but in the next ego.io run you'll get the same error again so I'd not recommend to fix it this way.

There's are 2 issues related to the meta_data/metadata attribute:
https://github.com/openego/ego.io/issues/21
https://github.com/openego/data_processing/issues/102

The bug was solved by renaming the column in all tables (see https://github.com/openego/d

[2017-09-13 10:02] gplssm commented on #169
Hmm. I think I don't get it... The script calling class `EgoScenarioLog` [already uses `meta_data=...`](https://github.com/openego/data_processing/blob/50ba34c120025165ddb957c310c56152c3f2d838/dataprocessing/python_scripts/functions/ego_scenario_log.py#L76). As far as I understand, this should work with the class definition as shown in my comment above.

Any hints appreciated!

[2017-09-14 04:36] nesnoj commented on #169
I do not get what's the difference? For me, it makes sense to rename/map a column if I wanna use a different name or if it's a reserved expression such as `metadata` (cf. no. 4 in [ego.io wiki](https://github.com/openego/ego.io/wiki/How-to-update-database-definitions)). But `meta_data` should work here - what's the matter redefining the name again using the same name? I do not get it..

Ok, back t

[2017-09-14 11:22] IlkaCu commented on #169
I'm using the DP branch 'release v0.3' and the dev branch in ego.io.
Both branches are up to date.
Up to now this is the only script which is affected and at the same time it is the only python script in the DP.

[2017-09-14 12:08] IlkaCu commented on #169
I was wrong -It's seems that the installation of ego.io wasn't up-to-date on the server. I'll close this issue as soon as the script has finished.

[2017-09-14 13:23] IlkaCu commented on #169
The script finished successfully. Thanks for your help.

[2017-09-14 13:23] #169 closed

[2017-09-14 13:28] IlkaCu opened #170 "Plausibility check for DP results"
The DP debugging is done. Before the actual release the data in model_draft which has been created during the debugging needs to be checked.

[2017-09-14 15:40] nesnoj opened #171 "clean up the salt (reproducibility)"
In DP, we tried to make sure we get the same results for 2 runs using the same data.
This was partially successful:
1. Many crucial data is reproducible, such as demand per load area, ... great! (We did not really compare the data between 2 runs, though. Right?)
2. Some data are not reproducible by design, such as generator positions. Ok!
3. We have **crucial data that are not reproducible yet but

[2017-09-15 07:20] lukasol commented on #171
I would make use of the osm_id which is always part of the substation tables and does rarely change (as you mentioned). One option would be to simply replace the subst_id by osm_id (probably a bit rough), the other one is to assign an id based on osm_id. We did that for the HV / EHV grid here:
https://github.com/openego/data_processing/blob/c0b360401b6ca0c94e133e54722cbc39216b9bc0/dataprocessing/s

[2017-09-15 08:13] gplssm commented on #171
Thanks for your suggestion! In order to ensure uniqueness of the id based on the osm_id we could include the OSM type in building that id (if I got you right). Just to get it right:
1. Is the osm_id unique?
2. Does the osm_id change for the same substation in a new OSM version?

But, there is another issue: A lot of our DP scripts rely on a range of 1..3608 for the subst_id. All the occurrences wo

[2017-09-15 09:37] lukasol commented on #171
Yes. Well, it is unique for each data type (node, way, relation). The code snippet above shows that we skip the type specification though and expect that the same number does not occur for different types within our substation data set.

No. It's unique ;-)

This would probably mean a restructuring of data types mainly. Depending on the OSM type (node, way relation), the osm_id has different digit

[2017-09-15 12:43] nesnoj commented on #171
Thanks for your contributions!
But what do you think about sorting the OSM ids prior to creation of the substations? (in your initial substation script)
This might can be done with less effort?!

[2017-09-15 13:19] lukasol commented on #171
It sounds nice, but I don't really get an idea how you would do that? According to which parameter would you sort the ids?

[2017-09-15 13:28] nesnoj commented on #171
Can't we use the way / point ids from osm here?

[2017-09-15 14:15] lukasol commented on #171
Yes, you could do that.

[2017-09-15 14:21] nesnoj commented on #171
Great. Is `ego_dp_substation_hvmv.sql` the place (and the only place) for these adjustments?

[2017-09-15 14:25] lukasol commented on #171
Yes, this is the place where the subst_id is introduced. After that, everything should refer to that.

[2017-09-18 13:38] IlkaCu commented on #170
53 buses, of which 27 are connected to generators, are not connected to any line and therefore isolated from the remaining grid.

[2017-09-20 08:24] gplssm opened #172 "Consistency of peak load at various aggregation levels"
In versioned DP dataset v.0.2.10 peak loads in load areas and LV grid districts deviate quite heavily.

Cumulative deviation in kW:
[code]

Model draft data of v0.3.0 shows smaller cumulative deviation
[code]

But maximum deviation for agricultural and residential sector is large to be acceptable

Maximum deviation 'model_draft' in kW:
[code]

Fix this in [ego_dp_lv_consumption_peakload.sql
](http

[2017-09-21 15:06] s3pp opened #173 "Time-varying data for undefined generators v0.2.11 'NEP 2035'"
As reported in https://github.com/openego/eTraGo/issues/33 PyPSA warns about time-varying data of generators without corresponding generator definitions running eTraGo with data on v0.2.11 for scenario 'NEP 2035'. On database level generator '21549', the only one I tested, is indeed only defined in generators_pq_set. Not sure who to assign, feel free to reassign : ).

[2017-09-21 16:05] ulfmueller commented on #170
when calculating a LOPF for the Status Quo scenario, this is a 'warning message':

ERROR:pypsa.io:Error, new components for Generator are not unique

[2017-09-21 16:13] ulfmueller commented on #170
in the following the 'error message':

WARNING - Loading a SolverResults object with a warning status into model=Linear Optimal Power Flow; message from solver=Model was proven to be infeasible.
ERROR:pypsa.opf:Optimisation failed with status warning and terminal condition infeasible
/usr/local/lib/python3.5/dist-packages/matplotlib/colors.py:581: RuntimeWarning: invalid value encountered in less

[2017-09-21 16:21] ulfmueller commented on #170
for the NEP 2035 scenario, this is what I get:

WARNING:pypsa.io:The following Generator have buses which are not defined:
Index(['2', '5', '8', '11', '14', '17', '20', '23', '26', '29',
       ...
       '200087', '200088', '200089', '200090', '200091', '200092', '200093',
       '200094', '200095', '200096'],
      dtype='object', length=14555)
No data for StoragePqSet in column p_set.
Series p_

[2017-09-21 16:21] ulfmueller commented on #170
and for the eGo 100:

WARNING:pypsa.io:The following Generator have buses which are not defined:
Index(['1', '4', '7', '10', '13', '16', '19', '22', '25', '28',
       ...
       '200124', '200125', '200126', '200127', '200128', '200129', '200130',
       '200131', '200132', '200133'],
      dtype='object', length=8200)
No data for StoragePqSet in column p_set.
Series p_set of component StorageUni

[2017-09-22 14:03] IlkaCu opened #174 "Missing generator timeseries"
The latest data set we created reveals bugs in the assignment of generator time series. In the different scenarios only 27 - 32 generators have a p_max_pu time series. Note: All renewable generators should have one. Only to those renewable generators connected to buses abroad time series where assigned.
@wolfbunke: Might this bug be caused by your adjustments concerning the weather data?

[2017-09-22 14:07] ulfmueller commented on #174
@wolfbunke please give this a very high priority!
This bug is a mayor problem - only if we have solved this we can have a clean dp release v0.3.

[2017-09-22 14:39] nesnoj opened #175 "changing ids of conv generators in different scenarios"
The ids for same conventional power plants are different for different scenarios.

[code]
shows the problem.

Or try
[code]
and you'll get an empty list..

As far as I can see we do not have this problem in the RES tables..

This bug makes it very hard to add new generators resp. to check if a generator exists..
Please fix asap in v0.3, thank you!

[2017-09-22 14:50] gplssm opened #176 "RES generators in the sea (not wind offshore)"
I already reported to @wolfbunke via telephone and mail. Around Helgoland, some PV power plants are located in the sea.
![res_powerplant_in_the_sea](https://user-images.githubusercontent.com/8255114/30750200-0c41d430-9fb6-11e7-8714-3ad821908139.jpeg)

Can you say something about the progress?

[2017-09-22 14:51] IlkaCu commented on #174
I also noticed that the dispatch for wind and pv plants wasn't set to 'variable' in this run. (I will fix this)
@s3pp, @wolfbunke : Is this information essential to generate p_max_pu time series for those generators?

[2017-09-22 15:00] IlkaCu commented on #174
It actually seems that the missing dispatch information causes the problem.
See [here](https://github.com/openego/data_processing/blob/master/dataprocessing/sql_snippets/ego_dp_powerflow_lopf_data.sql#L69).

[2017-09-22 15:06] IlkaCu opened #177 "Some generators outside Germany without source"
In the eGo 100 scenario some generators assigned to buses abroad are lacking information about their source.
![grafik](https://user-images.githubusercontent.com/16799094/30750929-11791f06-9fb8-11e7-9ff0-aa771ff25133.png)

@s3pp, @wolfbunke: Any ideas how this can happen?

[2017-09-22 15:30] mariusves commented on #170
For Status Quo I'm getting the following:

ERROR:pypsa.opf:Optimisation failed with status warning and terminal condition infeasible
WARNING - Loading a SolverResults object with a warning status into model=Linear Optimal Power Flow; message from solver=**Model was proven to be infeasible.**
Traceback (most recent call last):

  File "<ipython-input-1-a9f812191d24>", line 1, in <module>
    runfil

[2017-09-22 16:48] nesnoj opened #178 "decommissioning of conv. PP"
I have some questions concerning the conv. PP dataset:

I just discovered the `shutdown` column..
1. some PP in the SQ mview are shut down before 2015 (year of SQ scenario). In Dingo, I did not exclude these PP. Did you in the transmission part?
(actually, only 4 plants are affected in v. levels 4..7 but I have to cope with it nevertheless..)
2. There're 220 PP which are included in SQ mview but n

[2017-09-25 07:20] wolfbunke commented on #178
Hey @nesnoj,
thanks for checking! I integrated the  `shutdown >=2015` in the sq_mview, [see here:](https://github.com/openego/data_processing/blob/dev/preprocessing/sql_snippets/ego_dp_conv_by_scenario.sql#L348)

To point two: we excluded all PP with the scenario capacity of zero in the mViews.
[code]
which are 271. Also are some BNetzA ID's called several times due to different counting of blocks

[2017-09-25 07:37] nesnoj commented on #178
Thanks for fixing the 1st one!

But now I'm slightly confused..
I thought we only use 2 "base" tables `model_draft.ego_supply_conv_powerplant` and `model_draft.ego_supply_res_powerplant` and 3 MVIEWS for each of them (scenarios)?!
Why are u using the table `model_draft.ego_supply_conv_powerplant_2035`? I thought it is deprecated?

[2017-09-25 07:52] IlkaCu commented on #174
After updating the dispatch information and a rerun of the relevant scripts this problem is solved.

[2017-09-25 07:52] #174 closed

[2017-09-25 08:03] wolfbunke commented on #176
Hey @gplssm are you using the sq_MView here?

[2017-09-25 08:09] nesnoj opened #179 "bug in v_level of generators"
In some (or all, I don't know) datasets of RES PP (`ego_dp_supply_res_powerplant`), `voltage level_var` is different from `voltage_level` (in all scenarios).
E.g. geno id=902876 says "07 (NS)" and "6"...
[code]
How come?

[2017-09-25 08:12] wolfbunke commented on #174
ok, nice!

[2017-09-25 08:17] wolfbunke commented on #177
Ok, I will check the sources and assignment of renpassGIS. My first guess was a bug in [powerflow_timeseries_generator.sql](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_powerflow_timeseries_generator.sql) but it seems the bug happens earlier in process.

[2017-09-25 08:43] wolfbunke commented on #178
The table` model_draft.ego_supply_conv_powerplant_2035 ` represents the original data from the NEP with all NEP scenarios as input and starting point for the further processing which ends in the `model_draft.ego_dp_supply_conv_powerplant ` as `scenario = "NEP 2035"`. In order to show you how many  power plants are set to zero/ decommission I was using this table which ist not filtered for my expla

[2017-09-25 11:33] wolfbunke commented on #177
I checked the different results objects of renpassGIS and the eGo 100 scenario and couldn't find a bug or changes of the source.

[code]

Is this also happening in NEP 2035 scenario or only in eGo 100 @IlkaCu ?

[2017-09-25 11:35] ulfmueller commented on #170
Status Quo works fine for me. Did you chose the load shedding function?

for the future scenarios, the errors remain.

[2017-09-25 11:45] ulfmueller commented on #170
This function in pypsa throws the warning:
https://github.com/openego/PyPSA/blob/master/pypsa/io.py#L217-L223

[2017-09-25 12:38] ulfmueller commented on #170
For some reason, in the future scenarios the network.generators.bus object are decimal values. Therefore all the generators are not connected to the buses. It is weird because the data comes from the exact same column in the database. It might be rather an io problem in ego.powerflow or in the pypsa import_components_from_dataframe function. @mariusves @s3pp Any ideas?

[2017-09-25 12:41] wolfbunke commented on #177
![gis_plot_](https://user-images.githubusercontent.com/14540685/30807807-ad99dc14-a1fb-11e7-8054-74a6388ef266.png)

[code]

[2017-09-25 12:45] wolfbunke commented on #177
[code]
Ok, I found the missing seven sources by using the p_nom value: "AT_hydro", "AT_geothermal", "CH_hydro", "CZ_hydro", "FR_hydro", "FR_geothermal", "SE_hydro"

[2017-09-25 12:47] ulfmueller commented on #170
Found it!
There is each one power plant which has a null value in the bus column. That causes the problem. To test it I deleted them. For the debugging, here are they:

"NEP 2035";34843;;"variable";"PQ";900;f;0;;0;1;1;13;0;;
"eGo 100";34846;;"variable";"PQ";900;f;0;;0;1;1;13;0;;

[2017-09-25 13:18] wolfbunke commented on #177
I prepared a bug fix for this version:

[code]
and for geothermal here

[code]
I used the source numbering according to `model_draft.ego_grid_pf_hv_source`.
The eGo 100 Scenario set is changed [here](https://github.com/znes/FlEnS/commit/0697404e4d2f2fab69dd67bdd09c7d5d25803044)

If you agree I will use the bug fix without running all renpassGIS calculation again including new scenario number, etc.

[2017-09-25 13:58] wolfbunke commented on #177
renpassGIS lable fix:

[code]

[2017-09-25 14:05] gplssm commented on #176
Nope, this is based on v0.2.10. I haven't checked the data of version 0.3.0 for this issue. Do you know if the same issue occurs there as well?

[2017-09-26 07:41] wolfbunke commented on #177
@IlkaCu please check and close this issue

[2017-09-26 07:47] IlkaCu commented on #177
What about the geothermal power plants?
And what do you want me to check? Your changes in renpassGIS or if it affects the overall results in the PF-data?

[2017-09-26 07:47] IlkaCu commented on #177
What about the geothermal power plants?
And what do you want me to check? Your changes in renpassGIS or if it affects the overall results in the PF-data?

[2017-09-26 08:42] #158 closed

[2017-09-26 10:48] wolfbunke commented on #176
ok, I will check it.

[2017-09-26 13:22] wolfbunke commented on #177
Yes I changed all. By checking the data and code I couldn’t find a bug for geothermal in renpassGIS. I am not sure what happens.

[2017-09-26 13:24] wolfbunke commented on #177
By checking i meant to test if the Data error is fixed and works for you.

[2017-09-28 07:59] wolfbunke opened #180 "Move pre-data_processing of RES and Conv Power plants to DP?"
At the moment the script of:
- https://github.com/openego/data_processing/blob/release/v0.3/preprocessing/sql_snippets/ego_dp_res_rea_by_scenario.sql
- https://github.com/openego/data_processing/blob/release/v0.3/preprocessing/sql_snippets/ego_dp_conv_by_scenario.sql

do not take place in the DP run as a part of the preprocessing.
This causes a misunderstanding of version numbers. At the moment th

[2017-09-28 09:03] nesnoj commented on #178
Ok, thank you @wolfbunke !
Regarding 2): So I will assume these PP are decommissioned and *won't use* the column `shutdown` - right, @wolfbunke ?

[2017-09-28 09:09] nesnoj commented on #175
Is it possible to assign the same ids for the same plants? Or is this impeded by the "different counting of blocks and power plants in the NEP Power Plant list and BNetzA Powerplant list" (https://github.com/openego/data_processing/issues/178#issuecomment-331797343) ?

If not I've no idea which column I can use to compare the same plant in different scenarios (according to your statement above, th

[2017-09-28 09:13] wolfbunke commented on #178
yes, that's the idea. But I really need to fined time to make the valuation next week.

[2017-09-28 09:58] nesnoj opened #181 "RES and CONV PP related issues (dp v0.3)"
This issue is to collect RES and CONV PP-related bugs we found recently. Please tick here if resolved and close related issue.

- [x] Fix changing ids of conv generators in different scenarios #175 @wolfbunke   v0.3.0
- [x] RES generators in the sea (not wind offshore) #176 @wolfbunke  v0.3.1
- [x] Decommissioning of conv. PP #178 @wolfbunke  v0.3.0
- [x] Bug in v_level of generators #179 @IlkaCu

[2017-09-28 14:24] nesnoj commented on #181
One more question @IlkaCu @wolfbunke:
Does the v_level change in future scenarios if the increasing capacity of a PP exceeds the threshold of the next voltage level (according to [our table](http://oep.iks.cs.ovgu.de/redmine/projects/open_ego/wiki/Methoden_Zuordnung_von_Erzeugern_und_Verbrauchern_zu_Spannungsebenen_und_Netzknoten))?

[2017-09-29 12:02] nesnoj opened #182 "RES PP with capacity=0"
Some (173) RES PP of type biomass in NEP 2035 scenario have a capacity of 0. Is this a bug or a feature?
If the value is correct, shouldn't they be removed from the table?

Query:
[code]

Edit: This problem does not occur in EGO100 scenario.

[2017-09-29 13:59] ulfmueller commented on #170
the model_draft right now (after the bug fixes done so far) allows to realize lopf for all three scenarios!!! The results on the first sight look reasonable!!
@IlkaCu Nice! what do you think? How far away are we from a clean-run?

[2017-09-29 14:14] nesnoj commented on #170
Do you mean a clean-run for entire dp v0.3?
(If so, I'd like to mention #181 :)

[2017-09-29 14:31] ulfmueller commented on #170
yes, I meant the entire run. Thx for mentioning #181
Are all todos in #181 a must-have for the clean-run v0.3. (or will there be a next release ;))?

at least (to mention s.th. positive at the end of the week ;)),
I am happy that eTraGo can apparently produce quite reasonable results with that dataset now. And that for the first time we can model powerflows for the eGo 100 scenario. So at least fo

[2017-09-29 14:43] nesnoj commented on #170
Sounds great! :tada:
I'm struggling with the geno import of future scenarios since there're too many bugs in the supply part. I'm afraid that they have to be fixed prior to the release..

[2017-09-30 09:45] wolfbunke commented on #181
Thx, @nesnoj, I updated the version numbering and continue with this list on the next days.

[2017-09-30 21:23] nesnoj commented on #181
Thx!
Uh, now it seems I do not have sufficient privileges to access the mviews - please update the ownership to `oeuser`!

[2017-10-02 11:42] Ludee commented on #149
I think option 2 is best.
Then we don't need a third script.

[2017-10-02 11:51] Ludee commented on #171
I prefer the idea to have a `ORDER BY osm_id` instead of replacing the `subst_id`.
Did anybody committed a solution yet?

[2017-10-02 20:29] nesnoj commented on #171
Nope...if it's easy for you I'd appreciate if you'd solve this :)

[2017-10-04 07:53] nesnoj opened #183 "population differs between MVGDs and LAs"
By accident, I discovered an inconsistency in dp numbers:

Population sum of all MVGD = 78.138.134
[code]

Population sum of all LA = 80.318.192
[code]
(same problem in the model draft version with slightly different numbers)

Ideas, somebody?

[2017-10-05 07:59] wolfbunke commented on #175
The best way is to compare the scenarios is by using the subst_id values like:
[code]
Result of subst_id=265 :

| sq_cap |sq_count |scenario| nep_cap|nep_count |scenario|diff_cap|
|-----|---|-------|------|----|--------|-----|
|98.2|3|Status Quo|101.1|3|NEP 2035|2.900|

The comparison of  single power plants can only be done by using the bnetza_id and a aggregation functions in order to sum up the

[2017-10-05 08:31] nesnoj commented on #175
Thanks for the queries, but is it possible for you to assign the same ids for the same plants?

1. This would be an easier and consequent way (as in RES) of using it...
2. I could implement your query(ies) in SQLA but since I do not fully understand them (+there's no documentation), it's very likely that, if something will change in the future, I will be hardly able to understand or fix the bug...

[2017-10-05 09:33] wolfbunke commented on #175
I see your point. But the question is also as long new IDs are given by NEP lists and power plants are changing e.g. by changes of technology, capacity, fuel etc. how I make the decisions of merging those power plants together? Or do we have new Power plants / blocks? A matching could ends in missunderstanding by having unique id's, or? Another way for comparison could be to compare the regional c

[2017-10-05 10:58] wolfbunke commented on #180
After a discussion, the idea is to leave the scripts in preprocessing and use a preprocessing version no for schema model_draft. The visioning for supply schema works as before.

[2017-10-05 11:46] nesnoj commented on #175
Further steps:

I'll try to find out if grid expansion costs are negligble compared to the costs for RES connection

- Yes: I will disconnect all conv. PP of SQ and treat the ones from NEP as new PP.
- No: Identify existing genos by using the geom

[2017-10-05 11:53] nesnoj commented on #181
I had a chat with @wolfbunke:
- RES: Wind and PV are extended by using new PP only -> **no v_level change!**
- RES: Water and Biomass are extended by updating capacities as well as new PP -> **v_level changes may occur**
- CONV: Both, new PP as well as updated capacities -> **v_level changes may occur**

I hope I got this right, @wolfbunke ?

[2017-10-05 12:50] wolfbunke commented on #180
After a discussion with @IlkaCu and @ulfmueller , the idea is to leave the scripts in preprocessing and use a preprocessing version number for schema model_draft. The visioning for supply schema remains the same as before.

[2017-10-05 13:07] wolfbunke commented on #181
yes, from my part of scripts. I am not sure if @IlkaCu is using a script in dp in order to change the v_level by our size assumption later on?

[2017-10-06 07:35] wolfbunke commented on #182
His problem is solved in  13583e5  by adding a filter to the mviews.

[2017-10-06 08:01] wolfbunke commented on #166
This done for [COV here ](https://github.com/openego/data_processing/blob/release/v0.3/preprocessing/sql_snippets/ego_dp_conv_by_scenario.sql) and [RES here](https://github.com/openego/data_processing/blob/release/v0.3/preprocessing/sql_snippets/ego_dp_res_rea_by_scenario.sql)

[2017-10-06 08:01] #166 closed

[2017-10-06 08:18] ClaraBuettner commented on #168
In the last script I cheated and added the Sweden connection as AC line, but it's actually DC. Now, I could do it right and it would also be a good opportinuity to test DC-lines.

[2017-10-06 09:39] nesnoj commented on #182
In your commit, you use `electrical_capacity >= 0` which includes PP with cap=0.
Shouldn't you use `electrical_capacity > 0` instead?

[2017-10-06 10:28] wolfbunke commented on #182
yes of course, I was sending the wrong commit 0ac99c6, sorry.

[2017-10-06 10:28] #182 closed

[2017-10-06 11:45] wolfbunke commented on #176
I was testing the table:
- supply.ego_dp_res_powerplant
- model_draft.ego_dp_supply_res_powerplant
- model_draft.ego_supply_res_powerplant

and could not reproduce your data error. Can you please name me the schema and name of the table which shows this error?

[2017-10-06 13:55] gplssm commented on #176
Please take data of
[code]

Put a map in the background a look north of Helgoland. There are two wind offshore power plants (in and close to "Danger Area Sylt A" that are connected in Ding0 to the MV grid. These wind power plants are tagged with voltage_level 4/5.
Thus, I would say the position of the power plants is fine, but voltage level assignment is wrong.

I thought that I found a PV power p

[2017-10-06 14:21] wolfbunke commented on #176
ok, thanks, I will take a closer look and control all wind_offshore plants according to there voltage level.  By my visual check with QGIS I cound't find this PV units either.

[2017-10-06 14:35] wolfbunke commented on #176
Looks like between the versions there are few changes and maybe script parts got lost:

[code]
|generation_subtype|voltage_level|count(*)| version|
|--------|----|-----|-------|
|wind_offshore|1|1104|v0.2.10|
|wind_offshore|1|1321|v0.2.8|
|wind_offshore|1|1104|v0.2.9|
|wind_offshore|3|9|v0.2.10|
|wind_offshore|3|3|v0.2.8|
|wind_offshore|3|9|v0.2.9|
|wind_offshore|4|113|v0.2.10|
|wind_offshore|4|11

[2017-10-06 14:52] gplssm commented on #176
Thanks for diggin'! If only wind offshore PPs are located in the sea, I'm in general fine with it. The only that has to be changed is the voltage level. Offshore wind PP can not have voltage level >= 4.

[2017-10-09 09:07] nesnoj opened #184 "Missing subst_id in commissioned RES"
In the newly commissioned wind and PV PP in NEP+EGO100 MVIEWs the substation id is missing..

Try
[code]

[2017-10-09 09:51] wolfbunke commented on #184
HI I was restarting the processing of all RES data the script for the subst_id's is still running.

[2017-10-09 09:53] nesnoj commented on #184
ok, please leave a short message as soon as it will be finished..

[2017-10-09 14:09] wolfbunke commented on #184
Update the script is still running :( I hope tomorrow it is done.

[2017-10-09 14:13] nesnoj commented on #184
Ok.
Please announce when you plan to update the tables next time since it is pretty hard for me to test my code without data.. ;) thanks!

[2017-10-09 14:20] wolfbunke commented on #184
I am sorry! It was not planed like this!

[2017-10-09 14:35] wolfbunke opened #185 "Create power plant MViews for supply schema including version number"
Create MViews for
- supply.ego_dp_res_powerplant
- supply.ego_dp_conv_powerplant

for each scenario and version

[2017-10-10 04:14] wolfbunke commented on #184
Ok, the run is done.

[2017-10-10 04:14] #184 closed

[2017-10-10 04:16] #180 closed

[2017-10-10 13:14] nesnoj commented on #183
From my POV, this one is quite crucial and must be solved prior to v0.3.0 release.
Who is responsible for the scripts?

[2017-10-11 12:03] IlkaCu commented on #183
@Ludee is the author of the LA scripts. Can you help here?
Unfortunately I'm not familiar with these scripts.

[2017-10-12 08:39] IlkaCu commented on #181
Sorry for not answering earlier.
In the [code](https://github.com/openego/data_processing/blob/release/v0.3/preprocessing/sql_snippets/ego_pre_voltage_level.sql#L118-L126) we make sure that all conventional power plants keep the same voltage level in all scenarios regardless of whether their capacity changes or not.

[2017-10-12 09:12] IlkaCu commented on #178
Is this still pending?

[2017-10-12 09:30] IlkaCu commented on #175
@nesnoj: As I am trying to push the release v0.3 further, please let me know if this issue is absolutely necessary for v0.3 from your point of view.
If yes, how far are we from a solution and is there anything I can do?

[2017-10-12 09:33] IlkaCu commented on #151
@Ludee: Any news here?

[2017-10-12 09:35] IlkaCu commented on #111
Is this issue completed?

[2017-10-12 10:57] ClaraBuettner commented on #168
![nachbarlander_mit_dc](https://user-images.githubusercontent.com/22964326/31492642-4ccf55c2-af4c-11e7-86ac-54486be8c09e.png)
![nachbarlander_ac](https://user-images.githubusercontent.com/22964326/31492648-4f63cb7e-af4c-11e7-9bb6-90cc8784a024.png)
Now, both is possible, the pictures show line loading at the same snapshots.  But I havn't thought the differences were so remarkable.

[2017-10-12 12:23] MGlauer commented on #111
I will write a script that checks the state of the comments of all tables in the (visible schemas of the) oedb. Keep it open until then

[2017-10-12 12:55] IlkaCu commented on #149
@Ludee: Please let me know if there are scripts in den 'structure and setup' part which need to be executed in every DP run. Otherwise I will move all of them to the preprocessing section.

[2017-10-12 14:32] nesnoj commented on #178
@wolfbunke is to close this issue as soon as he will have finished the validation..

[2017-10-12 14:39] nesnoj commented on #181
ok, cheers

[2017-10-12 14:45] nesnoj commented on #175
I need it asap and I'd prefer a dp-solution for the reasons stated above.
But I think I can solve it in eDisGo with the current PP data..

[2017-10-12 14:45] #175 closed

[2017-10-12 14:54] nesnoj commented on #181
Almost all v0.3-related issues seem to be resolved.
If you @wolfbunke are sure that the bugs which are marked as done are fixed, go ahead..

What is the current plan for the docs? By now, I've no idea how an external user is supposed to understand the relations of the supply tables (except of the papers published but they lack of details)..

[2017-10-13 06:50] wolfbunke commented on #178
Yes

[2017-10-13 06:59] wolfbunke commented on #181
This is a good point. I took a look if we can maybe use Docstrings like in Python with sphinx docs but I didn't find a good solution for sql scripts. Maybe we just write md or rST Filies plus a update of bpmn and implement them in our read the docs?

[2017-10-13 13:22] nesnoj commented on #181
@wolfbunke @IlkaCu
In the current dataset the columns `rea_geom_new` and `mvlv_subst_id` are **EMPTY**.
Are you currently running scripts on the supply tables?

[2017-10-13 14:33] Ludee commented on #183
I will have a look at it now.

[2017-10-13 15:43] Ludee commented on #183
Bei den MVGD war das "falsche" geom (nicht _geom_pnt_) gewählt.

[2017-10-13 15:46] Ludee commented on #183
table, sum, count
'md mv_griddistrict','80319370','3177354'
'md loadarea','80318008','3177139'

Jetzt kommt der härte Teil: 215 Zensuspunkte werden in den LA nicht gezählt.

[2017-10-15 07:21] wolfbunke commented on #181
Hey @nesnoj , it looks like the rea script doesn't run full. I will start the missing parts in the evening at the moment I am at the train back home.

[2017-10-16 11:10] nesnoj commented on #181
Ok, please gimme a *trööt* as soon as it is done..

[2017-10-16 11:12] nesnoj commented on #183
Uh, that's odd...
Why did you use UNION? Is there something wrong with the simple queries in my first post?

[2017-10-16 15:05] wolfbunke commented on #181
The script is in the m5 section of the rea scripts and runs since 20 hours. I let it run over night at office and hope it's tomorrow done.

[2017-10-17 07:36] wolfbunke commented on #181
Ok, trööt ... I hope there is not another DP Script missing.

[2017-10-17 09:51] nesnoj commented on #181
Did you update the MVIEWS as well?

[2017-10-17 10:02] wolfbunke commented on #181
no, it is running now. Thanks for you!

[2017-10-17 12:48] wolfbunke commented on #176
This was an error of the first versions.
In the next version with can be found in model_draft it is fixed. See:
[code]

[2017-10-17 12:49] wolfbunke commented on #176
Should the old version be updated or is an new v0.3.0 version enough? @IlkaCu @nesnoj @gplssm

[2017-10-17 13:10] nesnoj commented on #176
Uhh, that's not an easy question - is relates to the general question whether we should touch an existing dataset? I think we should not but (without a new release like 0.2.11). If yes, the bugfixes have to be documented somewhere. If not, document the bugs.

v0.3.0 is ok :+1:

[2017-10-17 16:17] wolfbunke commented on #181
MViews are refreshed with following code: https://github.com/openego/data_processing/blob/release/v0.3-refresh-mviews/dataprocessing/sql_snippets/ego_dp_refresh_mviews.sql
It is four times faster as before.

[2017-10-18 08:30] IlkaCu commented on #183
Any news here?

[2017-10-18 08:33] #159 closed

[2017-10-18 09:45] IlkaCu commented on #179
The column voltage_level_var is the 'original' data from BNetzA etc. and the entries in the column voltage_level are created according to our allocation table and the installed capacity of the specific power plant.
One exception are offshore wind power plant which are generally assigned to voltage level 1.

[2017-10-18 19:30] nesnoj commented on #179
Oh, I should know this...*cough*
Thanks for re-explaining

[2017-10-18 19:30] #179 closed

[2017-10-19 09:28] wolfbunke commented on #181
MView Documentation as bpmn can be found here: https://github.com/openego/data_processing/blob/release/v0.3/bpmn/eGo_bpmn_pp_mviews.graphml

[2017-10-21 12:09] Ludee commented on #183
I could identify the bug between the osm landuse and LA geometries. the census points are too close to the edges (ca. 100m) and thus are not included. I don't know why the borders change, I guess due to a buffer and rebuffer.
I will fix it, either by finding the source of the border difference or by just solving it hard.
![2017-10-21_census_bug](https://user-images.githubusercontent.com/14353512/3

[2017-10-21 14:12] Ludee commented on #183
A deeper look into the [ST_BUFFER functions](http://postgis.net/docs/ST_Buffer.html) gives two possibilities:
1. Increase the number of points to make the buffer "round" -> **quad_segs**=8 (default, green line) -> 16 (blue line)
This gives a "better" result and fixes this example, but still has a tiny gap. Also increases geom size and calculation time. so:
2. Change the **join style** to "mitre" a

[2017-10-21 15:38] Ludee commented on #183
I did some more testing and saw that the solution doesn't work as desired. The concave geometries (and census squares) aren't "melted properly" resulting in ugly LA.
I will do some tests with solution 1 and compare the calculation time. Damn complicated bug!

[2017-10-24 08:37] IlkaCu commented on #183
Could you please let me know when you are planning to further work on this bug? As I'd like to start the clean run tomorrow or Thursday, we need to decide whether we can include this bug fix in v0.3 or postpone it to v0.3.1.

[2017-10-24 09:42] IlkaCu commented on #149
Most of the structure and setup snippets are moved to the preprocessing section.

[2017-10-24 09:42] #149 closed

[2017-10-24 10:18] #108 closed

[2017-10-24 10:22] IlkaCu commented on #151
@Ludee: Did you find the time to take a closer look here?
If not, I would skip this snippet in the v0.3 release.

[2017-10-24 14:24] KilianZimmerer commented on #111
I updated all existing metadata to v1.3. Since some of the tables were using old metadata versions, their v1.3 version is not complete.

So far no metadata is existent for the following tables:
- climate.cosmoclmgrid
- environment.copernicus_clc_2012_v_18_4_filter
- environment.copernicus_clc_2012_v_18_4_filter_germany
- grid.ego_pf_hv_load_pq_set
- hydrolib.fred_gaugeheight_station
- openstreetma

[2017-10-24 15:03] KilianZimmerer commented on #111
sorry, closing it was an accident ;-)

[2017-10-24 19:18] nesnoj commented on #68
Aha...7 months later...and nothing happened @Ludee ;)
Are you able to fix it quickly? Otherwise we may leave it unfixed for now...

Related dingo issue: https://github.com/openego/ding0/issues/155

[2017-10-25 07:36] Ludee commented on #68
You shouldn't have said "don't rush" ;)
This bug seems to be more complicated, so won't be fixed in this version. sorry

[2017-10-25 12:19] IlkaCu commented on #111
The metadata for table grid.ego_pf_hv_load_pq_set can be found [here.](https://github.com/openego/data_processing/blob/release/v0.3/preprocessing/sql_snippets/ego_dp_structure_versioning.sql#L2699-L2784) This part of the snippet simply needs to be executed or am I wrong?

[2017-10-25 19:50] gplssm commented on #183
As far as I understood @Ludee he decreased difference significantly. He won't fix it entirely in v0.3. I shift it to v0.3.1

[2017-10-26 07:31] Ludee commented on #111
Yes, I executed the sting and its valid.
@KilianZimmerer I just saw that you included RLI as copyright owner of all updated metadata strings. This is not correct! It depends on which institute created the table / code. So please have another look at all tables that were updated with your scripts.

[2017-10-26 07:32] Ludee commented on #111
The other tables are not part of eGoDP and thus don't need to be updated for v0.3

[2017-10-26 08:02] KilianZimmerer commented on #111
@Ludee I might did this with an older version of the conversion script. Recent updates should be alright, though. I will have a look.

[2017-10-26 09:41] Ludee commented on #151
Tricky bug!

There is a comment on column in the table _economy.destatis_gva_per_district_:

`COMMENT ON COLUMN economy.destatis_gva_per_district.gva_tertiary_sector
    IS 'Commercial, trading, public buildings etc.';`

I removed the comment and the script is working again.
So the _input_verification_ did it's job to give an error when the input table structures (metadata) is not valid ;)

The in

[2017-10-26 09:42] #151 closed

[2017-10-26 09:43] Ludee commented on #72
since you merged the PR this issue can be closed @IlkaCu ?

[2017-10-26 09:47] Ludee commented on #152
They were added semi-automatic in order to have a comment with the latest eGoDP version on every table in model_draft.
This way I wanted to identify all recent tables and find all old temp tables.

I think we agree that we don't need full metadata for temporary views/mviews/tables in model_draft.
What do you mean with "incorrect" comment? Do they give errors or just because they don't follow the m

[2017-10-26 09:50] nesnoj commented on #181
:+1: Thank you @wolfbunke

[2017-10-26 13:02] IlkaCu commented on #152
They gave errors - but as far as I remember those comments where only applied for temporary mviews which where deleted in the same script. Removing those statements shouldn't be a problem.

[2017-10-26 13:02] #152 closed

[2017-10-26 13:32] nesnoj opened #189 "missing scenario column in supply.ego_dp_res_powerplant"
@wolfbunke The `supply.ego_dp_res_powerplant` does currently not have a `scenario` column. I guess you have to add it prior to the v0.3 release not to loose this information?

I just added a new version `v0.3.0pre1` and saw that this info is missing..

Any other tables affected? conv PP?

[2017-10-26 13:33] nesnoj commented on #185
see #189

[2017-10-26 13:37] nesnoj commented on #189
I need this column now (prior to v0.3 run), can we just add it? Any other tables affected besides `supply.ego_dp_res_powerplant` and `supply.ego_dp_conv_powerplant`?

[2017-10-26 13:44] IlkaCu commented on #189
What do you mean by scenario column? As far as I see the tables do have a version and a preversion column.

[2017-10-26 13:54] nesnoj commented on #189
Have a look at `model_draft.ego_dp_supply_res_powerplant` which is the current unstable. @wolfbunke introduced the `scenario` col. which contains "Status Quo"/"NEP 2035"/"ego 100". He uses it in the MVIEWs to select the right plants..

[2017-10-26 13:57] nesnoj commented on #189
Damn, another bug:
In the `ego_dp_versioning.sql` script, the old tables are copied! (`model_draft.ego_supply_res_powerplant` / `model_draft.ego_supply_conv_powerplant`)

Please adjust and re-check if any other source tables must be renamed..

[2017-10-26 14:01] IlkaCu commented on #189
From my point of view you can add the missing scenario column in supply.ego_dp_res_powerplant and supply.ego_dp_conv_powerplant.
Meanwhile I will check and adjust the versioning script.

[2017-10-26 14:06] nesnoj commented on #189
@wolfbunke Objections?

[2017-10-26 14:17] IlkaCu commented on #189
Wolfbunke is out of office this week. So it's up to us to decide.

[2017-10-26 14:32] IlkaCu commented on #189
Table model_draft.ego_supply_conv_powerplant also includes a column 'la_id'. Should this one be included in the versioned table as well?

[2017-10-26 14:40] nesnoj commented on #189
Ok. I can add the additional column without the NOT NULL flag..but this must be reviewed by @wolfbunke later on (+ do not forget to .

My primary concern is, that the change in those two table names (`ego_supply_res_powerplant` --> `ego_dp_supply_res_powerplant` + same in conv. table) might not be considered in the whole DP. Searching in the repo, I still find heaps of occurences of the old name i

[2017-10-26 14:46] nesnoj commented on #189
`model_draft.ego_supply_conv_powerplant` is the old one! You probably mean the new one as it contains these cols as well..
Yes, I assume they have to be added too (at least flag and la_id must be included).

[2017-10-26 14:47] IlkaCu commented on #189
First I'll fix the versioning script and add the missing columns in the supply-tables, which you need for your backups, right?
After that I will check how the renaming influences the DP.

[2017-10-26 14:50] nesnoj commented on #189
I'm running out of time and gotta leave it for today. Could you please add the scenario cols as well?
Please notify when you finished and before you press release button :play_or_pause_button: .
Cheers!

[2017-10-26 18:35] IlkaCu commented on #189
I added the missing columns in table supply.ego_dp_res_powerplant and supply.ego_dp_conv_powerplant and adjusted the versioning script accordingly.

[2017-10-27 13:13] nesnoj commented on #189
I tried again to create a new version `v0.3.0pre1` and got:
[code]
Since there can be multiple occurences of the same PP (due to the scenario), the `scenario` column has to be added to the pkey. But: To create it, `scenario` must not contain NULL values which occur in all datasets prior to v0.3.0. We yould set it to "-" or similar..

What do you think @IlkaCu ?

[2017-10-31 11:49] nesnoj commented on #189
Ok, I changed the tables `supply.ego_dp_res_powerplant` and `supply.ego_dp_conv_powerplant`:
- changed the PKEY: column `scenario` added (new PKEY includes now `version`, `scenario`, `id`)
- set DEFAULT value to `'none'` (I updated all existing datasets to `'none'`)

I ran versioning for `v0.3.0pre1` successfully, looks good:
[code]
It should work now for `v0.3.0` too..

If you @IlkaCu @wolfbunke

[2017-11-01 05:06] nesnoj commented on #185
I'm creating these MVIEWs for my `v0.3.0pre1` pre-release (supply table changes see #189) using [this script](https://gist.github.com/nesnoj/5f490ecd7a43feed7f74bc0d666f3543) (adapted from [dp script](https://github.com/openego/data_processing/blob/ca37b99a2b3a454ce2491ed4187fec31d078adda/dataprocessing/sql_snippets/ego_dp_powerflow_create_pp_mview.sql)).
I hope I did it the right way. You may ada

[2017-11-01 08:51] wolfbunke commented on #189
Hi @nesnoj, the solution looks fine for me. Thank you!

[2017-11-01 08:51] #189 closed

[2017-11-01 09:02] wolfbunke commented on #185
Hi @nesnoj ,

the creation of the MViews takes normally for SQ  1min, NEP ~60 min and ego100 ~ 120 min.  Maybe a vacuum analyze could help?
The perversion column is the version number of the predata processing  of supply tables which are not part of the data processing.

Thanks for your help!

[2017-11-01 13:18] nesnoj commented on #185
I did a `VACUUM ANALYZE` and re-ran the script again, but stopped it at execution time >4h..

I only changed the table names and the version (uh, I just found that there's no version column in the MVIEWs, only a preversion). The only thing that might be a reason is the updated index (added `scenario` column, see https://github.com/openego/data_processing/issues/189#issuecomment-340739098). I creat

[2017-11-01 14:50] wolfbunke commented on #185
oh, now i See the `version` selection is missing. In suplly preversion and version is needed. I will change it in a second.

[2017-11-01 15:05] wolfbunke commented on #185
I started the script to create the new MView of NEP 2035 with[ following changes. ](https://gist.github.com/wolfbunke/ed45a361a7b4e838a4e9c394351ca100#file-mview_supply_res_powerplants_nep2035-sql)

I hope that it will fix the time issues.

[2017-11-01 18:07] nesnoj commented on #185
Hmm, no results yet..
May we ask @Ludee if he has got a hint on this?

[2017-11-02 05:58] wolfbunke commented on #185
Strange it is still running > 10h. At the moment I see following possible reasons why the creation of this Mviews takes so long :

- two gist index on different geom columns
- database Version control of schema supply  vs. model_draft without control? @MGlauer

[2017-11-06 10:00] wolfbunke commented on #111
Hi, I just saw that the metadata of
* supply.ego_dp_res_powerplant
* supply.ego_dp_res_powerplant

includes wrong data. I didn't check further table. What is the status and who was to fix this bug?

[2017-11-06 10:21] wolfbunke opened #190 "change preprocessing script of scenario_capacities"
Since the  orig_scenario_data.nep_2015_scenario_capacities table is moved to sandbox. The db table and the preprocessing scripts needs to be change.

- old: orig_scenario_data.nep_2015_scenario_capacities
- new: model_draft.ego_supply_scenario_capacities
- Update metadata

[2017-11-06 10:34] wolfbunke commented on #190
done in  e3fdc3f

[2017-11-06 10:34] #190 closed

[2017-11-06 13:45] wolfbunke commented on #111
I changed the metadata of both tables with  8bd3509.

[2017-11-08 10:23] IlkaCu commented on #185
@wolfbunke Do you have any idea how long this process will take? I would like to finish the DP release as soon as possible!
Or is there a feasible plan B?

[2017-11-08 10:24] IlkaCu commented on #178
@wolfbunke Did you finish the validation?

[2017-11-08 10:30] IlkaCu commented on #177
The renpassGIS label fix didn't solve the problem. I did some further debugging here 3ab34f48a9895240ceacd77a951b291dc7dab3ba
Before the clean run I need to check whether this solved the bug or not. Before executing the related snippets I wait for #185 to be solved.

[2017-11-08 13:29] Ludee commented on #185
My first comments and questions after looking at the GIST (no offence!)

* The SQL is WAY TO COMPLICATED!
* Using sub- and sub- SELECTS is an option, but not a good one -> use WITH

* What is the `id NOT IN SELECT` doing? I don't get it! It's just a list of all ID
* Why the UNION between the two queries?

This shows three scenarios for the "pre" version. What's the problem directly selecting all p

[2017-11-08 14:36] wolfbunke commented on #185
model_daft script: https://github.com/openego/data_processing/blob/release/v0.3/dataprocessing/sql_snippets/ego_dp_powerflow_create_pp_mview.sql

[2017-11-08 15:42] wolfbunke commented on #185
After discussing the problem we figured out that
* the mview is  working but the complexity is quite high
* using `having` and `group by` leads to long query run times
* the use of hstore could fix the complexity and run-time
* using a further where clause could reduce the problem

[2017-11-08 15:43] wolfbunke commented on #185
I started a new test by following changes: https://gist.github.com/wolfbunke/ed45a361a7b4e838a4e9c394351ca100

[2017-11-08 15:55] wolfbunke commented on #178
not yet

[2017-11-08 15:57] wolfbunke commented on #185
ok NEP is done now in 34:35 minutes. I will start ego 100 at home in a hour

[2017-11-09 12:38] ClaraBuettner opened #192 "Generators without timeseries and timeseries without generartors (dp 0.3)"
In the grid schema v0.2.11 in scenario NEP 2035 are about 30 generators without timesereies data and about 25 generator timeseries without a generator (the's an id but the generator does not exitst).
The previous version doesn't have these problems, the generators and timeseries missing in v0.2.11 are included.

[2017-11-09 13:28] wolfbunke opened #193 "Fill empty columns aggr_id_pf and aggr_id_ms - nice-to-have"
The table  model_draft.ego_supply_generator has the columns  aggr_id_pf  and  aggr_id_ms which are empty at the moment. For some queries it would be nice to have this information in this table.

[2017-11-13 13:16] s3pp commented on #177
This could work! I looked it up, reservoir and geothermal powerplants are modelled as source components.

[2017-11-16 09:01] nesnoj opened #194 "add GIST index to PF HV tables"
The tables
[code]
do not have a (GIST) index on `geom`. I'd like to do some PostGIS queries but it's terribly slow.
I tried to add it but couldn't find the place where these tables are created. Could you either tell me where this takes place or add the indices, please?

[2017-11-17 09:59] IlkaCu commented on #194
These tables are input tables from osmtgmod and their creation it not included in the DP.
Maybe @Lukasoldi can help.

[2017-11-17 10:13] nesnoj commented on #194
Actually, I need lines, buses etc. to perform PF. But I just saw that I better use data from `grid.ego_pf_hv_*` tables..
Anyway, there're no GIST indices on these tables either. They would speed up [your queries](https://github.com/openego/data_processing/blob/release/v0.3/utilities/ego_scenario_SH_status_quo.sql#L13-L21) too..

[2017-11-17 10:30] IlkaCu commented on #194
The mentioned tables `grid.ego_pf_hv_*` have been created with code documented in the script [ego_dp_versioning.sql](https://github.com/openego/data_processing/blob/release/v0.3/dataprocessing/sql_snippets/ego_dp_versioning.sql). You could add the GIST indices and add the code into this snippet (but you should comment it out, just like the `CREATE TABLE`- statements).

[2017-11-22 12:43] IlkaCu opened #195 "no module named 'oemof'"
The following error message occurs while executing the script ego_dp_powerflow_griddistrict_demand.py:

![grafik](https://user-images.githubusercontent.com/16799094/33127966-f621d736-cf8a-11e7-914f-d04b1c947615.png)

@gplssm and @nesnoj: Any ideas how to solve this?

[2017-11-22 12:51] ulfmueller commented on #195
maybe oemof.db is not installed on the server...

[2017-11-22 12:54] ulfmueller commented on #195
well, pip freeze says that 'oemof.db==0.0.5' is installed...

[2017-11-22 12:57] nesnoj commented on #195
If I'm not mislead, the package structure changed since 0.0.5.
Might be good to give it a try with the recent version.. ;)

[2017-11-22 13:09] gplssm commented on #195
See [here](https://github.com/openego/eDisGo/issues/78) how I resolved the issue temporarily in eDisGo.

[2017-11-22 14:24] IlkaCu commented on #195
Installing oemof.db==0.0.4 worked out.

[2017-11-22 14:24] #195 closed

[2017-11-22 14:29] nesnoj commented on #195
Sorry, I mixed up oemof with oemof.db. Ignore my comment,,

[2017-12-05 14:30] IlkaCu opened #198 "Generators without buses"
As already described in issue #170 some generators (currently two) are not assigned to any bus. This leads to problems in the powerflow calculations.
![grafik](https://user-images.githubusercontent.com/16799094/33611843-07fe7046-d9d0-11e7-9b32-9caf323c5a62.png)

I will version the current data set as v0.3.0 - including the described bug. Afterwards I am planning to delete those two power plants fr

[2017-12-15 09:49] lukasoldi opened #199 "Control set in powerflow not complete"
In case of p_nom = 50 MW, no control is set to a generator. In the new data version this occurs 6 times.

https://github.com/openego/data_processing/blob/06c28ca09aa2242d1e6b0ecf294f6be72d4da3e3/dataprocessing/sql_snippets/ego_dp_powerflow_assignment_generator.sql#L204-L210

[2017-12-15 11:28] IlkaCu commented on #199
I can fix the bug in the model_draft data set temporarily and correct the code for the next release. Would that be okay for you?

[2017-12-15 11:53] lukasoldi opened #200 "Existing storages differ in p_min_pu_fixed"
Existing storages in the new version have different values for p_min_pu_fixed. They should be (or default to) -1 and not 0. I queried like this:

`SELECT count(*) FROM grid.ego_pf_hv_storage WHERE scn_name = 'Status Quo' AND version = 'v0.3.0' AND p_min_pu_fixed = -1 AND source = 11;`

and found 42 storages with p_min_pu_fixed = 0 and 4 storages with p_min_pu_fixed = -1 (for SQ and NEP). In 'eGo 1

[2017-12-15 11:53] lukasoldi commented on #199
Absolutely, thank you!

[2017-12-15 13:52] IlkaCu commented on #199
@IlkaCu: Bug fix needs to be implemented in the code for release v0.3.1

[2017-12-18 10:15] #111 closed

[2017-12-18 10:15] #177 closed

[2017-12-20 10:18] IlkaCu opened #202 "Orphaned and outdated branches"
Currently the DP repository includes 22 branches. As I'd like to clear the repository a bit, orphaned and outdated branches need to be identified and deleted.
The following lists includes all branches which didn't show any activity recently and the last person updating it. If you are mentioned here, please have a look if the named branch is obsolete or not. Maybe some of those branches need to be

[2017-12-20 10:54] IlkaCu commented on #198
This issue was caused by missing geometries of the mentioned power plants in the data set created by the preprocessing.
For version v0.3.0 this problem was fixed manually. For the following release we should try to get to the bottom of this problem.

[2017-12-20 10:56] #95 closed

[2017-12-20 10:56] #72 closed

[2017-12-20 10:57] #170 closed

[2017-12-20 10:59] IlkaCu commented on #185
In the v0.3.0 release all scripts to create power plant mviews were successfully executed.

[2017-12-20 10:59] #185 closed

[2017-12-20 12:24] wolfbunke commented on #202
I checked my branches and all of them can be deleted because those changes are already implemented or obsolete.

[2017-12-21 09:06] lukasoldi commented on #202
Me too, thanks for this, I like these clean-ups :)

[2017-12-22 11:11] ulfmueller commented on #202
I am not sure what the branch bugfix-industry-load was about (The name sounds a bit like that it has to do with work from @IlkaCu). It is so old I would say it is obsolote.

[2018-01-05 11:57] wolfbunke opened #203 "SH Scenario for next version"
Checking our data versions I noticed that the SH Scenarios are not part of v0.3.0. Are this smaller scenarios outdated or could we create those for the next run in order to have smaller data sets?

[2018-01-05 12:19] ulfmueller commented on #203
the SH scenarios exist for the new data set v0.3.0 currently in the model_draft. So you can use them...

[2018-01-25 13:03] IlkaCu opened #204 "Update values in demand.ego_demand_federalstate"
Some statistical offices updated their data on the electricity consumption per federal state. In case of Schleswig-Holstein significantly.
Therefore I'd like to update our numbers in tables demand.ego_demand_federalstate.

[2018-01-25 13:29] IlkaCu opened #205 "Develop a verification script to test dp data"
For the release v0.3.1 one or more scripts shall be developed to verify the resulting data set.

[2018-01-25 13:44] wolfbunke opened #206 "change weather time series tabels and Process"
@MarlonSchlemminger is working on a simple way to implement the weather data into the Dataprocessing. As an preprocessing script a new table will be created without any direct relation to the substation id's. The time series will be normalized to a plant size of 1 kW for wind on- and offshore and solar with the option of several weather year or weather data sources.

**ToDo's:**
- [ ]  create new

[2018-01-25 13:53] IlkaCu commented on #199
I fixed this bug in the dev branch: 4e34b70a37fe0e8c99f3d533b06932bca79afbf2

[2018-01-25 13:53] #199 closed

[2018-01-26 12:29] IlkaCu commented on #193
Do you know who created those columns and needs them?

[2018-01-26 12:31] IlkaCu commented on #183
Is a further bug fixing for v0.3.1 planned? Please note, that I'd like to start the debugging in beginning of February.

[2018-01-26 12:33] IlkaCu commented on #178
@wolfbunke: Are you planning to finish the validation mentioned above?

[2018-01-26 12:37] IlkaCu commented on #68
@Ludee: Any progress here?

[2018-01-26 12:44] IlkaCu commented on #168
This feature needs to be included in the v0.3.1 version of the dataprocessing

[2018-01-26 12:44] IlkaCu commented on #168
@ClaraBuettner: In which branch did you include these adjustments?

[2018-01-26 12:56] ClaraBuettner commented on #168
It ist in feature/electrical_neigbours.  To run it, tables inculding data from entso-e a needed. Unfortunately, I lost them when my disk crashed. It needs some time to recreate them. When do you need this?

[2018-01-26 13:01] IlkaCu commented on #168
We would like to include this in the next dp run, which is scheduled for beginning of February. Can you estimate how long it will take you to recreate that table?

[2018-01-26 13:04] IlkaCu opened #207 "Include bug fixes for topology errors in ehv level"
Bug fixes documented in [this issue](https://github.com/openego/osmTGmod/issues/10) need to be included in the upcoming dp run.

[2018-01-26 13:12] ClaraBuettner commented on #168
Hopefully I won't need more then a day. I'll try to do this as soon as possible. I imported the data from csv to tables the database. Is it possible to integrate this? It is just used as an input-table.

[2018-02-01 15:52] IlkaCu commented on #200
I will leave this issue open until I can verify if this bugfix solves the problem completely.

[2018-02-01 16:29] IlkaCu commented on #192
`SELECT * FROM model_draft.ego_grid_pf_hv_generator WHERE scn_name= 'Status Quo' AND generator_id NOT IN
	(SELECT generator_id FROM model_draft.ego_grid_pf_hv_generator_pq_set WHERE scn_name='Status Quo'); `

In the current v0.3.0 data set this query gives 52 generators as an output.

`SELECT * FROM model_draft.ego_grid_pf_hv_generator_pq_set WHERE scn_name= 'Status Quo' AND generator_id NOT IN
	(

[2018-02-05 09:53] wolfbunke opened #209 "New table line expansion costs"
In the new created table [model_draft.ego_grid_line_expansion_costs](https://github.com/openego/data_processing/commit/cf4d56a772cb2d2adb59ceb1631cc7d3db71fda3) you can find our cost assumptions.

As an idea, by using component, voltage_level you get the cost parameter by source and unit.  For the PyPSA conform units the values needs to be calculated in MWkm and added as new entry source = 'NEP 20

[2018-02-05 10:53] wolfbunke commented on #209
see also [Ticket #9](https://github.com/openego/eGo/issues/9) in eGo

[2018-02-05 11:01] IlkaCu opened #210 "Include link table in ego_dp_powerflow_hv_setup.sql"
Include code to create link-tables in sql-snippet ego_dp_powerflow_hv_setup.sql.

[2018-02-05 11:05] IlkaCu commented on #207
Further manual adjustments need to be checked and included in the dp: [eTraGo#97](https://github.com/openego/eTraGo/issues/97) and [eTraGo#96](https://github.com/openego/eTraGo/issues/96)

[2018-02-05 11:51] ClaraBuettner commented on #209
Did you implemented costs in €/km for lines and € for trafos?
In my calculation, I assume an s_nom for the costs of lines in the NEP to have get the €/MVA/km. I would add a cloumn with this data, so there are assumed costs that can be easily used for pypsa.
The transformers and links already have an s_nom in the estimated NEP costs, so I would use this.

[2018-02-05 13:10] wolfbunke commented on #209
Yes the original data of [investment_costs_of_grid_ measures.csv](https://github.com/openego/eGo/blob/dev/ego/data/investment_costs_of_grid_%20measures.csv) are already implemented.

Thats's nice thank you!

Could you add this data as well? Because the in this table the costs are only per item/unit (Mio. €/Stück). Or do you mean that?

[2018-02-05 13:45] ClaraBuettner commented on #209
Yes, I can add both, data for lines and transformers per MVA.
But I think I should make a difference between estimated (for lines, where s_nom was not given) and given costs per MVA. So maybe I would implement the given data directly to your table and the estimated costs imn an SQL-script when I use it in the NEP-lines. Is that ok?

[2018-02-05 13:49] wolfbunke commented on #209
yes, thanks!

[2018-02-05 15:18] IlkaCu opened #211 "Change datatype of column generator_id"
In table grid.ego_pf_hv_generator_pq_set the datatype of column generator_id is character varying, which is not suitable. The datatype should be changed to bigint or something similar.

[2018-02-06 13:31] IlkaCu commented on #193
@wolfbunke: Could you answer my question above?

[2018-02-06 13:32] IlkaCu commented on #178
@wolfbunke: Do you want me to shift this issue to another milestone than v0.3.1?

[2018-02-06 13:33] IlkaCu commented on #176
@wolfbunke: What's the current status of this issue?

[2018-02-06 13:46] wolfbunke commented on #193
I don't know who created those columns but I think the idea was to use this in order to have a easy relation between the supply_generator, generator_single and the ms districts. At the moment I don't need it.

[2018-02-06 13:48] wolfbunke commented on #178
Did it.

[2018-02-06 13:51] IlkaCu commented on #193
@gplssm, @nesnoj: Do you know who created the above mentioned columns in table model_draft.ego_supply_generator?
It seems that nobody is using them. Therefore I would like to delete them instead of investing extra time to add data to those columns nobody is using.

[2018-02-06 13:56] wolfbunke commented on #176
If we have a version documentation for the Data processing I just would add this information. Can you use my script below to check again if the problem appear in 0.3.0 and 0.3.1 (model_draft)? My server connection doesn't work for me at the moment.

[2018-02-06 14:02] IlkaCu commented on #176
The query only returns offshore wind power plants in voltage level 1. Seems that the problem does not occur in the current data set. Therefore I will close this issue.

[2018-02-06 14:02] #176 closed

[2018-02-06 14:09] IlkaCu commented on #192
None of the power plants with source 'reservoir', 'other_non_renewable' and 'geothermal' have a corresponding generator time series.

[2018-02-06 14:24] IlkaCu commented on #192
This seems to be a problem with the data from renpassGIS. As far as I know the data from renpassGIS does not include time series for 'other_non_renewable' but time series for 'reservoir' and 'geothermal' should be provided by renpassGIS.
@wolfbunke: Do you have an idea what might be the problem here and how to solve it?

[2018-02-06 15:18] ulfmueller commented on #192
Talking in terms of lopf resp. p_max_pu I would say these are treated like conventional power plants having no weather restrictions and there just have a fixed p_max_pu of 1.

[2018-02-07 16:21] Ludee commented on #150
Removed from eGoDP and included hint in documentation to run a VACUUM before and after a DP run.

[2018-02-07 16:21] #150 closed

[2018-02-07 16:24] Ludee commented on #92
New header style for readthedocs documentation:
https://github.com/openego/data_processing/wiki/Header-and-License

[2018-02-07 16:28] Ludee opened #214 "Orphaned scripts"
- [x] [ego_dp_substation_id_to_generator.sql](https://github.com/openego/data_processing/blob/feature/readthedocs/dataprocessing/sql_snippets/ego_dp_substation_id_to_generator.sql)

[2018-02-08 10:05] ulfmueller opened #215 "solar and wind p_max_pu seem too low [eGo 100 scenario, v0.3.0]"
I reckonized that the new 100% scenario has very low solar and wind potentials. Is that plausible?
Please check the p_max_pu of wind and solar and compare it with the p_nom.
See here:
[curtailment_solar.pdf](https://github.com/openego/data_processing/files/1706509/curtailment_solar.pdf)
[curtailment_wind.pdf](https://github.com/openego/data_processing/files/1706510/curtailment_wind.pdf)

Due to re

[2018-02-08 10:07] MarlonSchlemminger commented on #215
I am currently executing the new calculation and will be able to give information if this changes this afternoon or tomorrow.

[2018-02-08 10:08] Ludee opened #216 "Model_draft tables with old metadata"
[ego_dp_loadarea_industry_consumer.sql](https://github.com/openego/data_processing/blob/feature/docu-wolf/dataprocessing/sql_snippets/ego_dp_loadarea_industry_consumer.sql)

- [ ] model_draft.ego_demand_per_gva
- [ ] model_draft.ego_demand_per_district
- [ ] model_draft.ego_landuse_industry
- [ ] model_draft.ego_demand_hv_largescaleconsumer

[2018-02-08 10:44] Ludee commented on #216
We can exchange the old metadata with an simplified template:

[code]

[2018-02-08 13:13] IlkaCu commented on #192
So for the lopf it shouldn't be a problem, but still those 52 generators are the only generators which not even appear in the generator_pq_set table - all the other do so, even the conventional power plants.

[2018-02-12 08:36] nesnoj commented on #193
No idea. @gplssm ?

[2018-02-13 09:55] IlkaCu commented on #216
I would like to add a hint to this simplified meta data where to find the corresponding versioned table with complete meta data.
@Ludee: Might this be an idea?

[code]

[2018-02-13 10:05] Ludee commented on #216
That is a great idea @IlkaCu
perhaps change key to **published**?
So it is clear where it is published and licensed or not.

[code]

[code]

[2018-02-14 09:33] IlkaCu opened #220 "Some generators have 2*8760 values for p_max_pu & p_set"
As reported in [the eTraGo repository](https://github.com/openego/eTraGo/issues/130#issuecomment-365523277) some generators located in neighbouring countries have  2*8760 values for p_max_pu & p_set. This bug occurs in the DP results v0.3.0.

[2018-02-14 10:23] IlkaCu commented on #220
In v0.3.0 this occurs 24 times in total and differs between the three scenarios. But only wind power plants (source = 13) are affected.
![grafik](https://user-images.githubusercontent.com/16799094/36199134-eeeeed7a-1178-11e8-8110-957742e42efe.png)

[2018-02-14 10:42] IlkaCu commented on #220
@s3pp: Do you have an idea how this happens? The only thing which seems a bit odd from my point of view is one [DELETE statement](https://github.com/openego/data_processing/blob/master/dataprocessing/sql_snippets/ego_dp_powerflow_timeseries_generator.sql#L492) which is commented out.

[2018-02-14 16:21] jankaeh commented on #220
Am I right, that for p_set there are more cases (including 3*8760 values)?:

Generators with 26280 values for p_set (only Status Quo):
['200001', '200002', '200003', '200004', '200005', '200006', '200007', '200008', '200009', '200010', '200011', '200012', '200013', '200014', '200015', '200016']

Generators with 17520 values for p_set (only Status Quo):
['200017', '200018', '200019', '200020', '200

[2018-02-15 10:10] IlkaCu commented on #220
I investigated a bit further and @jankaeh is right.
In v0.3.0 I found in total 106 generators (39 in the Status Quo scenario) which have more than 8760 values for p_set. This occurs also for generators with a source other than 13 (wind).
This bug occurs in the older versions of the data set (v0.2.10 and v0.2.11) as well.

[2018-02-18 13:39] lukasoldi opened #222 "Numbers for offshore wind"
I am doing some work with regards to offshore wind with our model and have a few questions:

- According to my query, the sum for offshore wind in scenario NEP 2035 is 13,06 GW which is significantly lower than the numbers of the Szenariorahmen which are in the area of 18-19 GW for 2035. Can you explain how the number of 13,06 GW is composed?
Query:
`SELECT SUM(electrical_capacity) FROM model_draf

[2018-02-18 15:11] lukasoldi opened #223 "Assignment of otg_id for wind offshore plants"
I am trying to identify certain offshore generators in the hv powerflow data through the otg_id, but cannot really succeed. I found this part here where otg_id is manually assigned to OWP, but only for the Status Quo scenario. Does this in the end also apply for other scenarios?

https://github.com/openego/data_processing/blob/2dd6276f84efa84817ab2dca99e068e8a4ed3945/dataprocessing/sql_snippets/eg

[2018-02-19 07:58] wolfbunke commented on #222
For getting the power plant you should use the mviews like:
- model_draft.ego_supply_res_powerplant_nep2035_mview
-  see #109

But your right for the NEP2035 the SQ units are also missing.

[code]

[2018-02-19 14:52] MarlonSchlemminger commented on #206
I created a pull request for this and I think the implementation was successfull. P_sets in the table generator_pq_sets remain untouched, which means they are still calculated by renpassgis. The new feature is that p_max_pu is no longer p_set/p_nom, but is now calculated directly by simplefeedin without using renpassgis. P_max_pu is assigned by w_id which means that the results are much more speci

[2018-02-19 18:19] lukasoldi commented on #222
Well, the data (at least in this case) seem to be the same. Any clues why the units are missing and on the other questions raised above?

[2018-02-19 21:44] s3pp commented on #220
Just fyi I had to make a local copy of the relevant tables. I did not want to temper with the present state of the model draft. Hopefully I can give a meaningful update or present a fix soon.

[2018-02-20 07:52] wolfbunke commented on #222
The only way at the moment to get the offshore information is an join between `ego_supply_pf_generator_single` and the views like:
[code]
If you like to see the results on the final `model_draft.ego_grid_pf_hv_generator` table you can use:

[code]
Please note the difference between ` gs.generator_id = mv.id` .

With the grid connection I am not familiar. @IlkaCu  ?

I will check the Mview creation

[2018-02-20 08:08] wolfbunke commented on #222
I checked the query with other scenarios and it doesn't work for all. I talk with @IlkaCu to see how we can get back the offshore information.

[2018-02-20 12:09] jankaeh commented on #220
I think there are 52 Generators in v0.3.0 Status Quo without values for p_set. Might that be related to this issue? Maybe the second (and third) set of 8760 values of the generators with to many values for p_set should be addressed to one of these generators? What stands against this idea is, that there are 54 sets of 8760 values to much on the one hand and 52 missing sets on the other. But it's c

[2018-02-20 12:29] wolfbunke commented on #222
I am updated the NEP offshore data in  commit 672d7fbc08293245fc155a86ebbdf887f6cbfd56  at the moment the views need to be refreshed.

[2018-02-21 07:32] wolfbunke opened #225 "Seperate wind into wind_onshore and wind_offshore"
For several reasons we should split the generator source wind = 13 in wind_onshore and wind_offshore.

- assignment onshore and offshore time series
- see impact of offshore production in the system
- ...

As fare as can see following tables need to be changed:

Tables:
- model_draft.ego_grid_pf_hv_source
-  model_draft.ego_grid_pf_hv_result_generator
-  model_draft.ego_grid_pf_hv_result_generator

[2018-02-21 07:33] wolfbunke commented on #222
I add a new ticket in order to separate the sources of wind in  #225

[2018-02-21 08:32] MarlonSchlemminger commented on #225
I agree that this should be implemented. It generally makes sense to be able to see the production split into on- and offshore and I had (and still have) some trouble during my work on #206 with only having "wind" as source.

[2018-02-21 09:58] Ludee opened #226 "replace the ego_scenario_log with a multiproject scenario_log"
The **ego_scenario_log** will be used in other oedb projects (open_FRED, SzenarienDB) as well.
Since it is not a good idea to make simple copies of the log table and the log function I will change the system to a multiproject scenario log.

- [x] Create new **scenario_log** table
- [x] Migrate **ego_scenario_log** to new table
- [x] Create new function
- [x] Deactivate old function (leave a messag

[2018-02-21 10:01] Ludee commented on #71
New version of the **scenario_log** for multiple projects still has a hard-coded version number in it.
It is a little work to update it in all scripts but new versions are not released very often.

[2018-02-21 10:01] #71 closed

[2018-02-21 10:05] ulfmueller commented on #225
We used to say that the information about on- and offshore lies within the geometry of the plant. This applies to both of your mentioned motivations. The assignment of the time series depend on the location of a wind mill and respectively in which weather cell it is located. This is the same for the onshore power plant. So from a clear logical point of view the information mentioned is already the

[2018-02-21 10:31] MarlonSchlemminger commented on #225
Both the geometry and the generation subtype is neither available in ego_supply_pf_generator_single nor in ego_grid_pf_hv_generator. This makes it really hard to find out if a generator is on- or offshore, because you have to go really far back into the process to get these information. I think issue #222 made this clear as well, where you need to write complicated join statements for a rather sim

[2018-02-21 10:49] IlkaCu commented on #223
The method of 'manually' assigning the otg_id to OWP applies for all three scenarios as the table model_draft.ego_dp_supply_res_powerplant contains all RE generators of all scenarios.

[2018-02-21 12:12] Ludee commented on #226
[code]

[2018-02-21 13:25] Ludee commented on #92
Did we decide on a license for the documentation yet?
The RTD version says:

I suggest [CC BY 4.0](https://creativecommons.org/licenses/by/4.0/) because it is well known and we take the copyright statement:

"eGo DataProcessing Documentation © Flensburg University of Applied Sciences, Centre for Sustainable Energy Systems © Europa-Universität Flensburg, Centre for Sustainable Energy Systems © Rein

[2018-02-21 14:03] ulfmueller commented on #225
I am ok with it and I also see the advantage. I just hope the general logic is kept and no special (buggy) work-around is created. Just by the way, explicitly keeping information can also mean to create carriers such as southern, northern, eastern, western, big, small (...) 'solar' which would be not desirable... so I guess it is not a 'black or white' issue.

Do you consider this change then also

[2018-02-21 14:20] MarlonSchlemminger commented on #225
My goal is to increase the general logic and don't implement any work-arounds.

I think the differentiation between on- and offshore wind is reasonable without the need to differentiate between things like roof- and ground-mounted solar. Most studies seperate on- and offshore wind, whereas solar is just solar, so I think we are fine here.

This would definitely be my plan, yes.

So in the ego_dp_p

[2018-02-21 14:30] ulfmueller commented on #225
@IlkaCu but then due to the time plan this is probably not part of v0.3.1, right?
Is it possible that the so far changes you made with the direct integration can be included but without this offshore onshore differentiation? or do we get a bigger 'error'/problem then?

[2018-02-21 14:34] MarlonSchlemminger commented on #225
Yes I think we can include this, this is what I am currently testing.

[2018-02-21 14:39] IlkaCu commented on #225
Would be nice to include these changes in the v0.3.1 version already. I will think about the adjustments we/I need to implement it in the DP and let you know tomorrow whether I think this is realistic in v0.3.1 or not.

[2018-02-21 15:36] #214 closed

[2018-02-21 17:57] Ludee commented on #183
I will try to crack that nut:

[code]
| Inside vg250 | 80321883 | 3177493 |
| ------------- |:-------------:| -----:|
| Outside vg250 | 2399 | 230 |

Theses 230 are "border census points". They are not counted because the centroid is outside vg250 and will be removed in eGoPP.

[2018-02-21 19:55] Ludee commented on #183
The solution is avoiding the bug by leaving a 1m difference during the buffering. Buffer with +100m and Rebuffer with only -99m. It increases the areas of all LA.
I cannot test the bug right now because the oedb is too busy for the loadarea data.

[2018-02-21 21:39] Ludee commented on #171
Found some salt in another corner. The zensus for the LA will be ordered now.
Will have a closer look at the substation as well.

[2018-02-22 14:51] IlkaCu commented on #225
I would like to include these changes in the v0.3.1 release.
@MarlonSchlemminger: Did you already create a new branch for these changes?
There are some other scripts beside ego_dp_powerflow_assignment_generator.sql , which I will adjust when you included your changes. This concerns the scripts ego_dp_powerflow_hv_setup.sql, ego_dp_powerflow_lopf_data.sql and of course ego_dp_powerflow_assignment_g

[2018-02-22 14:56] lukasoldi commented on #223
Alright, thanks - I got it :)

[2018-02-22 14:56] #223 closed

[2018-02-22 15:18] lukasoldi commented on #222
Okay, thanks for clearing things up. It looks better now. However, I found two generators that do not have a otg_id which is possibly due to the fact that "NVP Segeberg" is not an existing substation yet. You find them by:
`﻿SELECT * FROM model_draft.ego_dp_supply_res_powerplant WHERE "generation_subtype" = 'wind_offshore' AND otg_id is null;`
...or for the MVIEWS in the case of NEP 2035 it is
`SE

[2018-02-22 15:33] MarlonSchlemminger commented on #225
I created a local branch, but didn't do anything yet in it and didn't push it. I am done with my work on 206 and will start working on this now.

[2018-02-22 15:46] MarlonSchlemminger commented on #225
Another thing I realized during the last days which is related to this issue is that full load hours for both wind on- and offshore are too high. We have average full load hours of 2600 for onshore and 4300 for offshore, some offshore parks even have 6000 full load hours. After talking to @s3pp , we decided that I will try to find correction factors to bring down the production to a realistic leve

[2018-02-26 08:22] MarlonSchlemminger commented on #225
Quick update: I implemented my changes on Friday and started the assignment_generator-Skript and it failed yesterday after 48 hours with a primary key constraint violated. I don't know yet what mistake I made and the long runtime makes it difficult to find out. Given that the Fachtagung starts on Thursday means that I don't think I will be done with this this week.
I've pushed my local branch rega

[2018-02-26 13:23] s3pp commented on #225
Just reading into this @MarlonSchlemminger, because of #220 I rewrote parts of timeseries_generator in python. If this isn't helpful atm, than feel free to ignore it https://github.com/openego/data_processing/commit/32026ec5014e2f34f2b4191904cf787be5574751.

[2018-02-26 16:15] IlkaCu commented on #209
@wolfbunke: What's the status here? Does anything more need to be implemented or merged for v0.3.1?

[2018-02-26 16:28] IlkaCu commented on #222
It's the same two generators described in #198. For the current data set v0.3.0 we assigned those generators manually to make the powerflow executable.

[2018-02-26 16:47] lukasoldi commented on #222
Okay, and which bus are they assigned to?

[2018-02-26 16:50] wolfbunke commented on #209
The table  model_draft.ego_grid_line_expansion_costs is updated and the data are stored. I can merge the changes tomorrow into the dev branch in the pre-processing folder .

@ClaraBuettner do you have pushed your changes in one of our branches? If not, I can update my first scripts.

As todo the table  model_draft.ego_grid_line_expansion_costs should be added to the versioning.

[2018-02-27 10:08] wolfbunke commented on #209
I created a pull request in #228 with an update of the table structure and calculated data of @ClaraBuettner. I think this ticked can be closed after the merge and the adding to the [versioning script](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_versioning.sql).

[2018-03-01 10:04] IlkaCu commented on #222
Both generators were assigned to the bus with otg_id= 26504. That's one of the buses we also assigned other offshore parks to.

[2018-03-01 10:46] IlkaCu commented on #198
Those two offshore generators are located outside the polygons used for the [assignment to the associated bus. ](https://github.com/openego/data_processing/blob/master/dataprocessing/sql_snippets/ego_dp_powerflow_assignment_otgid.sql#L37-L53). The polygons need to be adjusted accordingly.
![grafik](https://user-images.githubusercontent.com/16799094/36840700-38cc2114-1d46-11e8-8501-256cbe14caf9.png

[2018-03-06 15:05] IlkaCu opened #229 "Multiple MV grid districts without generation and load"
There are many mv grid districts without any generators attached.

`SELECT * FROM model_draft.ego_grid_mv_griddistrict WHERE subst_id NOT IN
(SELECT subst_id FROM model_draft.ego_grid_hvmv_substation WHERE otg_id IN
	(SELECT bus FROM model_draft.ego_grid_pf_hv_generator));`

Result: 250 mv grid districts

`SELECT * FROM model_draft.ego_grid_mv_griddistrict WHERE subst_id NOT IN
(SELECT subst_id FR

[2018-03-06 23:22] nesnoj opened #230 "Implausible values for energy sums using timeseries (wind)"
I'm using the timeseries from `grid.ego_pf_hv_generator_pq_set ts` (dp v0.3.0, same results with current model_draft tables). For a nominal power of a WEC of X MW I expect an annual energy sum of roughly X MW*1500 h.

I get very different results using
[code]

generation_type|p_nom_mw|p_nom_1500_mwh|p_set_sum_mwh|p_set_count|p_nom_p_set_ratio
--|--|--|--|--|--
wind|5.06|7590|19649.6364633811|8760|

[2018-03-07 09:06] IlkaCu commented on #229
I fear there might be an issue with the various types of generator ids.

[2018-03-08 10:57] MarlonSchlemminger commented on #230
I mentioned in #225 that full load hours for wind are too high on average and I am currently working on it to bring them down a little bit (going to open a ticket soon). I assume that the generator(s) you looked at is an offshore turbine, which is why you have 3600 full load hours (2.588*1500). If you don't limit your query to 10 generators you should find different ratios. From what I remember we

[2018-03-08 11:39] MarlonSchlemminger opened #231 "Parameters to adjust timeseries for wind generation"
Our numbers for wind generation from both on- and offshore are currently too high. Onshore sits at 2600 FLH and offshore at 4300. According to the Fraunhofer Institut, onshore should be around 1700 and offshore around 3500 FLH. We are already working with correction factors to calculate the feedin and the simplest method would be to change the correction factor until we get realistic FLH. We have

[2018-03-08 12:11] IlkaCu commented on #230
I mentioned this in issue #211 and will fix in release v0.3.1

[2018-03-08 12:56] IlkaCu commented on #229
There is an inconsistency between table ego_dp_supply_res_powerplant (or the corresponding mviews) and table ego_supply_pf_generator_single.

In table ego_dp_supply_res_powerplant I find 588 generators with an electrical capacity > 0 which are assigned to one of the 250 substations mentioned above.

`SELECT * FROM model_draft.ego_dp_supply_res_powerplant WHERE electrical_capacity > 0 AND subst_id

[2018-03-08 12:58] IlkaCu commented on #229
Tests show that those generators 'lost' their bus information.
`SELECT * FROM model_draft.ego_supply_pf_generator_single WHERE generator_id IN (1615709, 1614220, 1614642);`

[2018-03-08 16:20] gplssm opened #232 "Sectoral disaggregated load at HV bus"
The demand time series representing aggregated demand at each HV bus does not differentiate between sectors. This does not make sense for eTraGo and, thus, isn't needed there. But, with pulling data from eTraGo's results, it becomes interesting for eDisGo. Would it be possible to change the demand representation in the table EgoDemandHvmvDemand that this table differentiate between h0,g0,l0,i0? Th

[2018-03-08 21:45] nesnoj commented on #230
Thanks for your answers!
@MarlonSchlemminger When I use turbines for 3 Landkreise in Saxony-Anhalt, I get the same ratio of 2.588.. for all generators using
[code]
(`model_draft.wn_abw_ego_pf_hv_bus` holds the 29 buses of the region)

The total of annually generated energies of all WECs with 1500 FLH `p_nom_1500_MWh` fits quite well with related publications. As the installed capacity are in line

[2018-03-08 21:55] nesnoj commented on #232
I'm interested too in sector-specific ts :)

[2018-03-09 11:26] MarlonSchlemminger commented on #230
There were some changes made to the feedin which I thought would be included in v0.3.0 but it doesn't look like they went through. @IlkaCu can you call me back at 0461/79509480 as soon as you read this?

[2018-03-09 11:29] IlkaCu commented on #230
I'm in a meeting for the whole day. Can we talk next week? I'm pretty sure that the v0.3.0 release will still take a little while.

[2018-03-09 12:20] MarlonSchlemminger commented on #230
Ah this isn't the relase yet which is on the oedb. Sorry, I don't really know how this process with releases works.
@nesnoj This means there will be changes to the feedin coming soon. You can take a look at #206 in the meantime. Just a quick explanation: The p_set which is currently on the oedb is the **national average** for all wind turbines both on- and offshore. It is the same for all German w

[2018-03-11 10:20] nesnoj commented on #230
Ok thank you!

[2018-03-11 10:20] #230 closed

[2018-03-12 14:53] ClaraBuettner commented on #207
I took a closer look to the problems explained in eTraGo#97 and eTraGo#96. I couldn't find a reason for the USW Marke (eTraGo#97). But the lines need to be connected right to the USW, so I would add this bug fix to the existing script that fixes subnetworks. No buses are added or deleted, so it shouldn't cause problems.
The lines close to Jessen (eTraGo#96) which are missing in our data have been

[2018-03-13 10:38] IlkaCu commented on #198
@ClaraBuettner: Could you adjust the polygons to make sure that also the mentioned offshore wind parks are automatically assigned to one of the designated substations?

[2018-03-13 11:23] ClaraBuettner commented on #198
I updated the polygons in branch feature/adjust_offshore_polygones. All polygones in the Noth Sea are bigger and don't overlap anymore to avoid new problems.

[2018-03-14 12:51] wolfbunke opened #235 "Info: update of new database tables model_draft.ego_renewable_feedin"
The new table model_draft.ego_renewable_feedin includes the renewable time series for solar, wind_offshore and wind_onshore for the weather year 2011 and the defined weather point of the open_Ego scenarios.

![coastdat2](https://user-images.githubusercontent.com/14540685/37403129-10cab17e-278e-11e8-9e7d-c7e5a89d0188.png)

The script can be found under: https://github.com/openego/data_processing/tr

[2018-03-15 08:49] wolfbunke opened #236 "Moving renpassgis tables to schema model_draft and scenario"
- [ ] check and update table structure of renpass tables in model_draft
- [ ] Move the data from calc_renpass_gis to model_draft
- [ ] check use of date in scripts like ego_dp_powerflow_timeseries_generator
- [ ] change dataprocessing scripts [ego_dp_powerflow_timeseries_generator.sql](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_powerflow_timeseries_gener

[2018-03-19 08:52] IlkaCu commented on #198
Great! Would you please create a pull request for this branch?

[2018-03-19 14:06] IlkaCu commented on #229
I didn't find any reason how this happens. The code looks okay. I will further investigate during the upcoming debugging run.

[2018-03-19 14:23] IlkaCu commented on #225
Can this issue be closed to to the pull request #233?

[2018-03-19 14:39] IlkaCu commented on #220
@s3pp: Any news here?

[2018-03-19 14:44] IlkaCu commented on #209
@wolfbunke: Is this already implemented? If not, who is responsible?

[2018-03-19 15:14] IlkaCu commented on #207
As we won't include a new osm import in open_eGo I think you can simply add the missing lines to our data model. Please note in a comment within the code that these additions may be obsolete when using a new osm import.

[2018-03-19 15:18] #198 closed

[2018-03-19 15:18] #203 closed

[2018-03-19 15:30] wolfbunke commented on #209
no, its not. I thought it is on you list? If not, I can do it tomorrow, like you wish?

[2018-03-19 16:20] #225 closed

[2018-03-19 16:32] ClaraBuettner commented on #207
Ok, to add the lines to Jessen I need new 110kV buses and split up one existing line. New 110kV buses seemed to be a problem when I fixed the last topological errors. Otherwise I can't connect the new line to the existing one. Is it still a problem to add them?

[2018-03-19 21:21] s3pp commented on #220
Thanks @jankaeh for your insights! I think this problem was introduced by the scenario files / renpassG!S results having data on wind on- AND offshore, but timeseries generator only handled wind as one source. Without further thought I reimplemented the script in python. Unfortunately it took a while, so I guess, this is not up to date with the newest developments. Maybe you @IlkaCu could point me

[2018-03-20 05:38] nesnoj commented on #207
(note: u might use stuff from my adjustments here: https://github.com/openego/eTraGo/issues/96#issuecomment-363046533)

[2018-03-20 08:52] IlkaCu commented on #211
The data type is adjusted in the database.

[2018-03-20 08:52] #211 closed

[2018-03-21 13:50] IlkaCu opened #239 "Add w_id in generator mviews"
The column w_id (weather_id) needs to be added to the generator mviews ego_supply_res_powerplant_(sq,nep2035,ego100)_mview.
Mviews in the database and the corresponding scripts in the dataprocessing need to be updated.

[2018-03-22 09:10] ClaraBuettner commented on #207
I added the changes to fix the problems in Marke and near Jessen in the existing file in dp-branch  feature/fix_eHV_subnetworks. Basically it's the same nesnoj already did, but I changed the way lines and buses are referenced.

[2018-03-26 09:27] IlkaCu opened #242 "Multiple generators without rea_geom_new"
Analyzing data from table supply.ego_dp_res_powerplant and model_draft_ego_dp_supply_res_powerplant shows that 154718 generators are lacking information on rea_geom_new.
This applies to generators from all sources and all voltage levels which are spread evenly all over Germany.

![grafik](https://user-images.githubusercontent.com/16799094/37898113-3e3d2430-30e8-11e8-8dd1-811b7acee97f.png)

@Ludee:

[2018-03-26 09:36] Ludee commented on #242
I will have a look later this day. But the timing is bad, I will be on holiday for 2 weeks starting tomorrow. I can not promise to fix it today, my workload is too big atm.
But this def. falls into my purview ;)

[2018-03-26 11:46] #60 closed

[2018-03-26 12:01] IlkaCu opened #243 "456 generators in Atlantic ocean"
In table model_draft.ego_dp_supply_res_powerplant 456 offshore windturbines are located in the Atlantic ocean close to Cape Verde. Any ideas where this bug comes from and how to fix it? I think we already dealt with such a bug, but I cannot find the corresponding issue.
![grafik](https://user-images.githubusercontent.com/16799094/37904951-91eb3fe4-30fd-11e8-94a0-a479a95007e5.png)

[2018-03-26 12:14] wolfbunke commented on #243
Looks like the geometry of lon and lat are transposed. I will take a look.

[2018-03-26 12:35] IlkaCu commented on #243
I had a look in the preprocessing script and it seems to be a problem with the SRID here:
https://github.com/openego/data_processing/blob/dev/preprocessing/sql_snippets/ego_dp_preprocessing_res_powerplant.sql#L287-L292

[2018-03-26 14:12] IlkaCu commented on #243
Pull request #244 fixes this problem.

[2018-03-26 14:12] #243 closed

[2018-03-27 08:26] IlkaCu commented on #239
The dataprocessing scripts (#241) and the mviews in the database are updated.

[2018-03-27 08:26] #239 closed

[2018-03-27 08:48] #209 closed

[2018-03-27 08:50] IlkaCu commented on #242
As I didn't hear anything from Ludee I assume he didn't manage to have a closer look. @wolfbunke Do you have any ideas how to fix this bug?
If not I would suggest as a hotfix to fill all empty cells of 'rea_geom_new' with entries from column 'geom'.

[2018-03-27 08:53] IlkaCu commented on #210
#219 closes this issue.

[2018-03-27 08:53] #210 closed

[2018-03-27 09:04] wolfbunke commented on #242
Due to saving time to the release I agree with your fix. Let's use the column comment to add the information that the rea_geom _new  is from geom.
Like:
[code]
And  create a ticket for a revision of the rea allocation.

[2018-03-27 09:31] IlkaCu commented on #207
Could you create a pull request and assign nesnoj an me?

[2018-03-27 09:38] wolfbunke commented on #242
Between `'rea/ego_dp_rea_results.sql'` and `ego_dp_powerflow_assignment_otgid.sql` maybe at the beginning of the `ego_dp_powerflow_assignment_otgid.sql` file in order to save a additional file ?

[2018-03-27 09:40] wolfbunke commented on #222
can we close this ticket?

[2018-03-27 09:43] nesnoj commented on #242
You gonna start the run today?
If not, I'd like to give @IlkaCu idea a quick review..

[2018-03-27 09:45] IlkaCu commented on #242
I won't start the run before tomorrow - more likely Thursday.

[2018-03-27 09:47] wolfbunke commented on #181
can we close this issue?

[2018-03-27 10:05] wolfbunke commented on #178
The validation looks good and will be documented on ReadTheDocs http://data-processing.readthedocs.io/en/feature-readthedocs/scenario.html which is on work-in-progress.

[2018-03-27 10:05] #178 closed

[2018-03-27 12:32] IlkaCu commented on #242
@nesnoj : Feel free to share your thoughts and comments. ;-)

[2018-03-27 13:15] #194 closed

[2018-03-27 14:01] MarlonSchlemminger commented on #231
I took a different approach and implemented something similar to what Mario Kropshofer did a while ago. This only affects onshore turbines, offshore turbines remain untouched. All wind turbines in the model are grouped into one of seven power classes with a lower and upper limit for the capacity. For each power class, the most used turbine (based on model_draft.ego_supply_renewable_bnetza_full_att

[2018-03-27 14:04] #231 closed

[2018-03-27 14:05] MarlonSchlemminger commented on #235
Table ego_renewable_feedin slightly changes once again with the new release of the DP.
A new column named "power_class" was added with numbers between 0 and 7. For wind_offshore and solar, power class is always 0 (which has no definition, because power classes only affect wind_onshore). For wind_onshore, each w_id has 7 entries, one for each power_class between 1 and 7. For further information, pl

[2018-03-27 18:46] #181 closed

[2018-03-27 19:58] nesnoj commented on #242
It reveals that in `Status Quo` only 2.7% of the RES genos are affected but 39.5% (37.5GW) of entire RES capacity. Without EHV/HV level (only v_level 5..7 where geoms are crucial), this results in 13.7% (13 GW) This is quite a lot.

This one
[code]
reveals that a large share of the affected datasets could not be allocated in their original allocation methods (`rea_flag`) (e.g. M1-1) and also the f

[2018-03-28 06:33] wolfbunke commented on #242
I think one reason could be the additional ego 100 scenario which affects the rea script. @IlkaCu and me took a look into the versions and it happens earlier with about 35K as well.

[2018-03-28 07:06] wolfbunke commented on #235
We updated the table ` model_draft.ego_renewable_feedin` the new structure and table can be found under: `model_draft.ego_renewable_feedin_v031`. Please have a look and give your comments. After your approval I will delete the old model_draft.ego_renewable_feedin and rename model_draft.ego_renewable_feedin_v031 back before the data process run reaches the generator timeseries scripts.

An further

[2018-03-28 07:34] nesnoj commented on #235
Could u please adjust the permissions? Thanks

[2018-03-28 08:19] wolfbunke commented on #235
done

[2018-03-28 08:29] IlkaCu commented on #242
@nesnoj: Thanks for your comments and I definitely see your point. Unfortunately we neither have the capacity nor are we familiar enough with the REA scripts to find and fix this bug within a reasonable period of time. Ludee won't be available for the next two weeks. @nesnoj, @gplssm: Is there someone else at RLI familiar with the REA scripts?
If not I see three different options:

- Option 1: We

[2018-03-28 08:31] wolfbunke commented on #242
I would also favor option 3

[2018-03-28 09:07] nesnoj commented on #242
Yes, I totally agree. Except @Ludee, none of us at RLI got the required in-depth knowledge to fix this. I favor option 3 as well.
In DINGO & eDisGo, `geom` is the fallback if `rea_geom_new` is missing ([eDisGo code](https://github.com/openego/eDisGo/blob/4c8902ea70c9ffe9cdcbfad8acaad6b56b778eaf/edisgo/data/import_data.py#L1612)). Hence, from eDisGo's perspective we do not need the hotfix.

**Go ah

[2018-03-28 09:18] nesnoj commented on #231
Did you verify the cumulative feedin for 2011 with other sources? (e.g. [here](https://www.foederal-erneuerbar.de/landesinfo/bundesland/D/kategorie/wind/auswahl/176-stromerzeugung_aus_w/versatz/2/#goto_176))

[2018-03-28 09:26] MarlonSchlemminger commented on #231
What I evaluated was the difference in full load hours for each federal state between the new method and the old one and then adjust the correction factor to get realistic full load hours for whole Germany (http://windmonitor.iee.fraunhofer.de/windmonitor_de/3_Onshore/5_betriebsergebnisse/1_volllaststunden/). We didnt't have time to compare each federal state with real numbers.

[2018-03-28 09:33] nesnoj commented on #231
ok.
There's no such table `model_draft.ego_power_class`

[2018-03-28 09:38] MarlonSchlemminger commented on #231
The name might have changed slightly, @wolfbunke ?, I can't connect myself to the oedb currently.

[2018-03-28 11:01] wolfbunke commented on #231
The table ` model_draft.ego_power_class` online.

[2018-03-28 18:10] ClaraBuettner commented on #207
I implemented it as a sort of postprocessing in the utilities of the dataprocessing. But I remember that you wanted to integrate it earlier. When you tell me where it should be, I move it there and create a pull request by then.

[2018-03-29 08:57] lukasoldi commented on #222
I'm still not really happy with the way the offshore generators are assigned to buses, since some of them have massive capacities, especially in future scenarios. Once I have a fitting approach I will come back to you and we can see how we can assign the capacities to their current and possible future buses.

[2018-04-03 11:36] IlkaCu commented on #207
You can include it in the powerflow part of the dataprocessing - right behind the script 'ego_dp_powerflow_lopf_data.sql'.

[2018-04-03 12:21] ClaraBuettner commented on #207
Then I still need to reconnect generators and loads. I thought I should integrate it earlier to avoid this.

[2018-04-03 12:44] IlkaCu commented on #207
Right! Then we should include it after the 'ego_dp_powerflow_grid_future_scenarios.sql' - script, right?

[2018-04-09 08:59] nesnoj commented on #242
@Ludee Any news here?

[2018-04-09 11:11] IlkaCu opened #250 "'Order by' statement"
The 'Order by' statement which was added two month ago by @Ludee to many of the loadarea scripts leads to bugs in the dataprocessing.
While debugging the DP scripts I commented many of the Order By statements out (c14569551f472fa19ba52cd87746c20c5e58f680).
Please check whether this is the right way to fix the bug or not.

[2018-04-09 12:17] Ludee commented on #250
The order by were added to take out the salt of each run.
Don't know why they give an error. Is it syntax or something else?

[2018-04-09 21:28] s3pp commented on #250
imho the gid is not part of the result set, so it cannot be ordered, e.g.: https://github.com/openego/data_processing/blob/c14569551f472fa19ba52cd87746c20c5e58f680/dataprocessing/sql_snippets/ego_dp_loadarea_census.sql#L93-L97

[2018-04-10 09:30] IlkaCu commented on #250
@Ludee What was your concrete intention to add the 'order by' statement? Would it be okay to delete it without substitution? If not, please provide a bugfix.

[2018-04-10 10:07] nesnoj commented on #250
If I'm not mislead, this was subject of my ticket #171 which has not been finished..

[2018-04-16 11:48] IlkaCu commented on #250
This still doesn't answer my question whether deleting the 'Order by' is okay or not. @Ludee: Please comment here.

[2018-04-16 12:02] IlkaCu commented on #242
@Ludee: As the DP debugging is going to reach the REA part soon, some new information corresponding this issue would be great.

[2018-04-16 14:18] Ludee commented on #250
The removal is ok. It only changes the _ids_ but should not affect the data.

I'm wondering why the order by gave an error. Perhaps there was a typo (order by _id /nid_ which does not exist) or something else?

[2018-04-16 14:27] IlkaCu commented on #250
As s3pp wrote, the statement does not select any id/gid/nid - so it cannot order it.
But as long as you are okay with removing it, I will close this issue.

[2018-04-16 14:27] #250 closed

[2018-04-16 15:32] Ludee commented on #242
I did some simple checks to evaluate the dea without rea_geom_new.

Some (57792) of them were not considered because we didn't had methods for them (like hydro). new = old!

M4 has a BUG! [It is allocated to the wrong layer (out -> wpa)](https://github.com/openego/data_processing/blob/release/v0.4.0/dataprocessing/sql_snippets/rea/ego_dp_rea_m4.sql#L133). I will try to hotfix!

Some (M5_rest) exis

[2018-04-17 08:11] IlkaCu commented on #242
The DP reached the REA part. As I would like to continue the debugging, I'll continue with the REA scripts until M4. Meanwhile bugfixes for M5 could be implemented. Any objections?

[2018-04-17 11:51] s3pp commented on #161
Can this issue be closed?

[2018-04-17 13:08] IlkaCu commented on #161
Yes, I already removed this script from the DP.

[2018-04-17 13:08] #161 closed

[2018-04-17 13:57] Ludee commented on #242
That is a difficult question. This is not a real bug but rather a limit of our method.
If there are more generators (PV) than roofs (free spots), the assumptions for e.g. "eGo 100" are too high and exceeds the potential. We can do a "bugfix" and simply increase the potential, but that should be discussed!?

[2018-04-17 15:17] IlkaCu commented on #242
For us the simple hotfix which sets geom_new = geom for those generators which were not moved would be fine. But this might not apply for Dingo and eDisGo. From my point of view the RLI needs to decide whether to work on a further "bugfix" or not. I will continue with the release process of DP v0.4.0 nevertheless.

[2018-04-17 15:47] Ludee commented on #242
I discussed a feasible solution with @gplssm
We will copy the M5 method and have 2 generators per location.
I'm not sure if this can happen in this version.
Will there be a recent 0.4.1?

[2018-04-18 07:48] wolfbunke commented on #235
The table  ego_renewable_feedin is has now a version number and can be found in the schema supply.

- supply.ego_renewable_feedin
- supply.ego_power_class (parameter of wind)

[2018-04-18 07:49] wolfbunke commented on #235
I will close this issue.

[2018-04-18 07:49] #235 closed

[2018-04-18 10:03] nesnoj commented on #242
Is this one fixed now?

We need a solution here - even a redistribution of "left over" RES to already "filled" spots is better than leaving them where they are!

I guess the DP has passed the REA part by now? Is it possible to add these adjustments afterwards and update the columns? (`rea_geom_new`, '`la_id` where necessary, ..)

@gplssm and @boltbeard, please also be aware of this issue as it str

[2018-04-18 10:05] nesnoj commented on #242
EDIT: Didn't see @Ludee's answer before.. thanks for taking care

[2018-04-18 16:13] IlkaCu commented on #242
We did not terminate the v0.4.1 release yet. So it would be good to integrate a solution for this bug in the v0.4.0 run. The DP reached the M5 script of the REA part already. For me it would be okay to integrate the bugfix after the debugging and before our clean run. But in that case you have to make sure that your bugfix works and does not harm the cleanrun.

[2018-04-23 10:28] IlkaCu opened #255 "bug when executing ego_dp_powerflow_create_pp_mview.sql"
When executing ego_dp_powerflow_create_pp_mview.sql the following bug appears. Any suggestions how to fix it?

[code]

[2018-04-23 11:28] wolfbunke commented on #255
Look like a python sqlalchemy problem. The DP runs this sql file with  `eGo_data_processing.py` for the first time? Or does it already worked before?

[2018-04-23 11:40] IlkaCu commented on #255
As far as I know this script was executed before without any problems.

[2018-04-23 11:47] wolfbunke commented on #255
ok, I think  found the problem. It is this `%` python/SQL problem in a commt. [see also](https://stackoverflow.com/questions/8657508/strange-sqlalchemy-error-message-typeerror-dict-object-does-not-support-inde)

[2018-04-24 08:03] BartelsJ commented on #204
Further I recognized unit mistakes (TJ -> GWh) in demand.ego_demand_federalstate for the columns electrical consumption of households and the tertiary sector (industry is correct). See below the to-be-updated values in GWh for 2011.

For some states the bundled information of households and tertiary sector is given. To separate these the percentage values of 12.5% (households) and ~15.278% (tertia

[2018-04-24 09:54] IlkaCu commented on #204
In case the electricity consumption of households and tertiary sector are not declared separately we assumed that households account for 45% and tertiary sector for 55% of the accumulated demand. This values are based on an interview with an employee of the statistical office Bremen.

[2018-04-24 13:45] BartelsJ commented on #204
Ah, ok. I didn't know this assumption and tried to calculate these percentage values myself (12.5% and ~15%). But since 45% and 55% divided by 3.6 (TJ to GWh) result in the mentioned percentage values of 12.5% and ~15% you already took the unit change into account. Sorry for that. No work to be done.

[2018-04-27 07:38] IlkaCu opened #257 "ego_dp_powerflow_hv_setup.sql blocked by another process"
When executing sql-snippet ego_dp_powerflow_hv_setup.sql
 the following bug occurs. Can someone help?
[code]

[2018-04-27 07:45] nesnoj commented on #257
I ran the cutting script yesterday on ego_pf_hv_* tables but it finished successfully without warnings..
What does the Server Status in pgAdmin say? (I cannot use it due to mobile connection)

[2018-04-27 08:09] IlkaCu commented on #257
In the meantime I run the script manually and step by step with pgAdmin and found two minor bugs in the script. Afterwards I used the eGo_data_processing.py to run it again - without any problems.

[2018-04-30 17:16] IlkaCu opened #258 "Loadareas assigned to EHV buses"
When trying to solve a bug which occurred while executing script ego_dp_powerflow_assignment_load.sql, I recognized that some HVMV substations are listed as substations with v_nom >110 kV in table _model_draft.ego_grid_pf_hv_bus_.

The following query returns 215 buses per scenario which are listed in table _model_draft.ego_grid_hvmv_substation_ as HVMV substations but in  model_draft.ego_grid_pf_

[2018-05-02 15:08] #204 closed

[2018-05-03 14:35] IlkaCu commented on #258
https://github.com/openego/data_processing/blob/fix/buses_removed/dataprocessing/sql_snippets/ego_dp_substation_otg.sql#L22-L26
Do we need an additional where statement here include only 110 kV buses?

[2018-05-04 13:38] Ludee commented on #242
The bug can be fixed hard by putting multiple generators on one "available grid point".
But this is how the result looks like. This example is Berlin and subst_id 885 has a major issue:
There are 16 807 generators on about 2 km².

The real problem is somewhere else! There should be distribution to other MVGD in the first place (Status Quo), then the error gets bigger for the additional capacities.

[2018-05-09 07:57] IlkaCu commented on #258
I tried to fix this bug with the following commit d9222abd4b4e6ba9fff7716973ff84144a189e9d. Rerunning the affected scripts revealed that 17 substations from table _model_draft.ego_grid_hvmv_substation_ and 11 substations from table _model_draft.ego_grid_ehv_substation_ remain without an otg_id.

Checking this with QGIS shows that those substations do not have a corresponding item of the same volta

[2018-05-11 09:52] IlkaCu commented on #258
In commit 6d861726a97cb646e88a05fced37396cfccbbe5e I tried to solve this problem by deleting all substations without an counterpart in the osmTGmod dataset (those without an otg_id in _model_draft.ego_grid_hvmv_substation_ and _model_draft.ego_grid_ehv_substation_). In the following DP this would result in a modified number of mv griddistricts and ehv voronoi cells. @gplssm: Would that be okay for

[2018-05-14 18:32] gplssm commented on #258
In general, this is fine for us, but makes life sometime harder. If we want to compare results basing on DP v0.3.0 with results basing on DP v0.4.0 it requires to build a mapping of mv_griddistrict_ids between these two versions.
If it really helps you, go for it! If it does not solve your problem, I would like not to have new mv_griddistrict_ids.

[2018-05-17 10:10] Ludee commented on #242
No comments on this?

[2018-05-17 11:01] ulfmueller commented on #242
That definitely looks suspicious.

I have no insight knowledge on the implementation of this assignment generation procedure. My idea to this is that there are many power pants within the original power plant list which are located within this grid district. Probably a problem of the original data set. I could imagine that this happens primarly in big urban areas such as Berlin. That there are man

[2018-05-24 08:46] ulfmueller opened #261 "Creating a pf_hv specific minor release 0.3.1"
We are facing right now a problem that on the one hand the v0.4.0 is still not finished and on the other one hand we cannot calculate some with some of our eTraGo functionalities i.e. the ehv clustering in an adequate way because [this post processing script](https://github.com/openego/data_processing/blob/release/v0.4.0/dataprocessing/eGo_data_processing.py#L110) has not been run for any of the s

[2018-05-24 08:51] ulfmueller opened #262 "Suggestion for release work flow 'creating a minor release before starting a major one'"
For future clean-releases, I would suggest to have always a minor release right before the debugging process which just executes the versioning script (similar to the 0.3.0pre1 release done by @nesnoj ) just to version the last status of the model_draft before it is being 'emptied out'. Of course this kind of release might not be clean or consistent. So it can only used with additional care.

Or s

[2018-05-24 09:03] BartelsJ commented on #261
I am fine with what procedure.

[2018-05-24 09:33] Ludee commented on #262
I think the idea to create minor versions is quite good and would improve data availability.
But I never really understood the "preversion" stuff.
Why not just use a "real" version and give it a good name and explanation (and set release = false).

Therefore we have the [eGo scenario list](https://github.com/openego/data_processing/blob/51f0a25008c8f531e47bc937138c6a1642299655/preprocessing/sql_sn

[2018-05-24 12:19] wolfbunke commented on #242
Hey, I am back in office.
Regarding to the licensing question you can see the status on /redmine/issues/1870660101

[2018-05-25 08:51] IlkaCu commented on #262
I support that idea and could include this procedure in the 'how-to-release' tutorial I am going to write. Any objections?

@Ludee: I can't find the script to create the [eGo scenario list](https://github.com/openego/data_processing/blob/51f0a25008c8f531e47bc937138c6a1642299655/preprocessing/sql_snippets/ego_dp_structure_scenariolog.sql#L27-L41) in the current dev branch. And does the script need

[2018-05-25 11:33] wolfbunke commented on #261
yes me too

[2018-05-25 11:51] IlkaCu opened #264 "Bug in 'ego_dp_powerflow_assignment_storage.sql'"
`ProgrammingError: (psycopg2.ProgrammingError) column "id" does not exist
LINE 410:    where id <= 27
                   ^
HINT:  There is a column named "id" in table "a", but it cannot be referenced from this part of the query.
`
@ClaraBuettner  @s3pp: Can you help?

Did someone change the code in  ego_dp_powerflow_assignment_storage.sql or table model_draft.ego_grid_hv_electrical_neighbours_bus

[2018-05-25 12:51] ClaraBuettner commented on #264
Yes, I needed to change model_draft.ego_grid_hv_electrical_neighbours_bus to add connections between electrical neighbors. I thought I change it everywhere but it seems I havn't found this line.
You need to change "where id <= 27" to "where central_bus = True", that has to work.

[2018-05-28 08:01] Ludee commented on #262
Somehow it is not in the dev branch. I found the script by search.
Can we merge it?

The multiproject scenario_log should be fine with it. I already removed the foreign key to prevent errors with a new version.

[2018-05-28 08:40] IlkaCu opened #266 "Bug related to 'power_class' in ego_dp_powerflow_timeseries_generator.sql"
The following error occurs when executing the script ego_dp_powerflow_timeseries_generator.sql

[code]

@MarlonSchlemminger: Can you help here?

[2018-05-28 08:51] IlkaCu commented on #262
Can we merge it?

Feel free to create a PR for branch release/v0.4.0 to include the script.

[2018-05-28 08:54] MarlonSchlemminger commented on #266
Yeah, the table model_draft.ego_renewable_feedin is the old version. Did this script run properly before? https://github.com/openego/data_processing/blob/release/v0.4.0/preprocessing/python_scripts/renpass_gis/simple_feedin/simple_feedin.py

[2018-05-28 08:58] IlkaCu commented on #266
Thanks for your quick respond. I didn't know about that script and the necessity to execute it before the release.

[2018-05-28 09:06] MarlonSchlemminger commented on #266
Oh weird, I didn't create the script, I just changed it, so I thought it has always been part of the dp.

[2018-05-28 09:09] IlkaCu commented on #266
In the preprocessing the script will only be created once and is not included in the 'normal' DP run. Is that in line with the changes you made?

[2018-05-28 09:20] MarlonSchlemminger commented on #266
This is fine as long as the data in model_draft.ego_supply_renewable_bnetza_full_attribute and the weather data don't change.
If the weather data changes, this script has to run prior to simple_feedin.py. I think Wolf ran it manually a few weeks ago.
https://github.com/openego/data_processing/blob/release/v0.4.0/preprocessing/sql_snippets/ego_simple-feedin_per_scenario.sql

[2018-05-28 09:44] #264 closed

[2018-05-28 09:46] #255 closed

[2018-05-28 09:48] #257 closed

[2018-05-28 11:46] wolfbunke commented on #266
Hi, I just started to run simple_feedin.py and it will be followed by ego_simple-feedin_per_scenario.sql as far the first script is done. So far the script is running well.

[2018-05-28 13:18] MarlonSchlemminger commented on #266
It should be the other way around, ego_simple-feedin_per_scenario.sql first and simple_feedin.py second. But as I said, I think you already ran ego_simple-feedin_per_scenario a couple of weeks ago, so it shouldn't matter.

[2018-05-28 16:55] Ludee commented on #262
The scenario list is [here](https://github.com/openego/data_processing/blob/release/v0.4.0/preprocessing/scenario_log/ego_pp_scenario.sql#L55)

I added the new versions v0.4.0 and v0.4.1
So the next run should be v0.4.1!

[2018-05-29 07:16] IlkaCu commented on #262
I changed the description of v0.4.0, as this is the version used for debugging. I'm planning to release the actual data set created in the clean-run under version v0.4.1.

[2018-05-29 09:04] IlkaCu commented on #266
Did the script finish in the meantime?

[2018-05-29 09:06] MarlonSchlemminger commented on #266
I think so, the column power_class exists now.

[2018-05-29 11:44] wolfbunke commented on #266
You are talking about the model_draft.ego_supply_pf_generator_single table right?
Do we create the  power_class  column with the  `ego_simple-feedin_per_scenario.sql` or `simple_feedin.py ` -  No or?  Strange , should be an other script creating this column as those I started to run. ...

[2018-05-29 11:47] IlkaCu commented on #266
As far as I know, its table model_draft.ego_renewable_feedin which needed to be updated.
model_draft.ego_supply_pf_generator_single is created in the assignment_generator script.

https://github.com/openego/data_processing/blob/release/v0.4.0/dataprocessing/sql_snippets/ego_dp_powerflow_timeseries_generator.sql#L86-L95

[2018-05-29 11:47] MarlonSchlemminger commented on #266
The power_class column for model_draft.ego_renewable_feedin is produced in simple_feedin.py. The power_class column in model_draft.ego_supply_pf_generator_single is produced here https://github.com/openego/data_processing/blob/release/v0.4.0/dataprocessing/sql_snippets/ego_dp_powerflow_assignment_generator.sql#L243.

[2018-05-29 11:54] wolfbunke commented on #266
ok, data are updated now.

[2018-05-29 11:55] wolfbunke commented on #266
The backup files can be found on ftp /open_eGo/OpenEnergy_Plattform/Datenbank/backups-dumps

[2018-05-29 11:59] MarlonSchlemminger commented on #266
As visualization of the whole process.
![grafik](https://user-images.githubusercontent.com/22960010/40657531-7fb4ca5c-6348-11e8-8c27-80598f6ed821.png)

[2018-05-29 12:43] IlkaCu commented on #262
@Ludee: Btw please use branches and Pull Request when implementing changes in the dev or release branch. We agreed on this procedure already quite a long time ago and it helps to keep track of all changes during the release process.

[2018-05-31 08:38] IlkaCu commented on #226
@gplssm @Ludee The function write_ego_scenario_log for python scripts is not yet adjusted to the multiproject scenario log.
This causes a bug in the DP when executing ego_dp_powerflow_griddistrict_demand.py.
Please provide a bugfix.

[2018-05-31 09:29] Ludee commented on #226
In progress. Should be fixed before noon!

[2018-05-31 12:06] IlkaCu commented on #266
The script executed properly in the DP Debugging.

[2018-05-31 12:06] #266 closed

[2018-05-31 13:32] IlkaCu commented on #226
@Ludee: Is there any news?

[2018-05-31 14:12] gplssm commented on #226
I'm about to test it... I'll report back soon

[2018-05-31 14:20] gplssm commented on #226
Am I doing something wrong or is it simply not working...?

[code]

[2018-05-31 14:52] gplssm commented on #226
I adated the test command

[code]

Still doesn't work, here' the traceback (truncated)
[code]

[2018-05-31 15:49] jh-RLI commented on #226
@IlkaCu Test was successful, you have to pull the repo "egoio" also because i changed some things there too

[2018-05-31 19:05] IlkaCu commented on #226
I still receive the following error message:
[code]

I pulled the egoio and I'm on the dev branch there. Any ideas?

[2018-05-31 19:07] IlkaCu commented on #226
Of course - you renamed the function...

[2018-06-01 07:34] IlkaCu commented on #226
I adjusted the Python script in the DP accordingly and the script finished successfully. Thanks for your help.

[2018-06-01 07:34] #226 closed

[2018-06-05 12:29] #258 closed

[2018-06-05 12:32] IlkaCu commented on #242
As the original issue of this ticket is solved I'll close it. Concerning problems with the distribution of RES generators between MVGD I would like to ask @Ludee to create a separate ticket.

[2018-06-05 12:32] #242 closed

[2018-06-05 12:35] IlkaCu commented on #229
This should be included in the verification script which is about to be developed.

[2018-06-05 12:51] #183 closed

[2018-06-05 12:51] #200 closed

[2018-06-06 08:29] IlkaCu opened #269 "No electrical neighbours in v0.4.0"
Version v0.4.0 of the HV data model is missing all electrical neighbours. The data set should include border crossing lines between Germany and the electrical neighbours as well as lines between the neighbouring countries.

![grafik](https://user-images.githubusercontent.com/16799094/41026034-c3e97d40-6973-11e8-87c2-bef5e845c519.png)

[2018-06-06 08:46] IlkaCu opened #270 "Generators have buses which are not defined in v0.4.0"
eTraGo calculations with the new data model v0.4.0 return the following warning for the scenario 'NEP 2035':

[2018-06-06 08:49] IlkaCu commented on #270
Executing the following sql query
`SELECT count(*) FROM model_draft.ego_grid_pf_hv_generator WHERE scn_name= 'Status Quo' AND bus NOT IN (SELECT bus_id FROM model_draft.ego_grid_pf_hv_bus WHERE scn_name='Status Quo');` for the different scenarios returns a significantly lower number of buses which are connected to buses not existing in the bus table:

Status Quo: 64
NEP 2035: 65
eGo 100:  53

[2018-06-06 09:44] gplssm opened #272 "Include w_id in Generators table in supply"
Versioned data and model_draft data of v0.4.0 is not identical!

Versioned in supply misses the `w_id`. This affects
- supply.ego_dp_res_powerplant
- supply.ego_dp_res_powerplant_sq_mview
- supply.ego_dp_res_powerplant_nep2035_mview
- supply.ego_dp_res_powerplant_ego100_mview

[2018-06-06 10:00] IlkaCu commented on #270
`SELECT * FROM model_draft.ego_grid_pf_hv_generator WHERE scn_name= 'NEP 2035' AND bus IS NULL; `
This query returns all generators where no bus is defined.
Status Quo: 1 (lignite with p_nom = 135 MW)
NEP 2035: 2 ( lignite with p_nom= 193 MW and reservoir with p_nom = 141)
eGo 100: 1 (lignite with p_nom = 531 MW)

[2018-06-06 12:20] wolfbunke commented on #272
Thanks for checking the error is coursed in the version script. I will check the all columns and add w_id to the supply schema.

[2018-06-06 12:41] wolfbunke commented on #272
Fix it in https://github.com/openego/data_processing/pull/273

[2018-06-06 13:28] gplssm commented on #272
Thanks :+1:

[2018-06-08 10:47] lukasoldi opened #274 "Storages in AT and LU missing"
Storage assignment in neighbouring countries has been an issue in #129 already. The translation from renpass gis data to powerflow happens here:

https://github.com/openego/data_processing/dev/dataprocessing/sql_snippets/ego_dp_powerflow_assignment_storage.sql#L345

For all neighbouring countries, storages are taken from the table calc_renpass_gis.renpass_gis_storage where AT and LU have capacitie

[2018-06-08 11:06] lukasoldi opened #275 "Storage assignment to eGo 100"
In #265 we adjusted the storage parameters to be equal for all storages. This is not a problem if all existing storages are of the same technology (pumped hydro in this case).

In the 'eGo 100' scenario @wolfbunke introduced several new technologies to be part of the system, meaning that neighbouring countries will have hydrogen, battery or compressed air storages. In contrast, these technologies

[2018-06-08 11:41] BartelsJ commented on #275
That's a good one. So the new technologies are introduced as options but not regarded yet? As a first opinion I would choose the same technologies like in the other scenarios to ensure comparability. The assumption to use two storage types as equivalents for the variety of storage technologies is also transferable in this case I guess.

[2018-06-08 17:53] IlkaCu opened #277 "RES generators are relocated over a long distance"
![grafik](https://user-images.githubusercontent.com/16799094/41172309-c3f38d1c-6b53-11e8-8fa8-8ce218733feb.png)

As the screenshot shows some RES generators which are relocated over a very long distance. The geom of the affected generators was originally placed outside the German territory/ the mv grid districts. I'm pretty sure that we already dealt with the problem of RES generators which were p

[2018-06-08 18:16] IlkaCu commented on #277
In total 62479 generators are affected. I noticed this because for those generators the assignment of an subst_id in script ego_dp_substation_id_to_generator.sql based on their geom fails.
I assume that the REA algorithmn works and the problem was caused by the fact that we didn't clear the column 'subst_id' in the beginning of ego_dp_substation_id_to_generator.sql.
Now I wonder whether the REA sc

[2018-06-11 14:57] wolfbunke commented on #274
I am working / check here on your question https://gist.github.com/wolfbunke/c662a15fd016f367ccce0adf8ac9cb70 . I hope that I have  everything solved tomorrow.

[2018-06-11 15:18] jankaeh opened #280 "Lignite generators in Lübeck and near Hamburg?"
The two generators 35837 and 35858 are the lignite generators with the biggest value for p_nom in Germany (each 1050 MW) and are connected to the 110-kV-bus 25532, which is located in Lübeck (https://www.openstreetmap.org/search?query=53.897547401787%2C%2010.8023580242028#map=15/53.8975/10.8024)
I cannot find them in the related lists of BNetzA and OPSD. Might this be a bug? Or am I mistaken?

The

[2018-06-11 16:24] IlkaCu commented on #277
In the current run (v0.4.1) this problem does not occur. I assume that clearing the column 'subst_id' solved the problem.

[2018-06-11 16:24] #277 closed

[2018-06-11 16:40] IlkaCu opened #281 "duplicate key value violates unique constraint "bus_data_pkey""
Executing 'ego_dp_powerflow_electrical_neighbour.sql' returns the following error:

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "bus_data_pkey"
DETAIL:  Key (bus_id, scn_name)=(10173, Status Quo) already exists.

The unique constraint "bus_data_pkey" is the primary key of table model_draft.ego_grid_pf_hv_bus.
@ClaraBuettner: Can you help?

[2018-06-11 17:10] IlkaCu commented on #281
That would be great! The current branch I'm working on is release/v0.4.1

[2018-06-11 17:15] #281 closed

[2018-06-11 20:51] ulfmueller commented on #280
you are right! That was a bug. Please take v0.3.2. There it is fixed.

[2018-06-12 07:09] wolfbunke commented on #275
Hey @lukasoldi,

historically as fare I as I can remember we discussed this issue and end up with using different storage for the market calculation (make it solvable without changing other capacities/ the given scenario) but not using them for the grid optimization.

In order of having different use cases and a complete list of technologies, I think it would be a good idea to add them.

Documenta

[2018-06-12 07:41] ulfmueller commented on #275
Just to be sure I get this right, the eGo 100 new storage technologies are already part of the renpassgis data but are not transferred to the eTraGo power flow input data?

If we have decided that we only want to optimize the storage expansion within Germany and therefore take the planned storage expansion for the future scenarios in the neighboring countries as exogenous assumptions being then fi

[2018-06-12 07:43] wolfbunke commented on #274
We had a debate on storages of Sweden because of several different definition (reservoir hydropower plant, run of river or pumped Hydropower)  we decided to define it as hydro. Which was later changed  run_of_river. I think we should definitely change it for SE, if you have better / detailed data. Can you send the ENTSO-E data link please.

[2018-06-12 07:57] IlkaCu commented on #274
FYI: I stopped the DP run v0.4.1 right before the assignment_storage script. Once you are done with your adjustments please let me know. Then I'll proceed the run.

[2018-06-12 07:58] ulfmueller commented on #275
@wolfbunke Is it possible that you are mixing something up? If we do not optimize the storage expansion in the neighboring countries we do have to include their entire energy system exogenously. I think you are thinking about the method we use for the buses within Germany. But those are not of interest in this discussion.

The other option would be to just consider the status quo storages and assu

[2018-06-12 08:05] ulfmueller commented on #274
@IlkaCu I guess this  #275 implies a possible change to possibly wait for (if there is a fast and good decision)...

[2018-06-12 08:06] IlkaCu commented on #275
Please let me know if you want to include any changes regarding this issue in the v0.4.1 run. I stopped the current run right before the assignment-storage script to include adjustments concerning this issue and #274

[2018-06-12 10:10] wolfbunke commented on #275
Ok, it looks like that the storage_id is coursing the problem.

[code]
**Results**
|min| max|
|----|-----|
|4267363|4268076|

You can find the code here:
https://github.com/openego/data_processing/blob/release/v0.4.1/dataprocessing/sql_snippets/ego_dp_powerflow_assignment_storage.sql#L345-L348

later more

[2018-06-12 10:11] wolfbunke commented on #275
Where we create the storage_id? @IlkaCu @lukasoldi ???

[2018-06-12 11:29] jankaeh commented on #280
Thanks for your quick reply! Currently I'm not able to download anything from the platform. The only way that worked out for me, now gives an internal server error 500 (https://github.com/openego/oeplatform/issues/305):

data = requests.get(http://oep.iks.cs.ovgu.de//api/v0/schema/grid/tables/ego_pf_hv_generator/rows/?where=version=v0.3.2)

Could you give me a hint, how to change the request so th

[2018-06-12 11:57] ulfmueller commented on #280
The following feature is very new. If you have an account at the OEP you could use the sql alchemy dialect (see here: https://github.com/openego/ego.io/pull/59 ) and run calculation by getting data from the OEP without downloading. Would that be an option for you? Then, may be we could take this as an concrete use case to write a good how-to (@gnn / @MGlauer  ?!)

The changes were made on-the-fly.

[2018-06-12 12:42] IlkaCu commented on #275
The storage_id in model_draft.ego_supply_pf_storage_single is equivalent to the un_id from the powerplant mviews, as you can for example see here: https://github.com/openego/data_processing/blob/release/v0.4.1/dataprocessing/sql_snippets/ego_dp_powerflow_assignment_storage.sql#L152-L155

[2018-06-12 14:33] jankaeh commented on #280
I just realized by comparing the buses of the generators in v.3.0 and v.3.2 in the dataview of the database, that at least uranium, coal, lignite and gas generators are affected. I manually looked at the top7 and bottom2 generators concerning dispatch-reduction if line-capacities are regarded and all of them are placed somewhere totally different in v.3.2. Or are the bus-ids different too in those

[2018-06-12 14:38] ulfmueller commented on #280
I could send you an owncloud link of the generator.csv of the 0.3.2 version, ok? As a quick-and-dirty master thesis service :smirk: . allright?
btw: I totally understand that our 'dynamic' development is very hard to understand from the outside! Cool, that you anyhow are able to use much of our stuff! Documentation will become better!

[2018-06-12 14:49] jankaeh commented on #280
That would be great! Thanks. :-)

[2018-06-12 15:19] ulfmueller commented on #280
Apperently got your email address wrong. Here is the generator and bus file (only txt was possible, but should not bother):

[generators.txt](https://github.com/openego/data_processing/files/2094626/generators.txt)
[buses.txt](https://github.com/openego/data_processing/files/2094627/buses.txt)

[2018-06-12 15:25] wolfbunke commented on #274
The bug is fixed in #283. I checked the number of storages and country per scenario

|scn_name | no counties| no storages|
|--------------|---------------|----------------|
|  SQ          | 5                | 5                 |
| NEP 2035| 6                | 6                 |
|ego100     | 9                | 40     *        |

\* introduced more technologies

[2018-06-13 07:18] wolfbunke commented on #274
I updated the docu for SQ and NEP in https://github.com/znes/FlEnS/tree/features/ego-timeseries/open_eGo/

[2018-06-13 17:40] lukasoldi commented on #275
should now be resolved by #284 but remains open until tested.

[2018-06-13 20:40] IlkaCu opened #285 "aggregate function in assignment_storage"
Executing the adjusted script 'ego_dp_powerflow_assignment_storage.sql' creates the following error:
[code]

@lukasoldi, @wolfbunke: It seems to be a combination of the changes you made, which causes the problem.

[2018-06-14 06:33] wolfbunke commented on #285
strange as a single command it is working. I take a look and change it.

[2018-06-14 06:46] wolfbunke commented on #285
Is this error maybe caused by using python for the sql script? As fare I can remember we had a similar problem in the beginning or? @IlkaCu

[2018-06-14 06:58] wolfbunke commented on #285
It looks that the problem is the change of input tables of the eGo100 scenario of storages. `calc_renpass_gis.renpass_gis_storage ` is here ` model_draft.ego_grid_pf_hv_storage_batteries`. See https://github.com/openego/data_processing/blob/release/v0.4.1/dataprocessing/sql_snippets/ego_dp_powerflow_assignment_storage.sql#L557

[2018-06-14 07:15] wolfbunke commented on #285
this is not the reason. I change the query for ego100.

[2018-06-14 08:00] wolfbunke commented on #285
Ok my suggestion is to change the script a bit:

To delete the new code here:
[code]
And use a temp table with only needed and already totalized data like:

[code]
and use this table in order to add the other parameters for https://github.com/openego/data_processing/blob/release/v0.4.1/dataprocessing/sql_snippets/ego_dp_powerflow_assignment_storage.sql#L511-L532
and the join it with https://github

[2018-06-14 08:16] lukasoldi commented on #285
Well, if this works it's a nice workaround. Have you tested it? @wolfbunke

[2018-06-14 08:27] lukasoldi commented on #285
Nice, then let's go for a PR. Do you want to implement it @wolfbunke?

[2018-06-14 09:11] wolfbunke commented on #285
I thought you would adapt it.

[2018-06-14 09:37] wolfbunke commented on #285
@lukasoldi as you sad I forgot to add the filter for the types of storages.
Here my new script for testing:

[code]
For testing the storage_id has to be set as comment.

[2018-06-14 09:38] wolfbunke commented on #285
@lukasoldi it would be nice if you could test it and implement it for the other types of storages.

[2018-06-14 10:06] lukasoldi commented on #285
Generally working, BUT there are still no storages for AT and LU. Any clues, @wolfbunke?

[2018-06-14 11:02] wolfbunke commented on #285
This is coursed by the "Kupferplatten" logic of the market of Germany by feeding in DE_bus_el . I was not sure if those storages has to be added?  By adding AT_storage_phs, LU_storage_phs to the filter function it will work:
[code]

This needs to be added for all three scenarios.

[2018-06-14 13:04] #285 closed

[2018-06-18 09:08] IlkaCu commented on #207
It seems that the adjustments for 'Umspannwerk Marke' did not work properly. In the current data set in the model_draft (v0.4.1)  we see two subgrids around here. One consisting of bus 17124, 17477 and line 20258. The other subgrid is an isolated bus with bus_id= 17939.
Furthermore the connecting line between the 110 kV lines east of 'UW Marke' and the substation itself is still missing.
@ClaraBue

[2018-06-18 14:07] IlkaCu opened #288 "Line 6933 has buses which are not defined"
In the current data model the 380kV-line '6933' has a bus which is not listed in the bus table (bus_id = 25562) arpound 'Umspannwerk Plattling'. At the corresponding position a 380 kV bus is missing.

![grafik](https://user-images.githubusercontent.com/16799094/41540680-f623d606-7310-11e8-8218-11b0ddf28704.png)

@ClaraBuettner: You already dealt with a problem in the area of this substation and do

[2018-06-18 14:11] IlkaCu commented on #288
It might be a bug somewhere here: https://github.com/openego/data_processing/blob/master/dataprocessing/sql_snippets/ego_dp_powerflow_fix_ehv_subnetworks.sql#L120-L166

[2018-06-18 14:17] ClaraBuettner commented on #288
The line should have been deleted, it was replaced with two other lines which have been created. I'll take a look why that hasn't worked.

[2018-06-18 15:34] ulfmueller commented on #270
Well, exactly these 4 power plants (especially the null values in the bus column) lead to the final problem that all power plants are not defined. What are the reason for these null values?
We had the [same issue before](https://github.com/openego/data_processing/issues/170#issuecomment-331870009). That time I just deleted these minor power plants with null values in order to have a calculable dat

[2018-06-18 15:51] ulfmueller commented on #270
For the record, I deleted the mentioned 4 power plants and it works fine.

[2018-06-19 12:20] ClaraBuettner commented on #207
I changed some buses from lines without changing the geom, so its not that easy to see what I did there. I think the subnetworks are not needed anymore and can be deleted.
When I calculate, I don't get any subnetworks but my data looks the same.
I'll take a closer look on this soon.

[2018-06-19 12:48] IlkaCu commented on #207
The current data version in the model_draft definitely includes the mentioned subnetworks. Additionally there is no line added to connect the 110 kV lines on the right with the substation itself, which was the initial incentive to adjust the grid topology around 'UW Marke'. See https://github.com/openego/eTraGo/issues/97

[2018-06-19 13:14] IlkaCu commented on #207
Now I understand what you mean. I think it would be good to change the geom of the lines as well. Otherwise it looks like a topology error when looking at the data in QGIS.

[2018-06-19 13:39] MarlonSchlemminger opened #290 "Capacities of Crossborder-Lines"
I did some research about the capacities for our crossborder lines (Germany to a foreign bus, not between foreign buses) and came to the conclusion that we might be overestimating the capacities to some countries, namely to Sweden und Switzerland. I found it tough to get reliable numbers, which is why I mostly want to talk about dimensions, not about precise numbers. My sources are the electricity

[2018-06-20 07:34] ClaraBuettner commented on #290
The line to Sweden has been simplified as an AC-line in the last data-models and has been changed to a DC-line (with p_nom = 600). Due to a bug, the old AC lines wasn't deleted. So the problem in Sweden will be solved soon.
The line crossing the Sweden line was created because there's a danish bus (in otg_ehvhv_bus data there's the country_id of each bus) in the Baltic sea which needed to be conne

[2018-06-20 07:44] ClaraBuettner commented on #207
Yes, I know this wasn't that good, but I guess the problem needed to be fixed soon, so I didn't focused on that.
I have to write exams next week, but I try to implement this as soon as possible.

[2018-06-20 08:48] ClaraBuettner commented on #207
I just updated the geom of the lines with updated buses, but the straight connection (green) looks much different than the real one (orange). Is this ok when I leave the length and x' as it was or should I try to update the real geom in order to have a better result? I know the second option is better but it needs much more time...
![marke](https://user-images.githubusercontent.com/22964326/416477

[2018-06-20 09:07] IlkaCu commented on #207
For now this looks fine for me. We can discuss whether we want to implement a more sophisticated approach after your exams.
From my point of view it's the most important to implement the Delete-statements to get rid of the subnetworks.

[2018-06-20 10:48] jankaeh opened #293 "control not always set dependend on p_nom?"
I just saw coincidentally, that the control strategy of generators is not consistently PV if p_nom is >= 50 MW and PQ if p_nom is < 50 MW.
I work with v.0.3.2 and there are 6 generators with PV control and p_nom <50 and 300 generators with PQ control despite p_nom >=50

Might this be a bug, or is this planned?

[2018-06-20 12:01] ulfmueller commented on #293
Renewables are always PQ. Are the 300 gens big REs?

[2018-06-20 12:02] ulfmueller commented on #293
For the 6 below I do not have an idea. @IlkaCu Do you know about this?

[2018-06-20 12:03] ulfmueller commented on #293
btw: @jankaeh do you apply non-linear power flow methods on our data model? For the linear power flow methods this is not relevant. This method has been our primary focus...

[2018-06-20 12:31] jankaeh commented on #293
And there are some REs with control PV, but as the names are all 2000XY, I guess they are foreign and therefore PV-controlled?

[2018-06-20 12:37] ulfmueller commented on #293
yes, that makes sense. We assume that those neighboring countries nodes are PV nodes avoiding big cross-border Q-flows. So from my point of view I would say it is nothing to bother about...

[2018-06-20 12:46] IlkaCu commented on #293
I'll check our data model for this bug later today.
This is where we set the control for generators in Germany: https://github.com/openego/data_processing/blob/master/dataprocessing/sql_snippets/ego_dp_powerflow_assignment_generator.sql#L228-L234

[2018-06-20 14:45] IlkaCu commented on #293
As you already mentioned the 6 generators with p_nom < 50 MW and control = 'PV' are generators at the foreign buses.
The 300 PQ-controlled generators with a p_nom >=50 MW are aggregates of small renewable or conventional power plants. Each of these power plants has an installed capacity <50 MW, but the aggregate may exceed the 50 MW limit. The control is set according to the installed capacity of

[2018-06-20 15:31] #293 closed

[2018-06-21 09:07] ulfmueller commented on #290
Checking this issue, one question popped up. @ClaraBuettner Did we ever talk about this DC line going from Germany (Bentwisch) to Denmark (Bjæverskov)? Is that a new power line? Why did we not include it?

[2018-06-21 09:10] #288 closed

[2018-06-21 14:35] ClaraBuettner commented on #290
That's a good question. The line seems to be there since 1995, but we have never talked about it. I'm not sure if it is currently integrated as an AC-line (it could be the one Marlon was writing about).
I suggest to take a closer look on this and implement it as a DC-link when I make the changes of capacities we talked about today?

And as an update for the documentation:
In Switzerland, the borde

[2018-06-21 14:41] MarlonSchlemminger commented on #290
The line I talked about is the second one visible in Ulfs screenshot, going from Lübeck to Sweden, not to Denmark.
What total capacity to Switzerland do we have now after you made the changes? Thanks for your effort!

[2018-06-21 14:50] ClaraBuettner commented on #290
I only deleted two 380kV-systems, so it's reduced by 3580 MW.

[2018-06-22 15:32] ulfmueller commented on #290
I suggest to take a closer look on this and implement it as a DC-link when I make the changes of capacities we talked about today?

sounds good! You wrote you deleted the 2 systems to Switzerland. Did you tackle this Denmark-issue yet?

[2018-06-25 07:36] RegulaW opened #297 "Hourly load profiles at EHV-HV level"
I'm looking for hourly load profiles for the EHV-HV grid level.

Does anyone have the data available and can send it to me?

[2018-06-25 12:59] IlkaCu commented on #269
Fixed in #287.

[2018-06-25 12:59] #269 closed

[2018-06-25 14:28] #168 closed

[2018-06-26 12:26] gplssm opened #298 "Generator MViews are missing in model_draft"
We get a
[code]
when querying the generator scenario mviews (same for nep2035, ego100). These mviews do not exist in model_draft.
Was there an incomplete run of the DP recently?

The corresponding versioned mviews in the supply schema do exist!

[2018-06-26 20:17] gplssm opened #299 "Why is id changed to gid?"
Table `supply.ego_dp_res_powerplant` was formerly equipped with a column `id`. This has now changed for this table and derived mviews in versioned data schemas. It is incompatible with model_draft. Is there a particular reason for this change? @IlkaCu or @wolfbunke

[2018-06-27 06:53] wolfbunke commented on #299
No idea why it is now `gid`? From the main script it should be still  ` id`. https://github.com/openego/data_processing/blame/release/v0.4.2/preprocessing/sql_snippets/ego_dp_preprocessing_res_powerplant.sql#L20

[2018-06-27 07:00] wolfbunke commented on #299
Also for the MView I can see changes: https://github.com/openego/data_processing/blame/release/v0.4.2/dataprocessing/sql_snippets/ego_dp_versioning_mviews.sql#L109 as well by checking the mview it self.
* supply.ego_dp_res_powerplant_ego100_mview
* supply.ego_dp_res_powerplant_nep2035_mview
*  supply.ego_dp_res_powerplant_sq_mview
For the conventional power plants it was always called `gid`.

[2018-06-27 09:10] gplssm commented on #299
I'm sorry for misleading issue description! It was about the conv tables/mviews. Thanks to @IlkaCu for quickly solving this :+1:

[2018-06-27 09:10] #299 closed

[2018-06-27 14:51] #272 closed

[2018-06-28 10:28] gplssm opened #302 "Only latest version in supply RES mviews"
The mviews
* supply.ego_dp_res_powerplant_sq_mview
* supply.ego_dp_res_powerplant_nep2035_mview
* supply.ego_dp_res_powerplant_ego100_mview
* supply.ego_dp_conv_powerplant_sq_mview
* supply.ego_dp_conv_powerplant_nep2035_mview
* supply.ego_dp_conv_powerplant_ego100_mview

only contain the latest DP version. This does not allow for long-term reproducibility of ding0/eDisGo data.
As we're querying e

[2018-06-30 13:34] jankaeh commented on #297
If you use the topology of the oep, you should be able to use the data in this schema:
http://oep.iks.cs.ovgu.de/dataedit/view/grid/ego_pf_hv_load_pq_set

The only way I know to download it is saving this json-file, for example filtering for version v.0.3.2 and scenario Status Quo dependent on the version of the topology you are using (note that this will probably take long):
http://oep.iks.cs.ovg

[2018-07-05 12:46] ClaraBuettner commented on #290
Honestly, I don't understand the problem with the line to Sweden (in new versions implemented as link), can you try to explain it again? The lines cross each other but that fits to the entso-e map.
And I just updated the electrical_neighbor script (https://github.com/openego/data_processing/tree/feature/new_neighbour_script); the lines in foreign countries now get the same capacity as the border c

[2018-07-11 08:20] jankaeh opened #305 "Distribution of wind generators / wind dispatch in v0.3.2"
Hi, I use data from v0.3.0 with generators from v0.3.2 and clip foreign components. I overwrite wind on/offshore with wind. For 2011-09-14 12:00 I get this distribution of dispatch from a merit order simulation:
![bus_shares_by_carrier_prob](https://user-images.githubusercontent.com/33579567/42559066-58860762-84f3-11e8-906b-c710641a980a.png)

The two biggest wind inputs confuse me. They don't refl

[2018-07-11 08:29] ulfmueller commented on #305
Looks weird. But it would be good know about the order of magnitude. I would check the p_nom distribution of the wind power plants and see if those are realistic (maybe also check the p_max_pu, if they are reasonable). If yes, then of course it would be possible that in some hours it can make sense to dispatch cheap wind near to the demand more than in other less demanded or/and more restricted re

[2018-07-11 08:37] jankaeh commented on #305
All generators with marginal costs = 0 dispatch at p_nom or p_max_pu*p_nom. Only one uranium generator dispatches in the sense of merit order. I'll investigate further when my simulations are done and let you know if I found a mistake I made or if this might be a bug.

[2018-07-11 08:46] ulfmueller commented on #305
ah ok your RE are not flexibly dispatched. Then it is definitely wrongly distributed. Is it possible that somehow your offshore wind is attached falsely? Since they are two and the order of magnitude looks a bit like that. I will check what happens if I use 0.3.2 as a consistent dataset... Btw: why dont you take the entire 0.3.2?

[2018-07-11 08:47] ulfmueller commented on #305
just to be fast. what start_snapshot you used?

[2018-07-11 09:00] MarlonSchlemminger commented on #290
I evaluated the lines between electrical neighbours you added in 0.4.1. Everything seems to match the reality really good, besides DK to SE, where we have 8200 MW in the model and 3324 MW in the ACER paper. Probably a similar case to what we experienced in Switzerland?
![crossborder_foreign](https://user-images.githubusercontent.com/22960010/42561472-81447714-84f9-11e8-9cca-c0ce61950023.PNG)

[2018-07-11 09:11] jankaeh commented on #305
2011-09-14 12:00 is the timestamp. I use quartals as datasets, so the integer index isn't the same but I guess 6192?
When I find the time, I'll switch to v.0.3.2 entirely. Oh I just realize there is a v.0.4.2 released... So I'll probably upgrade to that version soon.

[2018-07-11 09:14] ClaraBuettner commented on #290
The capacity of lines between electrical neighbors is calculated directly with an import of the ENTSO-E  map. (in oedb: model_draft.ego_grid_pp_entsoe_line) So a problem like in Switzerland isn't possible, I guess there's a problem in the imported tables (the grid map was imported wth GridKit) since the number of circuits is higer than on the grid map online.
I could fix this manually, but I don't

[2018-07-11 09:35] MarlonSchlemminger commented on #290
Im adjusting all crossborder capacities manually myself anyways, just wanted to let you know that there might be something wrong.

[2018-07-11 09:39] ClaraBuettner commented on #290
The lines between Sweden and Denmark are underground cables, which have less capacity the transmission lines. But the imported map dosn't include information about this, and all lines are assumed as transmission lines. That causes an overestimation and closely doubles the capacity between Denmark and Sweden.
Thank's for the hint, I will implement this better now.

[2018-07-12 07:51] wolfbunke commented on #275
Did you test it?

[2018-07-12 07:52] wolfbunke commented on #274
I guess we can close this issue, right?

[2018-07-12 07:56] lukasoldi commented on #274
Yes, this works from version v0.4.1.

[2018-07-12 07:56] #274 closed

[2018-07-12 07:59] wolfbunke commented on #192
Is it still an issue or can we close this issue?

[2018-07-12 07:59] lukasoldi commented on #275
Yes, works fine.

[2018-07-12 07:59] #275 closed

[2018-07-12 09:53] ClaraBuettner commented on #305
I'm not sure how helpful this is for this issue, but I just committed a bug fix in etrago/.io, that considers the grid version of carrier. So you don't need to overwrite carries manually anymore when you update eTraGo.
https://github.com/openego/eTraGo/pull/198/commits/9daf0932378581bcc44b402b79cef1ace6086f08

[2018-07-13 09:00] lukasoldi commented on #290
@MarlonSchlemminger how do you do this manual adjustment, is it a function in eTraGo?

[2018-07-13 09:37] MarlonSchlemminger commented on #290
No, this is something I have written myself for my masterthesis. I set countrytags to each line and can then adjust the capacities percentagewise or just with flat values.

[2018-07-16 10:04] maltesc opened #306 "Versioning of table ego_supply_pf_generator_single"
After some discussion, we decided to version the table _model_draft.ego_supply_pf_generator_single_.

@IlkaCu, could you please implement the versioning of this table?

[2018-07-16 11:43] IlkaCu commented on #306
Other than stated above we agreed to convert the materialized view _model_draft.ego_supply_aggr_weather_mview_ to a table in the model_draft and implement a versioning for it.

[2018-07-16 11:55] IlkaCu opened #307 "Meta data for grid.ego_line_expansion_costs missing"
The meta data for table grid.ego_line_expansion_costs is missing.

[2018-07-17 09:05] IlkaCu commented on #302
@wolfbunke What do you think? Could you adjust the mviews in the supply schema accordingly?

[2018-07-17 09:55] wolfbunke commented on #302
Yes we can remove the  `where version = xxx` query and query this later in the scripts? Or create single views per version? Like: supply.ego_dp_res_powerplant_sq_mview_v0.3.0.

It is up to you because I don't now if you have everywhere where statements in the DP if using the mviews.

[2018-07-17 12:54] wolfbunke commented on #302
changes are done in  #309. Now you have to use a version filter ` where version = xxx `.
The MViews includes the version:

|version|
|--------|
|v0.4.2|
|v0.4.0|
|v0.3.0|
|v0.4.1|
|v0.3.0pre1|

[2018-07-17 13:00] wolfbunke commented on #302
The scripts are running now. The MViews` supply.ego_dp_res_powerplant_nep2035_mview ` and  `supply.ego_dp_res_powerplant_ego100_mview` will need view time (20h).

[2018-07-17 14:47] wolfbunke commented on #302
This affect the generator import of eDisGo @gplssm @birgits @maltesc

[2018-07-18 13:02] IlkaCu commented on #207
The mentioned bugfixes are implemented in the current version of the data set.

[2018-07-18 13:02] #207 closed

[2018-07-18 13:03] IlkaCu commented on #205
A first draft of the verification script is implemented [ego_dp_data_check.sql](https://github.com/openego/data_processing/blob/dev/utilities/ego_dp_data_check.sql)

[2018-07-18 13:04] #202 closed

[2018-07-18 13:06] ulfmueller commented on #215
@MarlonSchlemminger Did you check if this problem is solved? I would check it but if you have done it already I would be interested in the results!

[2018-07-18 13:08] ulfmueller commented on #153
solved in eTraGo. The temp_resolution is versioned which is fine.

[2018-07-18 13:08] #153 closed

[2018-07-18 13:12] IlkaCu commented on #63
I fixed this issue some time ago.

[2018-07-18 13:12] #63 closed

[2018-07-18 13:21] MarlonSchlemminger commented on #215
Yeah I've checked that and it is solved. I checked it with the following code:
`SELECT b.scn_name, sum(b.feedin)/c.p_nom AS p_max_pu
FROM (
	SELECT a.scn_name, sum(a.feedin) AS feedin
	FROM (
		SELECT
		scn_name,
		rn,
		elem*p_nom AS feedin
		FROM
			(SELECT
			gen.scn_name,
			p_nom,
			p_max_pu
			FROM grid.ego_pf_hv_generator_pq_set AS ts,
			model_draft.ego_grid_pf_hv_generator AS gen
			WHER

[2018-07-18 13:38] MarlonSchlemminger commented on #215
And here are the results.
Solar:
![flh_solar](https://user-images.githubusercontent.com/22960010/42885104-61dea668-8aa0-11e8-94b4-127888ca71eb.PNG)

Wind Onshore:
![flh_onshore](https://user-images.githubusercontent.com/22960010/42885167-8ef5c7a8-8aa0-11e8-88da-1f798e05b17c.PNG)

Wind Offshore
![flh_offshore](https://user-images.githubusercontent.com/22960010/42885207-a7cd8e28-8aa0-11e8-8d5c-d7d73

[2018-07-18 13:54] ulfmueller commented on #215
Nice job! Thx!!

[2018-07-18 13:54] #215 closed

[2018-07-18 14:13] IlkaCu commented on #262
I documented the suggested work flow in the release guide.

[2018-07-18 14:13] #262 closed

[2018-07-18 16:56] nesnoj opened #311 "Use OSM data for RES positioning"
_(preface: this is not issue to be solved in eGo but is related to the developed methods)_

There's some room for improvements in the current RES positioning, especially the raster-based methods (WEC, low voltage PV) are inaccurate. Therefore, I'd like to use OSM data to achieve better results. A short description of the current methods can be found in [this paper](http://iopscience.iop.org/articl

[2018-07-19 07:42] wolfbunke commented on #302
I got view connection problems with NEP and eGo Mview creation. At the moments I rolled back to the old version of  ` v0.4.2`. After the eGo release I will start this query  over the week again.

[2018-07-26 16:52] IlkaCu commented on #302
@wolfbunke: Please implement the described changes in the current release branch release/v0.4.4.
Then we can check if it works or not, when executing it as part of the regular DP run.

[2018-07-27 06:38] wolfbunke commented on #302
You find the changes in the pull request #313

[2018-07-27 10:22] MarlonSchlemminger opened #314 "Fossil capacities in NEP 2035, version 0.4.x"
What happened to the conventional generation capacities in Germany in the NEP 2035 scenario from 0.4.0 onwards? This is what is in the dataset:
![cap](https://user-images.githubusercontent.com/22960010/43315786-63f5ee86-9197-11e8-9f5c-42d4a40e8c01.PNG)
Shouldn't there be something like 30 GW of gas and 10 GW of lignite and coal each? At least this is what I find in the NEP itself and in versions e

[2018-08-08 08:33] nesnoj commented on #311
Yes, I'd definitely use the MVGDs since every RES requires a grid connection to HV anyway and I think the developed approach is good.
Concerning LV PV: You are right, the focus is on MV WEC+PV. LV PV might not be touched.

Different from the first post's method, a more recent RES data source could be used:
1. [netztransparenz.de](https://www.netztransparenz.de/EEG/Anlagenstammdaten)
-> initial dat

[2018-08-08 10:40] nesnoj commented on #311
@ulfmueller @wolfbunke @IlkaCu
We're planning this RES update for another project. According to my information, there are no further data updates planned in eGo. From your point of view, is it worth to implement this update to work / be in line with the rest of the DP?

[2018-08-08 10:54] ulfmueller commented on #311
We are right now creating a 0.4.4 and 0.4.5 (clean-run of 0.4.4) dp version. Right, that shall be the very last data set generated in the open_eGo project.
Definitely it would be nice if there could be a further dp version in which your changes are included. Very interesting! It would be probably nothing we would have time to evaluate in depth but may be it could be used in other projects.
Do you

[2018-08-08 15:31] Ludee commented on #311
We will try to make this task compatible with the eGoDP. But it will be separated to not mess anything up ;)

I need an European OSM version anyway, so I will prepare a new upload from [Geofabrik](http://download.geofabrik.de/europe.html#). We can choose between the latest monthly (europe-180801.osm.pbf) or the yearly LTS (europe-180101.osm.pbf).

Any wishes?

[2018-08-09 08:12] ulfmueller commented on #311
I like the approach to make it compatible but without messing up stuff which is working and in use!!

I am bit curious, how is your work-flow to separate it? (code-wise and data-wise)
code-wise: creating a new branch within the current data processing? (vs. creating a new repos)
data-wise: creating new tables in existing model_draft and other existing schemata? (vs. creating new database/schemata

[2018-08-09 09:53] ulfmueller opened #318 "dp run 0.4.4. and 0.4.5"
We just succesfully ran a new dp run 0.4.4. which included some fixes for the hv-pf part.
The [versioning of the mviews](https://github.com/openego/data_processing/blob/master/dataprocessing/eGo_data_processing.py#L113) is still running. A new features shall include data of all (also old) versions within those mviews. Therefore this script shall take some time.

I'll inform you when it is done.

A

[2018-08-09 09:55] ulfmueller commented on #314
seems to be fixed in 0.4.4

[2018-08-09 10:44] nesnoj commented on #311
Good point!
Code: A new branch should suit our needs.
Data: To avoid interferences with current dp runs, we need to create new tables. Same name with an extra prefix or something. Furthermore, all functions that alter other tables which we do not need for testing should be commented out.

@Ludee: We need to know which tables are affected - is the [BPMN](https://github.com/openego/data_processing/b

[2018-08-09 11:01] nesnoj commented on #311
I prefer an update of the eGo data with the BNetzA dataset only. Although we take along errors from the eGo data, I'd avoid a complete re-evaluation of the vast RES data from the TSOs again (OPSD was created to do this).

**Concerning licenses of new RES data:**

1) BNetzA:
- [There](https://www.bundesnetzagentur.de/DE/Sachgebiete/ElektrizitaetundGas/Unternehmen_Institutionen/ErneuerbareEnergien/Z

[2018-08-13 09:12] nesnoj commented on #311
An updated proposal which incorporates all aspects from above:
(please amend if something is missing)

**Updated types**
- WEC: type=wind, voltage_level in [4,5]
- PV: type=solar, subtype=ground-mounted, voltage_level in [4,5]
- Biomass: type in [biomass, gas], voltage_level in [4,5]

**Current approach, scripts and data**
- General approach: See papers [1](http://iopscience.iop.org/article/10.108

[2018-08-13 13:14] ulfmueller commented on #318
fyi:
The mview versioning is still ongoing. But it is totally independent from the all tables which are created in the data processing.

We want to start the clean run now (v0.4.5) which will make many ego-specific model_draft tables less reliable the next approx. 2 days. We will start it tonight if no objections arise.

[2018-08-14 16:02] nesnoj commented on #318
Please notify as soon as this is done as we're up to perform urgent calculations..

[2018-08-14 16:36] nesnoj commented on #311
Ok, due to available time we agreed on a minimal version:

- No DP integration for now

Part 1
- Test with eGo dataset
- Use OSM points
- Stay with current RES methods
- Update REA scripts to use OSM points for above types as additional allocation points.
Affected methods:
  - M1, M3, M4
  - exclude M2

Part 2
- Update RES data using ex ante OPSD dataset from @wolfbunke

[2018-08-15 08:56] ulfmueller commented on #318
I'll inform you asap. Right now it is at this [rea script](https://github.com/openego/data_processing/blob/release/v0.4.5/dataprocessing/eGo_data_processing.py#L84).

[2018-08-15 17:47] Ludee commented on #311
Just checked and M1-1 for biogas is completed and data is valid!
Now more methods can be created "quite" easy.
I wish you good luck

[2018-08-16 06:49] ulfmueller commented on #318
A small update, the dp is here right now:
2018-08-15 06:21:10 Execute 'rea/ego_dp_rea_m4.sql' ...
2018-08-15 11:23:41 ...successfully done in 18151.02 seconds.
2018-08-15 11:23:41 Execute 'rea/ego_dp_rea_m5.sql' ...

I assume it'll be done by tonight.

[2018-08-16 06:57] birgits commented on #318
For me as a non-dp-specialist - I assume that that means that the mviews for RES scenarios are still not available in model_draft or versioned schema?

[2018-08-16 07:09] ulfmueller commented on #318
Yes for the model_draft. But the last script is running already 10 hours. When that one is finished the model_draft mviews are back which should earlier than tonight. I'll inform you.
For the versioned schema, what is the status there @wolfbunke ?

[2018-08-16 07:27] wolfbunke commented on #318
Hi for the schema supply you can use "Status Quo" already. The Creation of "NEP 2035" is still running since 45 hours and may need 3-9 more hours by my rough estimation (No. version x 9h).

[2018-08-16 07:29] wolfbunke commented on #318
For the "ego 100" scenario I will maybe remove older versions because the run time will be 18h x No. version, if it is ok for you?

[2018-08-16 08:00] nesnoj commented on #318
What do you mean by "No. version x 9h" ?

[2018-08-16 09:34] wolfbunke commented on #318
We have  several different versions (v0.3.0, ... v04.4) per version the script needs 9 hours

[2018-08-17 05:55] #314 closed

[2018-08-17 06:04] wolfbunke commented on #318
The Script for NEP 2035 is still running since 68 hours. I counted the versions and there are 11. With my estimation (11x9h) it will take 31 more hours.

For the eGo 100 scenario I like to limited the number of version. Could you please name me version which are required? I will place them first and create an additional mview with all versions, which can be renamed later on.

[2018-08-20 06:52] wolfbunke commented on #318
Unfortunately, the script is still running since 142 hours.

[2018-08-20 10:27] ulfmueller commented on #318
And at the same time, the dp run 0.4.5 is still running. It is inexplicably and unexpectedly stuck [here](https://github.com/openego/data_processing/blob/release/v0.4.5/dataprocessing/eGo_data_processing.py#L98). That means there are still no new model_draft mviews available. I feel very sorry for that delay. We run the mysteriously not finishing script directly from sql hoping to finish the run s

[2018-08-20 10:37] nesnoj commented on #318
Sounds reasonable.
Except for the server duty which slows down out im- and exports, it does not affect our current runs as we use dingo (sq views) only.

[2018-08-20 11:27] nesnoj commented on #318
Right, no thirst except for :coffee: