[2016-04-19 15:27] MGlauer opened #1 "Executable BPMN with SQL annotations"
Given are BPMN diagrams with SQL Annotations.

We need a tool that reads the BPMN from a [yEd](https://www.yworks.com/products/yed) xml-file (e.g. [here](https://github.com/openego/data_processing/files/226186/bpmn_examples_simple_data_processing.graphml.txt)) and executes it according to the [BPNM specification](http://www.omg.org/spec/BPMN/2.0/) .
Flow elements may be annotated by SQL statements

[2016-05-01 15:35] tillmo opened #2 "Transform yEd diagrams to BPMN"
start with file Methodik_Verbrauchsverteilung_AP2.6_160222_RLI.graphml (see email from April 21, 14:34h).
Build a data-oriented ad-hoc process BPMN diagram, see p.63 of http://www.omg.org/news/meetings/workshops/soa-bpm-mda-2006/00-T4_White.pdf

[2016-05-10 16:11] tillmo opened #3 "represent the graph of a yEd graphml file in Python"
filter for `<graph>`,  `<node>` and `<edge>`.
Create corresponding Python classes: Graph, Node, Edge. Also classes  Pool, Lane (Lane is a subclass of Graph, and basically, Graph and Lane can be considered to be the same).
For each graph, create a Python Graph, for each node, create a Python Node etc.

For each node type, create Python subclass of class Node (e.g. Activity and Event).
How to recogn

[2016-06-07 19:57] apoorva-ovgu commented on #3
python files are uploaded in the draftBranch i.e. at data_processing/bpmn/
name: gmlparser.zip

[2016-06-07 19:59] apoorva-ovgu commented on #3
starting point: MakeObjects.py

mutually recursive functions makeGraph and MakeNode in turn call all other functions, apart from each other.
Levels are now maintained and they are no longer flat results.

in order to view all results:
go to <Element>Class.py and uncomment the call to display method

[2016-06-07 20:01] apoorva-ovgu commented on #2
converted files can be found in the draft_branch under data_processing/bpmn/

[2016-06-07 20:01] #2 closed

[2016-06-07 20:10] MGlauer commented on #3
Please, **do not** upload zip files to a git repository. Git is a text based version control system. It stores the line-wise differences between different versions, i.e. if you add a new line to a file, git stores just that you added this particular line. It does not store the whole new version in order to save memory.
Changing a single line can lead to huge changes in the corresponding zip-archiv

[2016-06-07 20:36] apoorva-ovgu commented on #3
The zip is deleted.
All files are now under openego/data_processing/graphml-parsing/

[2016-06-08 07:56] MGlauer commented on #3
Currently, nodes and edges are stored in global node and edge lists - completely independent from their containing graph. This should not be the case. Instead you should store the nodes and edges in the corresponding graph attribute. I.e. extend the `__init__` of `Graph` by a node and a edge list.

I can not find any classes that inherit from Node. The whole purpose of this class is to capture the

[2016-06-20 11:24] MGlauer commented on #3
I tried to draw a UML class diagram for a possible data structure. Maybe this helps you to get a better overview on what we expect.
It is just from the top of my head, so do not expect it to be 100% perfect and feel fre to discuss different design choices. Especially the (Gateway-, Event-, and Connection-) types as enums are not necessarily good and you might have to replace them be separate class

[2016-06-28 16:14] tillmo opened #4 "given BPMN representation, execute it"
* successively print the activities' names on the screen
* recursively process subgraphs
* for decisions, decide arbitrarily

[2016-06-28 16:16] tillmo opened #5 "write report"
* formulate the problem (getting an overview of large PostgreSQL scripts)
* BPMN as a solution
* discuss different variants for linking BPMN to PostgreSQL scripts
* discuss your implemented solution, with some examples

[2016-06-30 12:59] MGlauer opened #6 "Invalid package name"
Python packages must not contain the character '-'. Your current project can not be imported by other packages.
Rename your package `graphml-parsing` according to [the style guides](https://www.python.org/dev/peps/pep-0008/#id38)

[2016-06-30 13:08] MGlauer opened #7 "Fix local imports"
Currently you are importing your modules using `from NodeClass import Node`. This does work only if the python environment is run from the root folder of your project. I.e. it is not possible to import your current project in other projects.
Imports in a python package should start at the root of the package and mention the full path to the imported module. I guess we can fix the folder `graphml-p

[2016-06-30 13:12] MGlauer commented on #6
You might want to use[`git mv`](https://git-scm.com/docs/git-mv) for renaming the folder in order to avoid re-uploading everything.

http://stackoverflow.com/questions/11183788/in-a-git-repository-how-to-properly-rename-a-directory

[2016-07-02 10:43] apoorva-ovgu commented on #6
renamed the package to gmlparser

[2016-07-02 10:43] #6 closed

[2016-07-02 10:50] apoorva-ovgu commented on #7
all imports now look like gmlparsing.<class> import <class object>

[2016-07-11 07:08] MGlauer commented on #7
It seems this issue was reintroduced in 34dd6833

[2016-07-11 16:19] prathamesh-pradhan commented on #7
Fixed gmlparsing as root folder while importing class files in MakeObjects.py

[2016-07-11 16:19] #7 closed

[2016-07-14 12:55] apoorva-ovgu commented on #3
objects of each type made

[2016-07-14 12:55] #3 closed

[2016-07-16 18:31] apoorva-ovgu commented on #4
This is the problem we are facing:
When graphml code is created, the node numbers(for eg. n0::n1) assigned to each object(events, data objects etc) are in the order they were created in the graphml file. So there is no way to track which object is before or after what. The only way is by using style-position information.

This is something we could think of but is too naive:
1. we have horizontal

[2016-07-16 18:55] MGlauer commented on #4
I do not really get what you are trying to do here. Why are you trying to sort the nodes?

You already parsed the edges with their corresponing source and target attributes.
From my point of view the execution should start at the topmost start event and afterwards iterates throug a single series of possible state configurations.

[2016-07-16 19:02] apoorva-ovgu commented on #4
Yes, I used this concept in the above file and it worked, now we simply have to use it on our file.
But when you see the diagram as a whole, say there are 5 start and end nodes, how can you decide which sequence to display first. For that, I thought, the sorting would be required. If this sequence doesn't matter then we'll continue this itself.

[2016-07-16 19:17] MGlauer commented on #4
You can not start an execution at any arbitrary activity as you can not start a program at a random line of source code. A BPMN diagram is always started by an event. For starters, you can assume that this diagram is a designated start event that is denoted by "EVENT_CHARACTERISTIC_START" as seen here: https://github.com/openego/data_processing/blob/draftBranch/gmlparsing/ego_deu_loads_per_grid_di

[2016-07-16 19:21] apoorva-ovgu commented on #4
Perhaps I wrote it in a misleading way.
In this file, we have a total of 8 EVENT_CHARACTERISTIC_STARTs and their respective intermediate ends: EVENT_CHARACTERISTIC_INTERMEDIATE_CATCHING.
2 of these are within other nodes.
As for the other 6 EVENT_CHARACTERISTIC_START, and ends, can they be arbitrarily executed?

[2016-07-16 19:47] MGlauer commented on #4
The current example contains six lanes, which should be ignored for now. Thus, several initial states should be handled by selecting one at random.

[2016-07-16 19:48] apoorva-ovgu commented on #4
Okay, that's what I wanted to know. Thanks.

[2016-07-19 15:36] tillmo commented on #4
Please note that there are sub processes with seperate start (and end) nodes. These should not be randomly chosen as start nodes, but should be processed when a node calls the sub process.

[2016-07-21 16:36] MGlauer opened #8 "Too many arguments on init"
The version on commit ee263473 is not functional. The execution of MakeObjects.py throws:

[2016-07-22 08:01] MGlauer opened #9 "Incorrect handling of DataObjects and Tasks"
The version of 029244c2f produces the following result:

This does not look right:
- The execution can not start with the comment, as the polygon object must be present in order to enter the activity "Urban Landuse".
    - Same for "Urban Sectors" and "OSM Loads"
- The execution of the comment is part of the execution of "Urban Landuse"
- You must not visit the "Open Street Map" DataObject after "

[2016-07-22 09:27] apoorva-ovgu commented on #8
updated event class by including a reference to its parent node

[2016-07-22 09:27] #8 closed

[2016-07-24 21:46] prathamesh-pradhan commented on #5
Uploaded in draft branch directly

[2016-07-25 20:00] apoorva-ovgu commented on #9
Correct handling in the newest version of the file:
data objects in order, then the task, then its annotation, and then its next elements.
For eg:
EVENT_CHARACTERISTIC_START
Open Street Map
Polygon
Urban Landuse
Residential Retail Industrial Agricultural
Urban Sectors
OSM Loads
Buffer & Union
Loads OSM
EVENT_CHARACTERISTIC_INTERMEDIATE_CATCHING

[2016-07-25 20:02] apoorva-ovgu commented on #9
To be uploaded in the morning: distinguish between Data Objects and Tasks

[2016-07-26 10:24] apoorva-ovgu commented on #9
uploaded the files

[2016-07-26 10:24] #9 closed

[2016-07-26 10:24] apoorva-ovgu commented on #4
sub processes are now a part of the main process

[2016-07-26 10:24] #4 closed

[2016-07-26 19:06] prathamesh-pradhan commented on #5
Uploaded an updated report in draft branch

[2016-07-26 19:18] prathamesh-pradhan commented on #1
Executed SQL annotation by annotating diagram with script file name.

[2016-07-27 06:13] MGlauer opened #10 "arguments are ignored"
Version d36e0d65: The arguments passed to `RunTool.py`  are ignored. Even completely invalid arguments (e.g. non-existing files) result just in executing `ego_deu_loads_per_grid_district.graphml`

[2016-07-27 06:35] MGlauer opened #11 "Parallel Execution"
Your current implementation does not seem to handle the parallel gateways correctly. I added an [example](https://github.com/openego/data_processing/blob/draftBranch/gmlparsing/parallel.graphml) so you can test this functionality.

There are two possible executions:

1. {Init} -> {ParallelUpA, ParallelDownA} -> {ParallelUpA, ParallelDownB} -> {ParallelUpB, ParallelDownB} -> {Finish}

2. {Init} ->

[2016-07-27 06:39] MGlauer commented on #11
The current output is

[2016-07-27 12:36] #5 closed

[2016-07-27 12:36] #1 closed

[2016-09-28 22:11] prathamesh-pradhan commented on #10
RunTool.py can now run any graphml file

[2016-09-28 22:11] #10 closed

[2016-09-30 16:31] gplssm opened #12 "Add industrial consumer consumption to consumption"
Currently, demand time series are generated with consumption without large industrial consumers (that are connected on HV and higher).
Add consumption per substation to "normal" consumption within the script before generating demand time series.

[2016-10-03 09:09] gplssm opened #13 "Replace oemof.db dependencies if possible"
...and replace with ego.io tools.

[2016-10-04 11:23] #12 closed

[2016-10-20 15:04] gplssm opened #15 "Empty and remove top-level folders"
Old structure orientated at db structure. Empty all these folders and delete them

[2016-10-20 15:13] ulfmueller commented on #15
Where will we put scripts which are not part of the clean-run process? I think it would not be convenient to add these to the sql snippet folder. so we do need some new structure, right?

[2016-10-20 15:15] gplssm commented on #15
Yes, you're right! Currently, I have no idea where to put the scrips. I'm open for suggestions.

[2016-10-20 15:25] ulfmueller commented on #15
allright. maybe we can orient it with respect to the new oedb structure and create a folder for each of the new schemes (economic, grid,...).

[2016-10-20 16:19] gplssm opened #16 "File access when package installe via pip"
Check if script runs and can open scripts. Otherwise, implement similar as in the demandlib

[2016-10-20 16:20] gplssm opened #17 "Executable command-line scripts via setup.py"
Implement similar to impementation in demandlib

[2016-10-21 10:04] gplssm commented on #15
Good suggestion!

I'll postpone to v0.2...

[2016-10-21 10:09] gplssm opened #18 "Add custom config file keyword argument"
Move `oemof.db.connection()` to close#13. Then ego.io and add filename keyword argument to it.

[2016-10-21 10:11] Ludee commented on #15
I'm not sure. Then we have the same problems as in v0.1! Most scripts and programs use data from different schemas.
I would suggest a structure oriented on models and submodels like **powerflow**, **dea allocation** ...

[2016-10-21 10:20] gplssm commented on #16
Already done

[2016-10-21 12:21] #16 closed

[2016-10-21 12:21] #17 closed

[2016-10-21 13:05] gplssm opened #19 "Fix version specification of ego.io"
setup.py has version specification to 0.0.1rc7 but pip is lying and says max ego.io0.0.1rc4 is available.

[2016-10-25 13:59] wolfbunke opened #20 "on which branch are we working now master or refactor/oedb-restructuring_v0.2 ?"
I am confused on which branch we are working now. I like to work in /dataprocessing/sql_snippets/

[2016-10-25 14:37] Ludee commented on #20
Depends on what you work on!
When you adjust to the "new" oedb structure you MUST use v0.2.
When you fix bugs in v0.1 you should make these HOTFIXES in both (Master and v0.2).
If you add new features use v0.2.

-> Master should always be stable and running!

[2016-10-27 07:49] wolfbunke commented on #20
thanks ludwig for your quick reply! I close this ticket now.

[2016-10-27 07:49] #20 closed

[2016-10-27 13:43] gplssm opened #21 "Do missing table name replacements"
Some replacements couldn't be done due to missing information
- [x] scenario.eGo_data_processing_clean_run in all files
- [x] [orig_destatis.ego_deu_loads_zensus](https://github.com/openego/data_processing/blob/3e7d2f86684296911bc955427ffa683f72d79064/dataprocessing/sql_snippets/setup_zensus_population_per_ha.sql#L38) and more occurrences in this file
- [x] [orig_destatis.ego_deu_loads_zensus_clus

[2016-10-28 08:21] IlkaCu commented on #21
The highlighted code in [i.e. orig_consumption_znes.temp_table](https://github.com/openego/data_processing/blob/3e7d2f86684296911bc955427ffa683f72d79064/dataprocessing/sql_snippets/process_eGo_loads_per_grid_district.sql#L629-#L773) seems to be a doubling to this:  [process_eGo_consumption.sql](https://github.com/openego/data_processing/blob/master/dataprocessing/sql_snippets/process_eGo_consumpti

[2016-10-29 08:25] Ludee commented on #21
I copied the code there to include the consumption in the MVGD table. I posted it at some point but nobody saw it. Delete it or use it to join scripts. I would prefer we reduce the number of tables and scripts.

_orig_destatis.ego_deu_loads_zensus_ is the census part of the MVLA. Could be renamed to somethig like _model_draft.ego_social_zensus_loads_ and ..._cluster.

One of the two _ego_deu_loads

[2016-10-31 09:47] IlkaCu opened #22 "Excessive industry loads"
The timeseries of the industry loads show peaks of up to 6 TW. This seems to be a bug either in the allocation of the annual electricity demand of the industry ([process_eGo_osm_loads_industry.sql](https://github.com/openego/data_processing/blob/master/dataprocessing/sql_snippets/process_eGo_osm_loads_industry.sql), [process_eGo_consumption.sql](https://github.com/openego/data_processing/blob/mast

[2016-10-31 12:34] IlkaCu commented on #21
For now I would suggest to comment this part of the code out.

[2016-10-31 13:12] gplssm commented on #21
Thanks for input!
But there are still some questions left in order to be able to start v0.2. I'll be more precise

- [ ] could you provide a schema/table name for orig_consumption_znes.temp_table? @IlkaCu
- [ ] Please give me names for the following tables for v0.2 @Ludee
 - [ ] [orig_ego.ego_deu_loads_melted](https://github.com/openego/data_processing/blob/3e7d2f86684296911bc955427ffa683f72d79064

[2016-10-31 14:06] Ludee commented on #21
calc_ego_loads.ego_deu_loads_collect -> model_draft.ego_demand_load_collect
orig_ego.ego_deu_loads_melted + calc_ego_loads.ego_deu_loads_melted
-> model_draft.ego_demand_load_melt
It looks like there are two different versions of this table. This is a major bug in the calculation.

[2016-11-02 13:08] IlkaCu commented on #22
The bug seems to be fixed by [these changes.](https://github.com/openego/data_processing/commit/630abea1177d9ca3511aa5a18ef9b5982007bd58)

[2016-11-02 22:19] Ludee opened #23 "Metadata feedback"
There is good feedback on the metadata from the openmod BoG:

Adjust metadata template with:

- [x] Divide **Spatial resolution** into **Spatial** with **Resolution** and **Extend**
- [x] Divide **Licence** into **Name** and **URL**
- [x] Rename **ToDo** into **Notes**
- [x] Compare with metadata from OPSD and other sources like OKFN

[2016-11-04 10:19] Ludee commented on #23
Feedback pushed in refactor branch. Please update metadata using the template [here](https://github.com/openego/data_processing/blob/refactor/oedb-restructuring_v0.2/data_documentation/documentaion_on_table_example.sql).

Last checkpoint should be done by ZNES (@wolfbunke).

[2016-11-04 10:25] wolfbunke commented on #23
Ok, I am working on the workshop on Tuesday. After that, I will do it.

[2016-11-04 19:33] Ludee commented on #15
bump my last comment!
I will take out ego_dea_allocation sql-scripts and organise in a separate folder.

[2016-11-04 19:35] Ludee commented on #11
Is it a problem that I don't understand a word?

[2016-11-04 19:53] Ludee opened #24 "data_processing repo discussion"
We started with the focus of data preparation but reached the level of calling it a "real model".
Following questions have to been answered:

- [x] Is the name of the repository still suitable?
- [x] Is it part of the **ego-tool** that is written in the proposal?
- [x] Do we still want to use this particular name?
- [x] If so, is the "data_processing" part of it?

Now my opinion:
Data_processing w

[2016-11-07 09:59] lukasol commented on #24
I consider data-processing as a part of the ego tool. We could thus rename the whole thing to something ego-related, but generally data-processing seems to be a fitting name.

Another restructuring of the repo and its folders should be avoided or at least shifted to some nice-to-have time in the future: I would really like to finish this whole data-processing topic and proceed with grid optimizati

[2016-11-08 20:52] apoorva-ovgu commented on #11
The current output is:
Start of gateway
<possibility 1.....>
end of gateway
2<possibility 1.....>
end of gateway

So the start occurs, then (possible paths with end) and then the next element.
Please check with a1.graphml for more details.

[2016-11-15 13:13] #22 closed

[2016-11-15 13:58] IlkaCu opened #25 "Allocated industry demand is too high"
The allocated industry demand is overrated by 16%. This seems to be caused by the calculation of the industrial area.
In [process_eGo_osm_loads.sql](https://github.com/openego/data_processing/blob/master/dataprocessing/sql_snippets/process_eGo_osm_loads.sql#L5-L6) polygons of industrial large scale consumers are excluded from the creation of load areas. But for the calculation of `sector_area_indu

[2016-11-16 11:51] Ludee commented on #25
I'm back in Berlin from travelling and holidays and can have a look at this bug.
Do we have to push it in v0.1 (Master) or can I focus on v0.2?
I prefer v0.2 because I have some other features in mind as well.
If we correct v0.1 we will have to run the whole data_processing again. What do you mean @IllkaCu

[2016-11-16 12:31] Ludee commented on #24
Thanks for your feedback @lukasol
I agree with you that a restructure of the repo is not urgent and the development of the grid optimization is more important. I just want to start the discussion about the design and content of the ego-tool already now:
data processing is so general that it fits everything. Until now it is all connected to consumption allocation and the existing grid components (s

[2016-11-16 14:37] Ludee opened #26 "input and result log = ego scenario log"
In order to scope the used input tables there is a need for an input log.

My first draw was the split of the "eGo_data_processing_clean_run" in an input log and a result log. While developing it I came to the conclusion that we can integrate them in the **scenario log** with some additional columns like _io_ = "input"/"output" and _metadata_ to store the current meta JSON.

I will first adjust th

[2016-11-16 22:43] Ludee commented on #26
_scenario_eGo_data_processing.sql_ updated and renamed to [ego_scenario_log_setup.sql](https://github.com/openego/data_processing/blob/refactor/oedb-restructuring_v0.2/dataprocessing/sql_snippets/ego_scenario_log_setup.sql)
New scenario log table is **model_draft.ego_scenario_log**
Example file updated [ego_scenario_log_example.sql](https://github.com/openego/data_processing/blob/refactor/oedb-res

[2016-11-17 12:23] IlkaCu commented on #25
We should push it in v0.1 as well, as we are not sure when we will be able to execute v0.2 (due to some license issues).

[2016-11-17 12:48] Ludee commented on #25
What is the difference between v0.1 and v0.2 regarding the licence? v0.1 doesn't have a licence (most parts of it) but both are on GitHub and "free". The main difference is the path of the database tables to model_draft. But this a Data Licence issue and not Software Licence.

When I fixed the bug in v0.2 I can push a hotfix in the master branch as well.
Just started with the debugging and will se

[2016-11-17 13:36] IlkaCu commented on #25
It's about the data license, we don't want to publish data, which we would do in v0.2, without specifying a proper license.

[2016-11-22 14:05] Ludee commented on #23
Compared our system with [OPSD](http://data.open-power-system-data.org/renewable_power_plants/2016-10-21/datapackage.json) and [OKFN (Frictionless / Data Packagee)](http://specs.frictionlessdata.io/data-packages/) and a [CKAN](https://github.com/fraunhoferfokus/ogd-metadata/blob/master/OGPD_JSON_Schema.html) metadata.

[see comparision](https://docs.google.com/spreadsheets/d/1vAYEIqhf4_q4mZ7J2KomS

[2016-11-24 16:01] Ludee opened #27 "[oedb] license system"
Ich mache mal einen Aufschlag zum Thema Lizenzen. Das wird immer schön hin- und hergeschoben aber ohne erkenntliche Fortschritte.
Auf dem OPSD-Workshop gab es dazu nochmal Impulse und ich hänge beim Datenbankkonzept an dieser Stelle.
Zudem ist dies ein notwendiger Baustein für die (weitere) Arbeit und Ausführung von ego (v0.2).

Da das Redmine nicht da ist habe ich hier den aktuellen Stand zusamme

[2016-11-24 16:02] Ludee commented on #27
Also see https://github.com/oemof/organisation/issues/9

[2016-11-28 08:07] MGlauer opened #28 "Unable to run gmlparsing"
I run your program as follows:

`>>>from gmlparsing.RunTool import run`
`gmlparsing.RunTool`
`>>>run()`

Once I select a file I get

  File "<stdin>", line 1, in <module>
  File "/home/martin/Dokumente/Development/open_eGo/data_processing/gmlparsing/RunTool.py", line 18, in run
    MakeObjects.execGraphmlFile(myFileName)
  File "/home/martin/Dokumente/Development/open_eGo/data_processing/gmlparsin

[2016-11-28 08:16] MGlauer opened #29 "Wrong output on secon execution"
If I run the program with the same file twice i get the following output:

gmlparsing.RunTool
\>\>\> run()
Executed Successfully!
My file Name------------> /home/martin/Dokumente/Development/open_eGo/data_processing/gmlparsing/parallel.graphml

Task :  Init
Gateway:  start of Parallel Execution:
Task :  ParallelUpA
Task :  ParallelUpB
Gateway:  end of Parallel Execution
Task :  ParallelDownA
Task

[2016-11-28 08:27] MGlauer opened #30 "Wrong output on nested parallel gateways"
Parallel gateways can be nested arbitrarily. If I execute your program with this [file](https://github.com/openego/data_processing/blob/draftBranch/gmlparsing/double_parallel.graphml) added in 2049a4b I get:

gmlparsing.RunTool
\>\>\> run()
Executed Successfully!
My file Name------------> /home/martin/Dokumente/Development/open_eGo/data_processing/gmlparsing/double_parallel.graphml

Task :  Init
G

[2016-11-28 08:48] lukasol commented on #27
@Ludee, danke für die Initiative.  @IlkaCu hatte in der vergangenen Woche auch zu einer Terminabstimmung für eine Telko eingeladen. Lasst uns diese Punkte doch dabei besprechen. Zu einigen deiner Fragen habe ich eine eindeutige Antwort bzw. Einschätzung, anderer sind glaube ich abstimmungsintensiv.

[2016-11-28 12:00] Ludee commented on #27
Den Termin zur Abstimmung habe ich wohl nicht bekommen. @IlkaCu gerne nochmal an mich.

Dann stelle ich diese Frage mit Ergänzung mal an den Anfang:
Wie und wo sammeln wir Lizenzfragen und die Antworten darauf?

Möglichkeiten: Redmine (wenn wieder online), Github, openmod-wiki
I bevorzuge das letztere.

[2016-11-28 12:27] apoorva-ovgu commented on #30
I need some help with the idea here:
How does BPMN distinguish between the start and end parallel Symbol? I mean on a technical leavel, if it was a different symbol, it would be quite obvious but since it is the same it is a little confusing on how to proceed. Both Gateways have incoming as wekk as outgoing edges so that is also not an Option. Do you have any suggestions on how this can be done?

[2016-11-28 14:29] MGlauer commented on #30
There is no real "Start" or "End" in a parallel processing. These gateway are just notations for how activations are transferred to the next state. Specifically, a parallel gateway can trigger only if all its inputs are active. If it does, all outgoing edges trigger and all following states becomes active.

From the [BPNM standard](http://www.omg.org/spec/BPMN/2.0/PDF/) p. 294

token upon executio

[2016-11-30 12:44] MGlauer commented on #11
You current output on parallel.graphml is

Task :  Init
Gateway:  start of Parallel Execution:
Task :  ParallelUpA
Task :  ParallelUpB
Gateway:  end of Parallel Execution
Task :  ParallelDownA
Task :  ParallelDownB
Gateway:  end of Parallel Execution
Task :  Finish
Event:  EVENT_CHARACTERISTIC_END

But

is not what is expected. You should generate the possible activation configuration as mentioned

[2016-12-01 15:13] ulfmueller commented on #25
@IlkaCu : I created a new branch for the bugfix of the industry load "double allocation", which you can use for that... see: https://github.com/openego/data_processing/tree/bugfix-industry-loads

[2016-12-02 09:13] ulfmueller opened #31 "add assignment_storage_bus.sql to branch oedb v0.2"
the assignment_storage_bus.sql is so far not included in the refactor-oedb-v0.2 branch. It remains to be "translated". To do so before performing clean run 0.2

[2016-12-07 15:36] gplssm opened #32 "Workalendar"
The python (pip) package workalendar induces two issues

1. It's missing due to missing entry in `install_requires`
2. Leads to errors during installation on MS Windows machines (tested on Ludwig's computer)

[2016-12-08 14:03] lukasol opened #33 "fix osm import to oedb"
import of osm to oedb via osm2pgsql seems to be incomplete.
Re-check log files and possibly debug necessary.

@Ludee do you have any new insights on this topic, i.e. via openmod-meeting?

see  [data_processing/dataprocessing/tools/osm2pgsql/](url)

[2016-12-08 14:31] Ludee commented on #33
did not find anything new about this topic.
I still think its about the style file.

For open_FRED we will need a osm_europe file and can spend a day on it again.
should be before the run of ego v0.2. I put it on my list but cannot promise it.

[2016-12-09 11:44] Ludee opened #34 "header and license"
On the [oemof developer meeting - Berlin, December 6, 2016 #218](https://github.com/oemof/oemof/issues/218) we decided on a standardised header for code and scripts.

Until now we only have a template for python and sql but should be easy to adapt to other languages.
I suggest to use and implement it in v0.2.

Any additions and comments?

[2016-12-09 12:03] Ludee opened #35 "ego data processing v0.2"
As @ulfmueller suggested we need coordination about the execution of v0.2.
We can use this issue to collect the version release notes, features and minor bugs.

I set the milestone to the day before Christmas.
As I said I feel responsible for the execution and adapting to the new oedb structure.
Of course I will be thankful for help and feedback.

Here is a first collection of changes:
- [x] adapt

[2016-12-09 13:49] Ludee commented on #15
Still no feedback, so here are my suggests:
All parts of the ego tool should be inside the package folder **dataprocessing**.
The structure of the package is another issue I will open after this one.
The following list has all top level folders.

- [ ] calc_ego_hv_powerflow [ZNES] @ulfmueller @IlkaCu
- [ ] calc_ego_powerflow  [ZNES] @ulfmueller @IlkaCu
- [ ] calc_ego_substation [ZNES] @jong42 @ulf

[2016-12-09 14:20] Ludee commented on #27
Teilnehmer: Ludwig, Lukas, Ronny, Günni, Ulf, Wolf
Moderator: Ludwig

Da das Redmine nicht da ist habe ich hier den aktuellen Stand zusammengefasst:
•	Wir verwenden als Inputs ausschließlich „freie“ Daten, müssen aber deren Lizenzen oder Terms beachten
•	Wir benötigen passende Lizenzen für unseren Code, erzeugte Daten und erstelltes Artwork (Diagramme, Bilder, Karten)
•	Das Konzept muss mit den Pr

[2016-12-09 14:25] Ludee commented on #27
Hab grad mal einen Blick in unseren (RLI) Arbeitsvertrag geschaut. Zum Thema Autorenschaft steht da natürlich nichts. Es gibt einen Absatz über [Diensterfindungen](https://de.wikipedia.org/wiki/Arbeitnehmererfindung), aber da wir werden ja keine Patente beantragen.
Es kann und darf halt auch mal einfach sein ;)

[2016-12-09 14:31] ulfmueller commented on #15
Sorry, I am not sure what you want us to do now?
Yes we have some scripts which are not part of the clean-run procedure. And they will always be some scripts which are e.g. data pre-processing which does not make sense to inlcude in the clean run.
If we want to get rid of these top level folder we need a new place to put them.
I proposed a structure oriented at the new db structure you proposed a

[2016-12-09 15:26] Ludee commented on #15
The top level should be cleaned in order to import it as a package!? @gplssm
Only _dataprocessing_, _documentation_ and LICENSE, README.md and setip.py stay on the top level?
So we move all used "snippets" to the _dataprocessing_ folder. Then remove the duplicates.

I'm not sure about the definition of the "clean run". In my understanding it was the name for _ego data processing v0.1_
We opened a

[2016-12-09 15:45] Ludee commented on #27
OSM sagt auf einer nicht rechtlich bindenden [FAQ](http://wiki.openstreetmap.org/wiki/Open_Data_License/Use_Cases#Extracting_road_centre-line_data_for_bus_routes_from_OSM_data_based_on_lists_of_bus_stops) folgendes zu der Abletung von Geodaten:

[ODbL](http://opendatacommons.org/licenses/odbl/1.0/)

[2016-12-09 15:57] Ludee commented on #27
Hier ist es mal einigermaßen Verständlich:

[Case 4: I want to publish something based on OSM and some data I obtained elswhere](http://wiki.openstreetmap.org/wiki/License/Use_Cases#Case_4:_I_want_to_publish_something_based_on_OSM_and_some_data_I_obtained_elswhere)

[Definition of produced work](http://wiki.osmfoundation.org/wiki/Licence/Community_Guidelines/Produced_Work_-_Guideline)

Database du

[2016-12-09 16:02] ulfmueller commented on #24
Late, but here are some answer from my side:

- Is the name of the repository still suitable?
Yes, i think so.
- Is it part of the ego-tool that is written in the proposal?
it characterizes the work of work package 2, so the setting up all exogenic parameters. It sets up the data base in order to test the ego tools as well as making it possible to generate results for certain scenario settings
- D

[2016-12-12 10:42] Ludee commented on #24
This is why I started this issue because I think so too. The so called "data processing" was not defined anywhere yet. As I understand it it is only data preprocessing for the ego-tool(s). It will be a separate python lib and therefore should have a name that fits. This is the topic of this issue!

The structure of the ego-tool will affect this issue and then there will be even less time and peopl

[2016-12-12 13:58] Ludee commented on #27
Zusammenstellung der zugrunde liegenden Lizenzen von bisher verwendeten Daten (ZNES):

renpass_gis Szenariendaten:
* u.a. Literaturwerte für bspw. variable Kosten
* Solar & Windzeitreihen - CC BY-NC 4.0
* ENTSOE - Daten, Scenariodaten und Lastzeitreihen (teilweise in OPSD)

Renewable Power Plants:
* Gemischte Quellen aus EnergyMap und BNetzA
* EnergyMap:  "Das Urheberrecht
Das EEG verpflichtet die

[2016-12-12 13:59] Ludee commented on #27
Webco eGo Lizenzen von Daten und Modellen Teil 2
Teilnehmer: Ulf, Wolf, Lukas, Ludwig, Martin G., Ronny, Günni,

Aufgaben:
•       Autorenschaft vs. Kooperationsvertrag vs. Institutsvorschriften (Ulf, Lukas)
1. oemof artige solution -> eine dev group
Pro:

Cons:

2. einzelne Institute
Pro:

Cons:
50-50 siehe Abstimmung

•       Welche CC für unser Artwork (Ronny)
•       Datenverwendung aus versch

[2016-12-12 14:17] lukasol commented on #27
Ich möchte gern den Punkt "Einsatz des Beraters vom RLI" noch einmal verstärken. Es wäre doch gut, wenn wir hier bis zum Treffen im Januar bereits mehr wissen bzw. ggf. sogar Sicherheit haben. Fragen haben wir ja bereits eine Menge, würdet ihr (RLI) die Auswahl und Ansprache anleiern?

[2016-12-13 15:02] Ludee commented on #27
Offene Fragen:

**Code - Header**
- Braucht jedes Script einen Header oder reicht die LICENSE?
- Wenn ja, braucht der Header ein Link auf die License im Repo?
- Wenn kein Header dann wird ein author/copyright owner in der LICENSE benötigt?

**Data - Metadata**
- Autorenschaft von Daten, wer ist Autor?
- Autorenschaft und Lizenzinhaber?
- Wie bekommt der Autor den "credit" für seine Arbeit?
- Wann

[2016-12-13 15:07] Ludee commented on #27
Weitere Quellen:
http://www.ratswd.de/publikationen/european-data-watch
www.ifross.org
http://auffinden-zitieren-dokumentieren.de/

[2016-12-13 18:25] wolfbunke commented on #27
Hier nochmal alle Tickets zur Übersicht:

https://github.com/openego/oeplatform/issues/158#issuecomment-262465594 (Licences)
https://github.com/openego/oeplatform/issues/157#event-822455524 (Database: Open data only. )
https://github.com/openego/oeplatform/issues/174 (Impressum and legal hedging )
https://github.com/openego/data_processing/issues/27 (Datenverwendung aus verschiedenen Quellen)

Ich

[2016-12-14 14:03] Ludee commented on #27
Issue #1178 has been updated by Lukas Wienholt.
Wolf-Dieter Bunke wrote:
ich glaub eine Trennung der Themen Lizensen könnte Sinn ergeben. Wir habe momentan zwei-drei Fragen / Arbeitsstellungen die Sich um Lizenzen drehen.
Da stimme ich zu. Ich wäre auch für eine baldige Bearbeitung der Fragen.
1.) Lizenzen von Daten die wir verwenden. Dies betrifft insbesondere solche die in neuer / gemischter Dat

[2016-12-14 15:06] Ludee commented on #24
As decided today the repo restructuring will be part of a release v0.3.

On part of it will be the renaming of snippet scripts.
It follows the ego naming convention and looks something like this:

<program>_<main schema>_<main function>
ego_scenario_log_setup.sql

[2016-12-14 15:12] lukasol commented on #34
We decided on applying the standard header to all scripts in version 0.2. Each author is responsible for filling his/her script. This can be a default (for license and copyright) in the first place, at least author should be filled (with github user name or clear name).

[2016-12-14 15:15] lukasol commented on #23
Metadata will be updated according to new version in release 0.3.

[2016-12-14 15:18] lukasol commented on #35
All points were discussed in webconf and assigned to either release v0.2 or v0.3. See the respective issues.

The licensing issue will be resolved until the end of January 2017.

[2016-12-14 15:58] lukasol commented on #27
Ergänzend zu den Fragen von @Ludee hier noch ein paar Dinge, die aus meiner Sicht von einem Experten bearbeitet / beantwortet werden sollten:

- Prüfung der Kompatibilität der Eingangsdaten: Aus meiner Sicht wäre es sinnvoll, wenn sich ein Experte einmal anhand unserer konkreten Beispiele anschaut, ob die Lizenzen kompatibel sind. Etwa die Lizenz der openstreetmap-Daten (ODbL) und die der Zensus-D

[2016-12-14 17:01] Ludee commented on #26
An idea was to add the license to the log.
Not sure if needed and worth the effort, some testing required.

[2016-12-14 17:44] Ludee commented on #35
Teilnehmer: @ludee, @gplssm , @lukasol , @IlkaCu , @ulfmueller
Moderator: lukasol

**Tasks:**

- [ ] [v0.3 milestone](https://github.com/openego/data_processing/milestone/3) anlegen @ludee
- [ ] Übersetzungstabelle bereitstellen @ulfmueller
- [ ] Model_draft von der White list nehmen (Martin G.) - dann kann data-processing durchlaufen, ohne veröffentlicht zu werden @ludee
- [ ] Hindernis sind Tabe

[2016-12-14 17:46] Ludee commented on #34
The template is in the [wiki](https://github.com/openego/data_processing/wiki/Header-and-License)

[2016-12-15 11:01] ulfmueller commented on #35
Hier befindet sich die Übersetzungstabelle: https://193.175.187.162/owncloud/index.php/s/XYj08ZzZErBAyH8

[2016-12-15 12:57] ulfmueller commented on #35
In dem Ordner liegt jetzt eine neue Version der Datei. Hier ist nun ein neuer Reiter eingefügt. Hier sind nur die Tabellen aufgeführt, die Input-Tabellen sind und in den "versionierten" Bereich landen würden. In der Spalte "Lizenz" kann jeder vermerken, inwieweit diese Date uns zwingt Lizenzentscheidungen zu treffen.

[2016-12-15 13:15] ulfmueller commented on #35
@wolfbunke: Die letzten 4 Input-Tabellen sind "von dir". Könntest du die entsprechend des vorherigen Posts durchchecken?

[2016-12-15 14:44] lukasol commented on #35
Die Netzdaten (im Schema grid) sind bereits auf der oedb abgelegt und lizensiert. Hab das auch in der Tabelle so vermerkt.

[2016-12-16 11:25] apoorva-ovgu commented on #11
I tried a few approaches but they weren't successful. Could you help us with an idea about how to do it technically?

[2016-12-16 12:44] Ludee opened #36 "direct use of mview"
a duplicate mview is created. remove mview and directly use political_boundary.bkg_vg250_1_sta_union_mview

https://github.com/openego/data_processing/blob/refactor/oedb-restructuring_v0.2/dataprocessing/sql_snippets/get_substations.sql#L170-L178

[2016-12-16 12:55] lukasol commented on #36
resolved by: https://github.com/openego/data_processing/commit/9babc74b10f9b9d259f2551ccba2713718fa3886

[2016-12-16 12:55] #36 closed

[2016-12-16 14:23] Ludee opened #37 "ego scenario log function"
For the scenario log a simple INSERT is needed. Some values have to be entered (table name) some are the calculated (COUNT). It works but takes a lot of lines for each out- and input.

~~I tried to write a function, but it is not working because of aggregation problems.
My plpgsql skills are too basic to solve this. Need help!~~

[ego_scenario_log_example](https://github.com/openego/data_processin

[2016-12-16 14:24] Ludee commented on #26
As I don't get any feedback for the scenario log I keep talking to myself for documentation.
The log works fine and is of great value for the transparency, reproducibility and first quality check.
Only disadvantage is the large number of lines needed!
Solution: [sql function](https://github.com/openego/data_processing/blob/refactor/oedb-restructuring_v0.2/dataprocessing/sql_snippets/functions/func

[2016-12-16 16:15] Ludee commented on #35
Nach dem super schnell geschlossenem Bug #36 waren die substations leer. Hab natürlich das KBS vergessen. Das wurde ohne Issue gelöst und weiter geht's mit v0.2.1.

[2016-12-16 18:02] Ludee opened #38 "osm loads industry"
demand.ego_demand_federalstate
economic.destatis_gva_per_district

https://github.com/openego/data_processing/blob/284ef8edd2c774db30625e670eb0d8fb638c8b7c/dataprocessing/sql_snippets/process_eGo_osm_loads_industry.sql#L41-L42

Die beiden Tabellen existieren nicht. Die Übersetzungstabelle zeigt die beiden alten Tabellen:
orig_ego_consumption.destatis_gva_per_district
orig_ego_consumption.lak_consu

[2016-12-17 10:34] Ludee commented on #38
sqlalchemy.exc.ProgrammingError: (psycopg2.ProgrammingError) relation "supply.ego_conv_powerplant" does not exist. LINE 454: FROM supply.ego_conv_powerplant;

https://github.com/openego/data_processing/blob/284ef8edd2c774db30625e670eb0d8fb638c8b7c/dataprocessing/sql_snippets/process_eGo_osm_loads_industry.sql#L478

Ohne Übersetzungstabelle könnte ich die Bugs nicht so schnell lösen. Das hat sich g

[2016-12-17 10:38] Ludee commented on #38
sqlalchemy.exc.ProgrammingError: (psycopg2.ProgrammingError) missing FROM-clause entry for table "proc_power_plant_germany" LINE 461:   proc_power_plant_germany.gid AS powerplant_id,

Ich gehe davon aus, dass das ebenfalls die opsd Kraftwerke sind!?

[2016-12-17 10:39] Ludee commented on #38
`DROP TABLE IF EXISTS model_draft.ego_demand_hv_largescaleconsumer CASCADE;
CREATE TABLE model_draft.ego_demand_hv_largescaleconsumer AS
	(
	SELECT	osm_deu_polygon_urban_sector_3_industrial_mview.gid AS polygon_id,
		osm_deu_polygon_urban_sector_3_industrial_mview.area_ha AS area_ha,
		proc_power_plant_germany.gid AS powerplant_id,
		proc_power_plant_germany.voltage_level AS voltage_level
	FROM 	s

[2016-12-17 11:00] Ludee commented on #38
scenario log:
196;0.2.1;input;demand;lak_consumption_per_federalstate;process_eGo_osm_loads_industry.sql;17;OK
197;0.2.1;input;economic;destatis_gva_per_districts;process_eGo_osm_loads_industry.sql;446;OK
198;0.2.1;output;model_draft;ego_demand_per_gva;process_eGo_osm_loads_industry.sql;17;OK
199;0.2.1;input;political_boundary;bkg_vg250_4_krs_mview;process_eGo_osm_loads_industry.sql;432;OK
200;0.2

[2016-12-19 10:09] ulfmueller commented on #38
I think @IlkaCu (plus maybe a consultation to @wolfbunke) can help here the best.

[2016-12-19 12:52] ulfmueller commented on #35
Um die Header leichter anzupassen hat Guido was gebaut: https://gist.github.com/gplssm/95e703bf4afc64c7d276bc755951ec17
Thx to @gplssm!

[2016-12-20 10:54] lukasol commented on #35
Wie ist der Status des data_processing v0.2?

[2016-12-20 12:06] Ludee commented on #35
Hab am letzten Freitag und Samstag die erste Hälfte fertig bekommen.
Bis **process_eGo_loads_melted.sql** (12/28) bin ich gekommen.

Die nächsten drei kann ich heute noch fertig machen, dann kommen hauptsächlich die Skripte von ZNES.
Bei **process_eGo_osm_loads_industry.sql** waren sehr viele Fehler und der noch offene #38.

Sonst waren es viele kleine Bugs (scenario log, grants, PK).

[2016-12-20 23:42] Ludee commented on #35
Bin jetzt bei **'analyse_eGo_paper_result.sql'**
siehe BPMN

[2016-12-20 23:43] Ludee commented on #38
Bitte bis 22.12 14:00 klären!

[2016-12-21 09:57] IlkaCu commented on #38
I'll try to fix this bug today!

[2016-12-21 12:08] IlkaCu commented on #38
We forgot to move the input tables from the old to the v0.2 db-structure. Therefore some input tables were missing. I renamed the input tables in the script to the names mentioned in the translation document '2016-12-15_Umstrukturierung_oedb.ods'. To be able to execute the script the following tables need to be moved to the the new db-structure:

orig_geo_powerplants.proc_power_plant_germany --> s

[2016-12-21 13:33] Ludee commented on #38
**economic.destatis_gva_per_district** ist schon da, der PK kann noch angepasst werden (CONSTRAINT verbrauch_pkey PRIMARY KEY (eu_code))

wie geht es weiter? Ich warte auf @wolfbunke?
was ist mit dem zweiten Teil? Wer macht da den Debug?

[2016-12-21 13:36] Ludee commented on #35
was ist mit dem zweiten Teil? Wer macht da den Debug? Ich hab keine Zeit mehr.

[2016-12-21 14:16] lukasol commented on #38
soweit ich weiß ist @wolfbunke dieses jahr nicht mehr im hause. kann das nicht jemand anderes übernehmen?

[2016-12-21 14:19] lukasol commented on #35
Ist es denn wegen timeout überhaupt reell, dass es jemand anderes macht? @ulfmueller @IlkaCu ?

[2016-12-21 14:21] IlkaCu commented on #35
Ich bin schon nicht mehr in Flensburg. Also ist es bei mir unrealistisch.

[2016-12-21 14:22] Ludee commented on #35
kurze webconf, sind wolh grad alle da!?

[2016-12-21 14:27] lukasol commented on #35
ich bin im Raum, aber ich glaube, dass @ulfmueller aktuell keine Zeit hat.

[2016-12-21 14:28] Ludee commented on #35
und Ilka?

[2016-12-21 14:34] IlkaCu commented on #35
Sorry, bei mir passt das gerade nicht mehr.

[2016-12-21 14:35] lukasol commented on #35
dann lass uns das morgen klären. ich spreche nochmal mit @ulfmueller

[2016-12-21 15:50] ulfmueller commented on #35
habe gerade mit @lukasol gesprochen. @ludee und @IlkaCu passt es euch wenn wir morgen 1000 Uhr kurz in den webco Raum das weitere Vorgehen besprechen?

[2016-12-21 15:59] jong42 commented on #33
I created a small osm-sample and loaded it into oedb for analysing possible reasons for the incompleteness. When imported into the db via osm2pgsql, some geometries are counted as lines and others as polygons.  Maybe either polygons or lines were not accounted for in later examinations, therefore the data seemed to be incomplete. Does the incompleteness only affect polygons and lines? If so, this

[2016-12-21 16:23] IlkaCu commented on #35
Das passt!

[2016-12-21 16:31] Ludee commented on #35
Haben von 10:00-10:30 open_FRED webco, danach gerne!

[2016-12-21 16:35] ulfmueller commented on #35
dann lass 10:30 sagen! Müssen dann nur pünktlich anfangen und strukturiert sein, weil Lukas um 11 einen Folgetermin hat. Wenn du Ludwig es pünktlich schaffst, bin ich zuversichtlich dass uns die 30 Min reichen! ok?

[2016-12-21 19:08] Ludee commented on #38
wird per E-Mail diskutiert. Noch offen

[2016-12-22 07:24] lukasol commented on #35
ok.

[2016-12-22 10:18] ulfmueller commented on #35
todos:
- [ ] 1. input Tabellen verschieben und entsprechende Umbenennung in den Skripten [Ulf, Ilka]
- [ ] 2. neu durchlaufen lassen ab " " [Ludwig]
- [ ] 3. ab 2. Januar macht ulf ab "voronoi_ehv.sql" weiter mit dem debugging
- [ ] 4. ab 9. Januar unterstützt Ilka
- [ ] Freitag, der 13. als neue Deadline für den Komplett-Durchlauf! Pre-Release dp v0.2
 -- nice-to-have bis dahin auch osm-seitige V

[2016-12-22 13:30] nesnoj commented on #34
Taken from #35:

Do we use the header for data processing only or for all of our packages? In data proc it is quite reasonable due to the heaps of developers. In other repos like dingo I'd propose to keep it optional..

[2016-12-22 13:47] ulfmueller commented on #34
Good question. As far as I understand it, we have only decided on it concerning the data proc. When we decide on the license issue at the project meeting this question will be probably consequently tackled as well (right @lukasol ?).

[2016-12-22 14:02] ulfmueller commented on #35
Ludwig, du kannst es noch mal durchlaufen lassen! danke!

[2016-12-22 14:55] Ludee commented on #35
Das war jetzt nur das Skript process_eGo_consumption.sql
Das Problem mit den model_draft.ego_demand_per_district konnte geklärt werden?

Im Skript process_eGo_osm_loads_industry.sql gab es keine Veränderungen?
Da gibt es noch die Tabelle: **calc_ego_substation.ego_deu_voronoi_ehv**, die muss noch

[2016-12-22 15:09] Ludee commented on #35
sqlalchemy.exc.ProgrammingError: (psycopg2.ProgrammingError) column "area_retail" of relation "ego_demand_per_district" already exists
Das meinte ich in der Mail. Da wird eine Spalte angehängt. Das geht halt nur 1 mal. Hab das einfach auskommentiert.
-> consumption.sql Zeile 56--60

DRINGED:
**permission denied for relation ego_demand_federalstate**

[2016-12-22 15:32] IlkaCu commented on #35
Das muss @ulfmueller ändern. Da haben wir beide beim Verschieben der Tabellen nicht dran gedacht. Da er aber meines Wissens schon unterwegs ist, wird da heute wohl nichts mehr passieren.

[2017-01-02 13:30] ulfmueller commented on #35
Sorry, wegen der leidigen Rechte-Geschichte. Ich würde das dp jetzt ab 'process_eGo_consumption.sql' weiterlaufen lassen. Spricht etwas dagegen? Bzw. muss ich früher anfangen?

[2017-01-02 14:34] ulfmueller commented on #35
'process_eGo_consumption.sql' ist ohne bug durch gelaufen.
@Ludee : bei  'analyse_eGo_paper_result.sql' ist folgender Fehler aufgetreten:
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb2 in position 77: invalid start byte
Ich habe schon mal einen "set nobomb" Befehl drauf losgelassen, leider tritt der Fehler nach-wie-vor auf...#

Da das Skript keine Abhängigkeiten hat, mache ich erst mal b

[2017-01-02 14:38] ulfmueller commented on #35
@IlkaCu : in 'Voronoi_ehv.sql' - es fehlen dummies?!
[code]

[2017-01-03 17:02] ulfmueller commented on #35
hat sich geklärt, danke @Ludee
ein paar bug fixchen später...
zurzeit läuft: 'assignment_generator_bus.sql'

[2017-01-06 10:08] beritRLI commented on #27
Hier noch Fragen und Antworten aus der openmod mailingliste:
Tim Tröndle:
There is this one question when dealing with data that is not entirely open (public but with restricted access) or closed (proprietary) for which I never found a satisfying general answer: in which form am I allowed to republish the data? Especially when aiming at an open, reproducible workflow this question is not only rele

[2017-01-06 10:08] beritRLI commented on #27
Ich habe den Rechtsanwalt Till Jäger angefragt
melde mich wenn ich antwort habe

[2017-01-06 13:50] ulfmueller commented on #35
Kleines Update: Nachdem ich erst timeout-Probleme hatte, hat er sich nun per ssh-Tunnel ca. 48h mit 'assignment_generator_bus.sql' beschäftigt. Da muss Ilka am Montag drauf gucken - dann geht es weiter mit dem letzten Drittel.

[2017-01-06 18:13] Ludee commented on #35
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb2 in position 77: invalid start byte

Das ist der BOM-Fehler. Falsche Kodierung des Skriptes. Behoben

[2017-01-10 10:09] lukasol commented on #27
@beritRLI sind die Fragen auch schon übermittelt worden, sodass wir auch zeitnah (bis zum Projekttreffen?) mit einer Antwort rechnen dürfen?

[2017-01-10 13:50] Ludee commented on #33
As far as I understand this is not part of the style file.

[2017-01-10 14:06] Ludee opened #39 "mvgd multipolygon bug"
MVGD are mulitpolygons and some have parts without TP.
See internal presentation.

[2017-01-10 14:09] lukasol commented on #33
Okay, but is it anything we could have an influence on?
Otherwise, I could try to extend our scripts to also considering substations accounted as lines and see if this brings the full story (but I would like to avoid that since it increases the computational efforts).

[2017-01-10 14:49] Ludee commented on #33
An (theoretical) alternative is a modification of the osm2pgsql source code. I don't see that.

What increase of time do you expect? The substation scripts are quite fast (~10min).

[2017-01-11 10:50] lukasol commented on #33
I don't see that either. I will try and expand the existing scripts to also considering lines and report on that here.

[2017-01-11 13:50] Ludee commented on #37
[Function is working](https://github.com/openego/data_processing/blob/refactor/oedb-restructuring_v0.2/dataprocessing/sql_snippets/functions/function_ego_scenario_log.sql#L43) and partly implemented in v0.2. It's a great help and reduces the log to two lines:

`-- ego scenario log (version,io,schema_name,table_name,script_name,comment)
SELECT ego_scenario_log('v0.x','input','model_draft','ego_scen

[2017-01-11 13:53] Ludee commented on #26
Function works now and issue closed!

[2017-01-11 13:53] #26 closed

[2017-01-11 13:56] Ludee commented on #21
Checklist shows that we have finished all but the implementation of the scenario log. As far as I see it is used a lot and can also be simplified by calling the function #37.

[2017-01-11 13:56] #21 closed

[2017-01-11 14:03] Ludee commented on #35
Wie ist denn der aktuelle Stand? Konntet ihr alles durchlaufen lassen? @ulfmueller
Habe gestern den ersten Teil (mvgd und loadarea) in QGIS geladen und Fehler gefunden.
@lukasol  wollte zudem noch die Substation auf den gefunden OSM-Bug (Linien) anpassen.

[2017-01-11 14:08] ulfmueller commented on #35
Wir sind noch nicht durch. Hängen noch in 'renpass_gis_ResultsTOPF.sql'. Hatten Probleme mit 12 Null-Werten bei den generator_id. Es läuft gerade noch.

[2017-01-11 14:40] lukasol commented on #33
ways with polygon geometries: 32320
ways with line geometries: 7

The 7 line geometries are not part of the dataset as of now, but at least 5 of them seem to be relevant to us. I thus propose to fix the code (which is a quick thing to do) so that we also include the lines and to re-run the data_processing v.02 with the updated dataset.

[2017-01-11 14:43] lukasol commented on #35
Ich könnte den osm-Import bug recht schnell fixen, allerdings müssten wir dann das data_processing noch einmal durchlaufen lassen, da die substations ja zu Anfang stehen...was meint ihr?
siehe #33

[2017-01-11 16:12] Ludee commented on #35
Ja das sollten wir tun. Die load areas sind auch teilweise defekt und benötigen ebenfalls einen neuen Versuch. Kann sein dass deswegen andere Sachen nicht glatt laufen. Ist mir erst bei den DEA aufgefallen.

Da der Code ja jetzt auch weitgehend bugfrei sein sollte ist das ganze auch deutlich weniger arbeitsintensiv.
Bei dir sind das dann die beiden "get_substations"-Skripte @lukasol ?

[2017-01-11 16:14] lukasol commented on #33
resolved by https://github.com/openego/data_processing/commit/0658df96684a3ea0443df1d533d3ed2b072bd5bb

[2017-01-11 16:14] #33 closed

[2017-01-12 08:55] lukasol commented on #35
Ja, die habe ich gestern schon im refactor branch geändert.

[2017-01-12 08:59] lukasol commented on #19
@gplssm is this (and the other issue regarding Release v0.1, #32) still open? if yes, I suggest a move to Release v0.2 or -- maybe more realistic -- Release v0.3.

[2017-01-12 15:05] Ludee commented on #35
Habe es bereits ausgeführt und **3608** Substation werden erzeugt. Ist das richtig so?

[2017-01-13 07:32] lukasol commented on #35
Wir hatten vorher einmal 3609 und durch die Import-Umstellung dann 3606. Der eine Eintrag kann ja aber auch anderweitig verloren gegangen sein.

[2017-01-13 10:18] ulfmueller commented on #35
Es läuft jetzt 'demand_per_mv_grid_district.py' danach fehlen noch 'demandseries_TOPF.sql' und 'LOPF_data.sql'. Ich denke/hoffe, dass das heute noch fertig wird.

[2017-01-13 13:13] Ludee commented on #35
Anschließend brauchen wir (@nesnoj) noch die peakloads aus peak_load_per_load_area.py

Liegt das an den Rechenzeichen der Skripte oder gibt es Bugs? Kannst du die Laufzeiten im BPMN ergänzen, dann bekommen wir mal eine Zahl für das gesamte eGoDP.

[2017-01-13 13:23] ulfmueller commented on #35
Beides. Je nach Skript ist das eine oder beides der Fall.

kann ich machen.

[2017-01-13 14:09] beritRLI commented on #27
Um keine Überschneidungen bei der Befragung von Rechtsexperten zu haben (und damit Mehrkosten) haben wir (Absprache Lukas, Berit, Editha) die Befragung von Herrn Jäger verschoben, bis die Antworten von den Juristen des Forschungszentrums Geesthacht zurück sind. Dann werden wir mit den noch offenen Punkten auf Herrn Jäger zugehen.

[2017-01-13 14:15] beritRLI commented on #27
Da ich immer noch versuche alle Punkte in einem Dokument zusammenzuhalten kopiere ich hier noch die Punkte aus dem pdf von Lukas hin (sind aber wahrscheinlich oben schon drin). Wir (ich/Ludwig) gehen nächste Woche nochmal alles durch und machen daraus eine Fragetabelle (bzw ergänzen die, die von Geesthacht bearbeitet wird).
Aus pdf:
Offene Fragen an Rechtsexperten:
* Prüfung der Kompatibiliäat ein

[2017-01-13 15:10] Ludee commented on #35
Ich warte dann bis du fertig bist und lasse dann den Rest laufen (peak loads und LV)

Gehen wir noch auf die Suche nach der letzten verschollen substation? Denke das lohnt nicht.

[2017-01-13 16:09] ulfmueller commented on #35
Leider ist 'demand_per_mv_grid_district.py' immer noch nicht durchgelaufen. Ich komme an dem Fehler `KeyError: 'consumption'` nicht vorbei. Dieser wird wohl in Zeile 81 erzeugt.
Das Problem liegt vermutlich schon vorher begründet, da in der Tabelle model_draft.ego_demand_hv_largescaleconsumer in der Spalte consumption nur Null-Werte hinterlegt sind.
@IlkaCu : Könntest du mal schauen woran das lieg

[2017-01-13 18:49] Ludee commented on #35
Ich konnte die **consumption** bis zum Skript [process_eGo_osm_loads_industry.sql](https://github.com/openego/data_processing/blob/refactor/oedb-restructuring_v0.2/dataprocessing/sql_snippets/process_eGo_osm_loads_industry.sql#L237-L250) zurückverfolgen.
Dort werden noch zwei mal **calc** Tabellen aufgerufen. Da wird der Fehler sein.
Ich verstehe nicht genau, woher und wie die berechnet werden. Zu

[2017-01-16 09:30] IlkaCu commented on #35
Diese beiden Tabellen waren noch falsch, also mit ihren alten Namen, benannt. Die sind bei der Umbenennung anscheinend einfach vergessen worden, Probleme mit der Lizenz sollte es bei diesen Tabellen nicht explizit geben, daher habe ich sie umbenannt.
@Ludee: Wirfst du das data processing dann noch einmal ab _process_eGo_osm_loads_industry.sql_ an?

[2017-01-16 09:45] EdithaK commented on #27
Um die Arbeit am HZG voranzubringen, würden die gerne in die open-eGo GVB einsehen. Es geht darum zu verstehen was die oedb ist und wie die Verantwortlichkeiten definiert werden (können).
@lukasol @wolfbunke @ulfmueller @MGlauer : Ich würde Personenmonate und Alle finanziellen Punkte herausnehmen und die GVB weiterleiten. Seit ihr damit einverstanden?

[2017-01-16 09:51] ulfmueller commented on #27
Aus meiner Sicht, kein Problem!

[2017-01-16 10:59] lukasol commented on #27
Reicht es nicht aus, einfach die entsprechenden Punkte aus dem Arbeitsplan zu nehmen? Dann brauchst du nicht so viel löschen...

Grundsätzlich möchte ich mich dafür aussprechen, die Diskussion wieder ins redmine zu verlagern. Schlage Ticket #1178 vor.

[2017-01-16 13:19] Ludee commented on #35
ist bis Voronoi_ehv.sql durchgelaufen. soll ich weitermachen oder checkt ihr erst die Ergebnisse?

[2017-01-16 13:28] IlkaCu commented on #35
Gerne weitermachen.

[2017-01-16 14:20] Ludee commented on #35
Einige eurer Skripte haben zunächst nicht funktioniert:
`UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 6393`
-> Im Hexeditor habe (ungültige) deutsche Anführungszeichen in den Kommentaren und Metadaten entdeckt und erfolgreich ersetzt.

Ist jetzt bis **assignment_generator_bus.sql** gekommen.
Da gibt es wohl noch größere Bugs. (DROP CASCADES usw.)
Ich dachte die habt ihr m

[2017-01-16 16:34] ulfmueller commented on #35
Ja, das haben wir. Bei mir lief das von calc_ego_hv_powerflow bis zum python Skript problemlos durch (wie auch beschrieben). Von daher kann ich mir auch nicht vorstellen, dass es sich um größere Bugs handelt.
Ärgerlich.
Aufgrund den Vorbereitungen fürs Projekttreffen werde ich diese Woche es nicht mehr schaffen hier mitzuhelfen. Hoffentlich kann @IlkaCu die Bugs schnell und leicht beheben?

[2017-01-16 16:39] Ludee commented on #35
Fehler:
`
DETAIL:  materialized view calc_renpass_gis.pf_pp_by_source_aggr_id depends on table model_draft.ego_supply_pf_generator_single
HINT:  Use DROP ... CASCADE
`
Ist das Science oder kann das weg ;)

[2017-01-16 18:24] Ludee opened #40 "invalid metadata"
in **calc_ego_hv_powerflow.sql** werden mehrere Metadaten für die Tabellen angelegt.
Diese werden aber nicht überprüft und haben Fehler.

Die Verwendung von " in der Beschreibung geht nicht!

[2017-01-16 23:49] Ludee commented on #35
Waren nur die Kleinigkeiten und ein paar Fehler in den metadaten.
Hänge jetzt bei **demand_per_mv_grid_district.py**. Das Package workalendar funktioniert bei mir nicht.

[2017-01-16 23:51] Ludee commented on #40
Konnte alle Fehler finden und fixen

[2017-01-16 23:51] #40 closed

[2017-01-17 10:44] lukasol commented on #38
@Ludee @IlkaCu @ulfmueller
is this still open?
(I'm preparing for the meeting...)

[2017-01-17 11:16] Ludee commented on #38
Im eGoDP wurden die angepasst. Es fehlen aber noch die Lizenz in den Metadaten und die Ergänzung im BPMN für das License-Flow.

[2017-01-21 07:53] apoorva-ovgu commented on #11
As discussed last week, we tried to implement a tree structure, but it made me realize that it is more of a graph that a tree. Because two parents pointing to the same child is a very weird tree and traversing by going back is also not efficient. Am -i on the right path here by considering parallel executions as a graph?

[2017-01-21 12:42] apoorva-ovgu commented on #11
I tried a recursive implementation which gives me this:
{ ParallelUpA ParallelDownA }
{ ParallelUpB ParallelDownA }
{ ParallelUpB ParallelDownB }
Is this okay?

[2017-01-23 11:45] lukasol commented on #34
As discussed at the project meeting last week, the data_processing is now licensed under AGPLv3. I updated the license file and would now ask all authors to update the headers of their scripts (see [wiki](https://github.com/openego/data_processing/wiki/Header-and-License))

- [ ] @Ludee
- [ ] @nesnoj
- [ ] @ulfmueller
- [ ] @IlkaCu
- [ ] @wolfbunke
- [ ] @s3pp
- [ ] @gplssm
- [ ] @lukasol

Since w

[2017-01-24 09:18] Ludee commented on #34
I have some comments on the license: I like the decision and I go with AGPL.

Here my comment from Redmine in German:

Gibt es auch eine Entscheidung zur CLA?
Die Lizenz empfiehlt sowas am Ende
Es wäre schön da eine übergreifende Lösung zu haben und nicht je eine per Institut.
Das würde eine zukünftige Mitarbeit anderer erschweren.

Zudem schlage ich eine kleine Anpassung des Headers vor:
[code]
A

[2017-01-24 09:27] Ludee commented on #34
I adjusted the "template in the wiki":https://github.com/openego/data_processing/wiki/Header-and-License

[2017-01-24 11:05] s3pp commented on #34
Updated the Wiki, removed whitespace.

[2017-01-24 15:24] Ludee commented on #34
thanks

[2017-01-24 16:11] Ludee opened #41 "MV Grid District with no consumption"
There is (only) one mvgd with no consumption. It is because all LA are really small.
It is subst_id 506

![grafik](https://cloud.githubusercontent.com/assets/14353512/22255578/0e7511fc-e258-11e6-8cc0-9230187b321e.png)

[2017-01-25 13:50] MGlauer commented on #11
I do not really see what you mean. Could you give an example of an execution that leads to a cyclic graph?

{ ParallelUpA ParallelDownA }
{ ParallelUpB ParallelDownA }
{ ParallelUpB ParallelDownB }
Is this okay?

You are missing the 'Init' state and the 'Finish' state.
This is one possible trace. The other one  would be
{Init}
{ ParallelUpA ParallelDownA }
{ ParallelUpA ParallelDownB }
{ ParallelU

[2017-01-26 13:04] nesnoj commented on #41
Uh, odd...for dingo.
Is there a threshold for the min. consumption of a load area? That's the only explanation since all LA are supposed to have a consumption..

[2017-01-26 13:09] IlkaCu commented on #41
I'm pretty surprised that this happened. There is no threshold implemented, so every load area should have a consumption in the end no matter how little. I'll try to fix this bug starting tomorrow.

[2017-01-26 14:22] Ludee commented on #41
My guess is a rounding error. I already had some issues with _decimal_ data type which is not suited for small fractions (<10*-5). Since it's GWh it might be it. Instead try the _double precision_.
Can't find the source I got this from, some Stack question. Hope it helps and can be fixed quick.

[2017-01-26 21:48] Ludee commented on #15
Was the organisation of the repos part of the last meeting?
A restructuring of the files and folders should be done after the merge of v0.2 in master.
Is this already issue?

[2017-01-26 21:49] Ludee commented on #18
Is this issue closed? @gplssm
If not I move it to v0.3

[2017-01-26 21:50] Ludee commented on #13
Is this issue closed? @gplssm
If not I move it to v0.3

[2017-01-26 22:04] Ludee commented on #34
@nesnoj
@ulfmueller
@IlkaCu
@wolfbunke
@s3pp
@gplssm

[2017-01-26 22:10] Ludee commented on #38
economic.destatis_gva_per_district  -> "Licence": ["unspecified licence"],
demand.ego_demand_federalstate  -> "ToDo": ["Add licence"],
@IlkaCu @ulfmueller

[2017-01-26 22:14] Ludee commented on #19
I agree, let's close ms1

[2017-01-27 15:26] Ludee opened #42 "merge eGoDP v0.2 (refactor branch) in master branch"
I cannot find info and decisions about the planning of the merge?
Who is responsible?
Please add info and planed timetable.

[2017-01-30 09:47] wolfbunke commented on #34
work in progress

[2017-01-30 11:43] lukasol commented on #42
@ulfmueller agreed to coordinate this with our help. As far as I know there is no schedule yet, but ZNES should decide which issues are still to be resolved in version 0.2 and which migrate to version 0.3.

[2017-01-30 12:45] Ludee commented on #32
I could solve the workalendar bug on windows.

Update/install current **.NET Framework**, install **visual studio c++** and then update package **setuptools**. Then it has the wheels for workalendar.

[2017-01-30 12:45] #32 closed

[2017-01-30 12:50] Ludee commented on #42
Last week I went through all issues and closed v0.1. Then only left the **must solve** or **perhaps already solved** in v0.2. All other **nice to have** went to v0.3.

An announced schedule and a date for the merge would be good to don't interrupt other work in progress.

[2017-01-30 12:52] Ludee commented on #37
As far as I see the eGoDP v0.2 has the scenario log function in all scripts.

[2017-01-30 12:52] #37 closed

[2017-01-30 12:53] Ludee commented on #41
Did you find the bug?

[2017-01-30 12:54] Ludee commented on #38
I think this is necessary for v0.2

[2017-01-30 13:02] ulfmueller commented on #42
I totally agree. I have a meeting on this tomorrow afternoon together with Ilka. We will make a schedule and annouce it. If we have questions or are not sure in some points we will ask...

[2017-01-30 14:23] Ludee commented on #20
@jong42

[2017-01-30 14:33] Ludee commented on #23
I came across the point of removing "real names" and email in GitHub.
This is part of the metadata in _changes_.

How we adapt these opposing guidelines and examples?
Of course there is the freedom of choice for everybody, but I would like to have some fitting working examples.

Considering:
openmod-wiki **username** = OEP **username** and **real name**
GitHub **username**
oedb metadata **name** a

[2017-01-30 18:22] jong42 commented on #20
The script for grid and ont generation ( process_eGo_lv_grid_multiple.py )  lies in the refactor/oedb-restructuring_v0.2 branch, the script for lv grid district generation

(process_eGo_lv_grid_districts.sql ) in the master branch... am I supposed to move both scripts in one branch?

 

 

Tel: 0152 33739616
Mail: jonasguetter@gmx.de

 
 

Gesendet: Montag, 30. Januar 2017 um 15:23 Uhr
Von: Ludee

[2017-01-31 08:05] Ludee commented on #20
Removed your personal info.
if it is working with the v0.2 structure (model_draft), it should be in the refactor branch.
so yes

[2017-02-01 09:36] IlkaCu commented on #38
I added the licence information to the named tables.

[2017-02-01 10:42] IlkaCu commented on #41
The data type _numerical_  in table model_draft.ego_demand_loadarea seems to cause the problem. As a view uses this table I do not have the permission to simply change the data type and rerun the script. @Ludee: Is it okay for you, if I delete the table once completely?

[2017-02-01 10:52] lukasol commented on #27
General licensing guidelines have been developed and confirmed at a meeting in January. The open questions to the expert will be discussed during a workshop in March.

[2017-02-01 10:52] #27 closed

[2017-02-01 12:06] Ludee commented on #41
Since this script(s) may take a while I suggest to just update the code and make a new run after merging with a new version number.

[2017-02-04 13:31] nesnoj commented on #34
Alright, I've added some license headers for @gplssm and @jong42 (I surely missed some).

Useful hint: If you want to check which files a user has contributed to within the repo, you can use
[code]
Just replace the git \<USER>. Of course, this includes all modifications (e.g. "fix typo" ;)

[2017-02-04 13:42] nesnoj commented on #20
@jong42 I added license headers for your scripts in the refactor branch (see https://github.com/openego/data_processing/issues/34#issuecomment-277446047), please include them resp. insert new ones when moving your scripts..

[2017-02-04 13:46] nesnoj commented on #42
Please consider necessary changes to setup.py (if any)

[2017-02-04 14:13] nesnoj commented on #15
Exactly. Only the package dir, LICENSE, README.md, setup.py, doc dir and, if needed, an example dir. As long as this structure is not implemented, a pip install will fail... v0.3 sounds reasonable.

[2017-02-04 14:23] nesnoj commented on #19
I do not copy, pip says 0.0.2 here

[2017-02-04 14:23] #19 closed

[2017-02-04 14:40] nesnoj commented on #13
Couldn't find any hard dependencies.

[2017-02-04 14:56] nesnoj commented on #13
Oops, I got this wrong, sorry!
What @gplssm means is the use of oemof.db by data_proc (e.g. [here](https://github.com/openego/data_processing/blob/6a48404b69317552ff906ced2a54a441c4c26710/dataprocessing/tools/io.py#L10) or [here](https://github.com/openego/data_processing/blob/6a48404b69317552ff906ced2a54a441c4c26710/dataprocessing/python_scripts/peak_load_per_load_area.py#L19)). We definitely sho

[2017-02-04 14:57] nesnoj commented on #18
Related to #13 (v0.3)

[2017-02-06 08:44] IlkaCu commented on #25
@Ludee: Is this bug fixed in v0.2?

[2017-02-06 10:41] #31 closed

[2017-02-06 13:34] Ludee commented on #25
Done, should be checked after processing.
There is some confusion because of the naming and order of the IDs (osm_id, gid, polygon_id, id).

[2017-02-06 14:27] IlkaCu commented on #25
Great!

Do any tasks derive from this confusion? If yes, can you specify the problem?

[2017-02-06 15:03] Ludee commented on #25
_openstreetmap.osm_deu_polygon_urban_sector_3_industrial_mview_
contains all industry polygons; has (original) **osm_id** that can't be PK and **gid** as PK
-> 61,291 entries

_model_draft.ego_demand_hv_largescaleconsumer_
contains EHV industry; doesn't have **osm_id**, **polygon_id** == **gid**
-> 295 entries

_openstreetmap.osm_deu_polygon_urban_sector_3_industrial_nolargescale_mview_
contains i

[2017-02-06 15:55] IlkaCu commented on #25
As this addresses a different problem than the original issue, I would ask you to open a new one and specify the problem. I think I still didn't get what to do about the problems you described.

[2017-02-06 16:41] Ludee commented on #25
It is one (the main) aspect of the high industry demand bug.
There are 61,291 OSM industry polygons. You identified 295 in EHV. But there is a difference (6 polygons) after removing these!

As you take a look of how they are removed you see different **column names** and **PK** in these tables.
It's not only confusing to have different names for the same ID, it can be the reason of the mentioned d

[2017-02-07 09:48] IlkaCu opened #43 "Integrate pre-processing in eGo DP"
The scripts used for a data pre-processing before the actual 'data processing' shall be consistently integrated in the eGo DP. Nevertheless the pre-processing scripts are not supposed to run every time the data processing is executed.

[2017-02-07 10:22] IlkaCu commented on #42
As mentioned in the redmine-News we will rename the DP-branches tomorrow. The current  branch 'oedb-restructuring_v0.2' will be our new master branch, which then will be the basis for the new dev-branch. The current master branch will from that point on function as an archive.
This process is quite decoupled from the pending tasks for the release eGoDP v0.2.

[2017-02-07 14:24] lukasol commented on #42
Please try closing #34 before the merge.

[2017-02-07 16:26] Ludee opened #44 "Run peak_load.py"
I want to run **peak_load_per_load_area.py** from @gplssm and @IlkaCu on my anaconda.
Therefore I need to install/update packages:

I installed the current ego.io (version='0.0.2') successfully.
When installing dataprocessing the version is not accepted. see [setup.py](https://github.com/openego/data_processing/blob/refactor/oedb-restructuring_v0.2/setup.py#L21)

[2017-02-07 16:31] ulfmueller commented on #44
Does it help if you checkout to a previous version of ego.io (as a quick workaround)?

[2017-02-07 16:33] Ludee commented on #44
I just "allowed" the new version. Not sure if legal?

[2017-02-07 17:17] ulfmueller commented on #44
if it works it should be fine! any objections @nesnoj @gplssm ?

[2017-02-08 09:15] nesnoj commented on #44
That should be ok for now. As soon as we release dp v0.2 a new version of ego.io is to be released as well and the setup.py of dp has to be adjusted anyway to meet the new version.

[2017-02-08 09:46] nesnoj commented on #35
Prior to the v0.2 release the new version of ego.io has to be released to ensure a smooth integration, see https://github.com/openego/ego.io/issues/14

[2017-02-08 10:00] nesnoj commented on #44
@Ludee, you mentioned that the peak load table doesn't exist. I fixed the table name in ego.io (https://github.com/openego/ego.io/commit/35ba97957270dd3b7ab6e9c9e7585056cace1f6d), plz give it another try. Make sure u r in refactor branch in ego.io.
This is a temp solution, as soon as the new table defs are generated (https://github.com/openego/ego.io/issues/8) this kind of errors will hopefully be

[2017-02-08 10:54] ulfmueller commented on #35
I am not sure about the necessity of 'prior' (because it would still work but being checkout on the old branch). But definitely it should happen with not much delay to the dp v.02 release in order to use the apps on the base of the newly structured data.

[2017-02-08 11:13] nesnoj commented on #35
As soon as we release dp v.0.2 the requirement ego.io v0.2 will be listed in [setup.py](https://github.com/openego/data_processing/blob/refactor/oedb-restructuring_v0.2/setup.py) like `'ego.io >=0.2, <=0.2'`.
I agree. It depends on how we want to make data_proc to be installable: If it is ok to install ego.io manually via `pip3 install -e <ego.io clone> ` to meet data_proc's install requirements -

[2017-02-08 12:19] nesnoj commented on #13
There're further discussions concerning this issue in https://github.com/openego/ego.io/issues/14

[2017-02-08 12:58] IlkaCu commented on #34
There are four sql scripts without a header left in the snippets-directory in the oedb-restructuring_v0.2 branch.
- [ ] analyse_grid_district_data.sql
- [ ] analyse_osm_landuse.sql
- [ ] calc_renpass_gis.pf_pp_by_source_aggr_id_mview_backup.sql
- [ ] setup_openstreetmap.sql

@Ludee: Are you the author of these scripts? If yes, please add the header.

[2017-02-08 13:09] s3pp commented on #34
calc_renpass... seems to be a part of renpass_gis_ResultsTOPF.sql with minor changes.

@Ludee Should I integrate these changes in the main script?

[2017-02-08 13:38] nesnoj opened #45 "REA allocation issues"
I got some issues on REA allocation:

- [x] Bug: The column voltage_level in orig. table `supply.ego_res_powerplant` is of type smallint but after allocation (table `model_draft.ego_supply_rea`) it is character varying. Furthermore, in all scripts concerning the allocation a string containing a number is used for comparison (luckily, postgreSQL is very gracious here) - I recommend to change this n

[2017-02-08 14:10] nesnoj commented on #45
1. done in 0d1b27d233d38411e0105fa707af73c94038bd08
2. done in b8eea7fb850e912adec206c9550596f4fdfa92b2

Due to those bugs the whole alloc has to be re-run..

[2017-02-08 16:11] s3pp commented on #42
We renamed the current master to archive_v0.1. Additionally a new master branch was created checking out refactor/oedb-restructuring_v0.2. As a consequence master branches locally and remotely are not the same anymore. If you try to pull the master branch a merge would be the result. The easiest way to reconfigure the master branch locally is to rename or delete it and to pull the new master branc

[2017-02-08 17:44] Ludee commented on #34
@IlkaCu Yes, all mine. sorry.

@s3pp The Backup was made because I had to change some code during the execution of the dp.
If you don't need the backup anymore, just delete it. I suggest to not merge the backup in the updated/improved part.

I will add the header and licenses after I pulled the restructured repo. Can't do it right now because the peak loads are running.

[2017-02-08 17:46] Ludee commented on #45
I will do 3.

[2017-02-09 08:58] Ludee commented on #44
Running script: "L:\github\openego\data_processing\dataprocessing\eGo_data_processing.py"
2017-02-08 11:17:01 ego data processing started...
ego data processing started...
2017-02-08 11:17:05 Execute 'peak_load_per_load_area.py' ...
Execute 'peak_load_per_load_area.py' ...
Traceback (most recent call last):
  File "L:\github\openego\data_processing\dataprocessing\eGo_data_processing.py", line 114,

[2017-02-09 09:33] nesnoj commented on #44
I'm on it...

[2017-02-10 08:56] nesnoj commented on #44
Couldn't reproduce your error - table is created and grants are set correctly.
Currently running the whole script...
If there won't be any drawbacks, I'll add it to data_proc to facilitate automation.

[2017-02-10 11:15] nesnoj opened #46 "Wanted: Hints on DATA MODIFICATIONS"
I'm using datasets from dp v0.1 since there's still missing data in v0.2 (peak load #44 and MV/LV substations) - I'm fine with 0.1 for testing DINGO's algorithms.

Unfortunately the old load areas (`calc_ego_loads.ego_deu_load_area`) & peak loads (`calc_ego_loads.calc_ego_peak_load`) suddenly contain a lot of NULLs in consumption/peak_load - what happened here? Did somebody run an old v0.1 script?

[2017-02-10 11:53] Ludee commented on #44
The peak loads are still missing the scenario log.
I also made a python def, where do I put it? In ego.io?

[2017-02-10 11:54] Ludee commented on #46
I didn't run any v0.1 for a long time.
Perhaps there was something in the peak load I tried to run. But it failed all the time.
Otherwise I have no clue?

[2017-02-10 12:26] nesnoj commented on #44
The [current version in dev](https://github.com/openego/data_processing/blob/a2126af5b624fcda73bf2e3e0332634e8d3831f8/dataprocessing/python_scripts/peak_load_per_load_area.py) is the one which I'm running.. so feel free to embed into data_proc main script and add scenario log :).

If u mean the table def in ego.io, this was [automatically done](https://github.com/openego/ego.io/issues/8#issuecomme

[2017-02-10 12:46] nesnoj commented on #44
I haven't updated the import statement according to these new defs but we have to update all dp scripts anyway. I propose that we gonna do this in one go..

[2017-02-10 12:47] Ludee opened #47 "Integration of LV in eGoDP"
The methods for the LV (substation, grid districts) are not properly integrated into the eGoDP.
I will list my major concerns and ideas in this issue:

- [x] Table name of the LV substations is _ego_grid_mvlv_onts_. ONTS (Ortsnetztrafos) is a German abbreviation and doesn't fulfil the naming convention (also plural s) -> **ego_grid_mvlv_substation** see [Wikipedia](https://en.wikipedia.org/wiki/El

[2017-02-10 12:56] Ludee commented on #44
I think I mean something else. The [scenario_log function](https://github.com/openego/data_processing/blob/master/dataprocessing/sql_snippets/functions/function_ego_scenario_log.sql) (SQL) just adds one entry to the log table. This is only implemented in the SQL snippets. We need to extend it to the python files as well.

I'm not sure if this is the right way, but it works:

[2017-02-10 15:34] nesnoj opened #48 "bugs in REA voltage_level allocation"
**Bug 1**
I found a lot of entries in the table `supply.ego_res_powerplant` where the allocation of REA to their voltage level seem to be odd ([our allocation table](http://oep.iks.cs.ovgu.de/redmine/projects/open_ego/wiki/Methoden_Zuordnung_von_Erzeugern_und_Verbrauchern_zu_Spannungsebenen_und_Netzknoten)).
Example: Just try
[code]
This will return 2634 very small plants (P<10 kW) which are to be

[2017-02-12 21:52] apoorva-ovgu commented on #11
The program currently works for 1 possible trace and that is without data objects, first I wanted to get the logic right and then go for other elements.

[2017-02-13 10:05] nesnoj opened #49 "consistent use of status quo scenario"
For the status-quo scenario we decided to go for 2014. I'm not sure if the same year is implemented consistently:

1. Demand: It seems to be 2013 (see [here](https://github.com/openego/data_processing/blob/refactor/oedb-restructuring_v0.2/dataprocessing/python_scripts/demand_per_mv_grid_district.py#L25) or [here](https://github.com/openego/data_processing/blob/refactor/oedb-restructuring_v0.2/data

[2017-02-13 10:11] lukasol commented on #49
from the grid's perspective, Status-Quo means the download date of the actual OSM dataset applied.

[2017-02-13 10:20] #46 closed

[2017-02-13 10:22] nesnoj commented on #49
Ok, I added OSM

[2017-02-13 14:48] IlkaCu commented on #49
The original data on electricity demand taken from the statistical offices are from the year 2011. The reference year for our weather data is as well 2011.

[2017-02-13 15:06] s3pp opened #50 "Not connected lines in model_draft.ego_grid_pf_hv_line"
The following query statement results in two entries, both lines are only on one side connected.
Connected to the same bus, which bus_id is 19519.

[code]

@lukasol Is this a bug? Or is it something that is allowed to happen?

[2017-02-13 15:07] IlkaCu commented on #48
We did not adjust the voltage level of those power plants having an entry on this in the original datasets. If this is not suitable for DINGO we should discuss whether to adjust the voltage level of all power plants according to our allocation table or identify and adjust only the outliers.

I found another bug in a script, voltage level 7 is wrongly allocated (>100 kW), see here. I'm not sure if

[2017-02-13 21:43] nesnoj commented on #44
Thank you for the proposal. I altered your function using python ORM (latest ego.io branch) and created a new **python script for adding entries to scenario log** (423e7c1b3b8f055780cfa7f11fe362e0899740a0). It might be helpful @IlkaCu @wolfbunke @lukasol @ulfmueller @gplssm.

It was not possible to adapt all columns in python - I extracted the user name from the current DB connection but things li

[2017-02-13 23:47] nesnoj commented on #48
I think there is no difference between the two options if we use our allocation table as reference, is there?

Let's check the counts per v_level for P<100 kW:

v_level | count | sum capacity
--------- | ------- | ----------------
1 | 4 | 20.69
2 | 3 | 143.93
3 | 85 | 3405.645
4 | 46 | 2060.824
5 | 18592 | 809030.060
6 | 11005 | 466155.741
7 | 1504806 | 20055134.762

In this example the allocation

[2017-02-14 12:55] IlkaCu commented on #44
As far as I know this is still part of the data processing. As @gplssm is the author, he is the one in charge here.

[2017-02-14 14:16] nesnoj commented on #44
Ok, I thought this is part of your aggregation.

@gplssm: So this question goes to you..
If it is still needed we have to update the tables according to new ego.io defs and integrate logging.

[2017-02-14 15:23] gplssm commented on #44
I would hope that it is still in use ;-) Bring demand time series for transition point, respectively per mv grid district.

What do I have to do?

[2017-02-14 15:30] IlkaCu commented on #48
I do see a difference between both options - as you said for power plants < 100 kW an allocation to the voltage levels 1-4 would be odd and unrealistic. They are for sure outliers. But it isn't completely unrealistic to have PP like this in voltage level 5 or 6, is it? We could keep the information on the voltage level for these PP and only adjust the outliers.
But from my point of view we could a

[2017-02-15 13:46] nesnoj commented on #44
Nice to read you! But don't worry about it..
I'm a little curious about the function of the different demand/load/.. scripts (the headers often lack required info), this makes it difficult to update the mentioned script.  As far as I can see from the [BPMN](https://github.com/openego/data_processing/blob/2766d1967e31eef1edfa218c9dedfdb3bdd4c87f/bpmn/ego_data_processing.graphml), the renaming has t

[2017-02-15 15:10] nesnoj commented on #48
Yes I guess some scenarios aren't completely unrealistic but it is hard to define better thresholds than used in the dena VNS to detect outliers.
I did a more detailed inspection checking the allocation of capacity classes (<1 MW) to v_level with
[code]
In v_levels 5 and 6 most of the allocated PP are from capacity classes different from the range in our alloc table.

I'd recommend to apply our al

[2017-02-15 15:41] IlkaCu commented on #48
All right! I'll adjust the script tomorrow morning. But these changes will influence the whole data processing. How do we deal with that?

[2017-02-15 16:00] nesnoj commented on #48
Great - thanks!
We've to re-run some parts of dp v0.2 anyway for different reasons ([example](https://github.com/openego/data_processing/issues/45#issuecomment-278338513))...and in the end a whole re-run is on schedule too prior to the release?!
I'd appreciate if we could do this very soon..

[2017-02-16 09:03] IlkaCu opened #51 "Duplicate tables in supply schema"
What's the difference between the following tables?
_supply.ego_renewable_power_plants_germany_
_supply.ego_res_powerplant_

Is it a duplicate?

[2017-02-16 10:13] IlkaCu commented on #48
I adjusted the script _proc_renewable_power_plants_germany.sql_ on the dev branch and ran the essential part to update table _supply.ego_res_powerplant_.

Is this bug also an issue for the conventional PP list?

[2017-02-16 10:46] nesnoj commented on #48
Looks good, thank you.
Yes indeed, the conv. PP contains a lot of odd entries like PP with cap<20 MW allocated to v_level 1.
U can check with
[code]
I'd recommend to apply our table to conv. PP too..

[2017-02-16 10:55] nesnoj commented on #45
@Ludee, can I re-run the alloc [starting from `ego_rea_setup.sql`](https://github.com/openego/data_processing/blob/a1744b86b77de5931ac5940cabd8c31416db5085/dataprocessing/ego_renewable_energy_allocation.py#L43) by the end of the day?
@IlkaCu @lukasol @wolfbunke Please notify if there're any objections..

[2017-02-16 12:03] nesnoj opened #52 "allocation of REA to LV grid districts"
I'd like to allocate all REA from `model_draft.ego_supply_rea` which are allocated to a LV load area (la_id) to the subjacent LV grid districts. I'd create a new table and use your [snippet from `ego_rea_m5.sql`](https://github.com/openego/data_processing/blob/a1744b86b77de5931ac5940cabd8c31416db5085/dataprocessing/renewable_energy_allocation/ego_rea_m5.sql#L208-L218). @Ludee, have u got any objec

[2017-02-18 15:15] apoorva-ovgu commented on #28
changed,
New way: start the program by using run file

[2017-02-18 15:15] #28 closed

[2017-02-18 15:22] apoorva-ovgu commented on #30
Closing because nesting is taken care of, and
the possible paths issue covered under the initial 'parallel'  bug.

[2017-02-18 15:22] #30 closed

[2017-02-18 15:22] #29 closed

[2017-02-18 16:28] Ludee commented on #52
m5 allocates all RES considered LV and randomly distributes on the 50m lattice inside LA.
You then want to get the LVGD id. That sounds fine, no objections. Did it work out?

[2017-02-18 17:28] Ludee commented on #45
Of course you can. Did it work?

[2017-02-18 19:13] nesnoj commented on #45
I started it yesterday and it ran successfully until `ego_rea_m4.sql` (see scenario_log) but `ego_rea_m5.sql` didn't finish - I guess this is related to timeout (python stating "SSL SYSCALL error: EOF detected"). If it doesn't bother you too much I'd be happy if you could run it again starting from `ego_rea_m5.sql`...

[2017-02-19 18:13] Ludee commented on #45
just finished m5 and results from dev

[2017-02-19 19:31] nesnoj commented on #45
Cheers mate!

[2017-02-20 12:53] wolfbunke commented on #49
Hi @nesnoj a description of our "basic" Scenario parameters can be found in the project redmine: http://oep.iks.cs.ovgu.de/redmine/projects/open_ego/wiki/Szenariorahmen. In the next weeks we should update our parameter because many new things came additional along.

[2017-02-20 13:06] wolfbunke commented on #51
I took a look into the table due to the first oep presentation and the changes of our DB structure we have now two similar tables. I add @Ludee in order to know which table open_Fred is using.

* supply.ego_renewable_power_plants_germany is an older version, which was done as show case for the oep presenatation / workshop in Berlin but is in use of open_Fred? Or?
* supply.ego_res_powerplant is a n

[2017-02-20 13:42] IlkaCu commented on #48
Done!
I adjusted the script and updated table _supply.ego_conv_powerplant_

[2017-02-20 13:59] nesnoj commented on #48
Thanks for updating!
**Note:** In the table there're some PP in v_level 3 which have got no capacity (empty)..
If there's no further need for discussion you might close this issue.

[2017-02-20 14:01] #44 closed

[2017-02-20 14:05] nesnoj commented on #41
There're actually quite a lot LA with no consumption and hence no peak load (in almost every GD).
So this one will be fixed during next run?!

[2017-02-20 14:14] Ludee commented on #51
I would prefer a close link to OPSD. I thought it was a simple copy.

If data is processed it doesn't belong in the **supply** scheme.
If you adjust the OPSD-Tables for open_eGo, it belongs in model_draft.

Why long term? Just drop it if it doesn't follow the rules and get a citable and transparent data set immediately.

[2017-02-20 14:24] IlkaCu commented on #51
In the moment we change the 'original' table twice. Once in the pre-processing where we delete or correct corrupt entries and adjust the voltage_level according to our allocation table (see #48) and the second time in the dataprocessing itself, where we assign subst_id and otg_id to every power plant.
I would suggest to have the original OPSD-table in the supply schema and a modified table includi

[2017-02-20 14:32] Ludee commented on #51
I agree with your suggestion, this is what I intended.
But I disagree with a delay to an unscheduled v0.3. This was/is the main focus of v0.2 to move all input data in the "new schema structure", remove all old dependencies ("calc") and put all processed data in model_draft.

[2017-02-20 15:07] IlkaCu commented on #41
I changed the data types of the sector_consumption_ columns [here](https://github.com/openego/data_processing/blob/67df9434e27926d347e396b8ab7736721c6268b5/dataprocessing/sql_snippets/process_eGo_loads_per_grid_district.sql#L44-L48). With the next run of this and all depending scripts the bug should be fixed - at least I hope so.

[2017-02-20 15:17] IlkaCu commented on #51
Right, this is closely related to issue #43 which is also part of v0.2

[2017-02-20 15:38] Ludee commented on #34
analyse_grid_district_data.sql -> moved all mvgd results to **ego_mv_griddistrict_results**
analyse_osm_landuse.sql -> integrated
calc_renpass_gis.pf_pp_by_source_aggr_id_mview_backup.sql -> deleted
setup_openstreetmap.sql -> add license and move to import

[2017-02-20 15:41] #34 closed

[2017-02-20 15:43] Ludee commented on #47
any feedback @jong42 ?

[2017-02-20 17:52] jong42 commented on #47
I can split up the script and add BPMN documentation when I finished my thesis but right now I have no time available for it. After 6th March I can deal with the script.

[2017-02-20 19:26] nesnoj commented on #47
I've done most of 3. (BPMN stuff) in 1dbde653eed9d991e83b6bfbfc9a3e9e638e5228

[2017-02-21 09:09] nesnoj commented on #41
We got quite a lot grid districts where load areas are quite small and scattered, e.g. id=744:

![mvgd_peak_load_scatter](https://cloud.githubusercontent.com/assets/15910173/23157316/f7769466-f81a-11e6-9313-e07bb7dbdf6d.jpg)

I'm curious whether all of them will be fixed..

[2017-02-21 10:14] nesnoj commented on #42
I assume the rest will be done in the course of v0.2 release #35.

[2017-02-21 10:14] nesnoj commented on #35
Ok, I guess we are to plan the v0.2 release in detail. Does it make sense to schedule a webco?
@IlkaCu @ulfmueller Am I right that you got the leading role on this?

[2017-02-21 10:18] IlkaCu commented on #42
That's right!

[2017-02-21 10:18] #42 closed

[2017-02-21 10:35] IlkaCu commented on #35
From my point of view a webco this week would be useful. ulfmueller and lukasol are out of office this week, but nevertheless we should push the release and identify remaining tasks and issues. How about Wednesday afternoon?

[2017-02-21 12:06] Ludee commented on #35
I'm in. 23.02 14:00?

[2017-02-21 12:14] nesnoj commented on #35
Yupp

[2017-02-21 12:53] IlkaCu commented on #35
Okay!

[2017-02-22 13:29] nesnoj commented on #49
Further discussions could take place at next project meeting

[2017-02-22 13:55] Ludee opened #53 "create clear legend for BPMN"
there are several conventions that should be normalized and documented.

[2017-02-22 14:07] nesnoj commented on #35
Log can be found [here](http://oep.iks.cs.ovgu.de/redmine/projects/open_ego/wiki/Webconf_22022017_data-processing_release_v02).

[2017-02-22 14:35] nesnoj commented on #47
@jong42 I've got 3 more issues on this (but I only need your support on 3.)

1. I've seen your approach to calc demand in [process_eGo_lv_grid_districts.sql](https://github.com/openego/data_processing/blob/0f0916c98025547338b6ff2fdebc3109910daf28/dataprocessing/sql_snippets/process_eGo_lv_grid_districts.sql). Don't worry about it since the most reasonable approach is to use the method from load ar

[2017-02-22 14:42] nesnoj opened #54 "MV Grid Districts with no load or generation"
There's at least 1 MVGD (didn't check how many are affected) which does not contain load areas or generators (e.g. id=1328).
How can we deal with this, can we just omit them?

[2017-02-22 14:50] Ludee opened #55 "rename scripts and snippets"
We need a convention for the scripts, because the names are confusing and odd.
Suggestions based on the table naming convention:
1. Start with **ego_dp_**
2. then **field** (see BPMN and headers)
3. use the schema if possible
4. then a **goodname** ;)

List of all current scripts:

**setup structure**
- [x] ego_scenario_log_setup.sql,				# setup scenario log table
- ego_dp_structure_scenariolog.sq

[2017-02-22 15:21] IlkaCu opened #56 "Description of code-snippets within eGo_data_processing.py"
We want to add a short sentence as a description to every snippet within [eGo_data_processing.py.](https://github.com/openego/data_processing/blob/dev/dataprocessing/eGo_data_processing.py)
Please add or adjust the comment behind the respective sql- or python-snippet and tick the checkbox.

- [x]          'ego_scenario_log_setup.sql'
- [x]          'ego_boundaries_vg250_setup.sql'
- [x]          '

[2017-02-23 08:02] jong42 commented on #47
I will look into this but I'd like to postpone it after my thesis is finished on march 6th. Let me know if you absolutely need it fixed before that date.

[2017-02-28 12:38] IlkaCu commented on #38
In the following SQL snippets I found some references to tables in the old db schema:
[process_eGo_lv_streets.sql](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/process_eGo_lv_streets.sql#L18-L19) @Ludee @jong42
[LOPF_data.sql](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/LOPF_data.sql#L84) @s3pp

Please check whether this is a b

[2017-02-28 15:14] IlkaCu commented on #51
I copied the processed power plant lists into the model_draft schema.
supply.ego_res_powerplant --> model_draft.ego_supply_res_powerplant
supply.ego_conv_powerplant --> model_draft.ego_supply_conv_powerplant

If no one disagrees, I would delete the old tables soon.
@nesnoj: Please adjust your depending scripts according to this changes.

[2017-03-01 16:22] Ludee commented on #55
@ulfmueller @IlkaCu
Can you add the **powerflow** scipts?

[2017-03-01 16:42] Ludee commented on #56
finished with commit cac7c1db631e4ed6d24d1c61234a946f91dbfa4c

[2017-03-01 16:42] #56 closed

[2017-03-01 16:49] Ludee commented on #55
When the last scripts are done, I will do:
`git mv file_from file_to` and commit

[2017-03-01 16:52] Ludee opened #57 "Adjust REA scripts to new table names"
Due to #51 the names must be adjusted.

[2017-03-01 17:04] Ludee commented on #47
There is an orphaned script named **process_eGo_lv_streets.sql**.
It still calls some **calc** tables that are out of date.
See #38

[2017-03-02 08:42] IlkaCu commented on #55
The script voronoi_weatherpoint.sql is redundant and can be removed from the dataprocessing.

[2017-03-02 12:36] lukasol commented on #50
sorry for late reply...i didn't get a notification.

i can reproduce the two lines also with the latest status of the grid topology model. generally i'd say it should not happen and is a bug (there is also no geom of the lines). is it something that affects calculations? i could just insert a query deleting one side connected lines...?!

[2017-03-02 13:16] ulfmueller commented on #50
I do not know this problem precisely. But it definitely affects PyPSA pf calculations. Lines always have to be connected at both ends otherwise PyPSA will rise an error.
Yeah, please insert that query deleting such lines because they'll only cause problems!

[2017-03-02 14:04] #43 closed

[2017-03-02 14:26] ulfmueller commented on #35
in order to get the new dataset of osmTGmod included which is relevant for the SciGRID paper I would start a dp run today.
Is that ok for everyone?

[2017-03-02 14:32] lukasol commented on #50
i just deleted the respective lines in the datasets in model_draft and grid schema.

will update the code on that now.

[2017-03-02 14:35] ulfmueller commented on #50
Can you insert the same 'check and delete' for transformers? That would be convenient.

[2017-03-02 14:41] lukasol commented on #50
transformers are automatically included, since they are part of branches/lines.

i added the deletion query to the code, should not occur any longer.

[2017-03-02 14:41] #50 closed

[2017-03-02 14:53] IlkaCu commented on #48
I had to reopen this issue. We came up with one reason against using the allocation table for all generators. In case of wind power plants pooled in a wind park the allocation table is not applicable as they are usually connected to a voltage level according to the installed capacity of the wind park.

[2017-03-02 15:10] Ludee commented on #35
no

[2017-03-02 15:15] nesnoj commented on #35
Current schedule says next run will take place when 0.2 is done (10.03.). But I'm ok with this.
Plz make sure that it runs without issues since a half-run dp is quite a p*** in the a** :).
I propose to wait for objections until Fri afternoon..(unless u want to run the osmTGmod part only - I wouldn't care..)

[2017-03-02 17:47] ulfmueller commented on #35
You are right. And yes I can wait until tomorrow. I need fresh data for the calculations within our SciGRID paper. Therefore I think I 'have to' run it before the the 10th - and I think it should not affect the 0.2 release (if so tell me until tomorrow early afternoon ;)).

[2017-03-03 08:45] nesnoj commented on #51
Go for it.
@Ludee: R u gonna adjust your alloc scripts?

[2017-03-03 09:30] nesnoj commented on #38
Thanks for digging :).
There's some unused LV stuff I'll clean up until the 10th.

[2017-03-03 09:30] nesnoj commented on #47
There's some unused LV stuff I'll clean up until the 10th.

[2017-03-03 09:36] nesnoj commented on #48
Uhh yes, we didn't take this into account...
So we r to decide whether we simply roll-back changes or if we re-allocate tech-specific. Could you plz re-create the old table data in a temporary table to allow for some re-analysis?

[2017-03-03 09:50] IlkaCu commented on #48
You can find the old results in _orig_geo_powerplants.proc_renewable_power_plants_germany_
We could keep the voltage_level information for wind power plants and overwrite it for the remaining technologies based on the allocation table. For wind power plants the voltage_level seems to be well-maintained - we only found two wind power plants without a voltage_level information in the original data s

[2017-03-03 10:14] IlkaCu commented on #48
We could also allow wind power plants to be connected to higher voltage levels than the one identified by our allocation table, but not to lower ones.

[2017-03-06 10:41] Ludee commented on #35
You asked if everybody is OK with it and 1 person said **"no"** and 1 said I don't care. And you start?
We "all" agreed on a schedule in the [last webconf](http://oep.iks.cs.ovgu.de/redmine/projects/open_ego/wiki/Webconf_22022017_data-processing_release_v02).
If you have highly important reasons that's fine but still quite undemocratic.

- You also started the "setup scripts" (now STRUCTURE) and e

[2017-03-06 11:09] ulfmueller commented on #35
oh, there really went some things wrong!
My bad! I am honestly very sorry. I misunderstood your 'no' (as a no I don't care - but I read wrong)!
Yes, I had important reasons but that does not legitimate any undemocratic actions. It was my mistake to start it then.

* to check all headers of all scripts does not seem reasonable. I think that should be stated in the eGo_data_processing.py. That is sa

[2017-03-06 12:15] Ludee commented on #35
My "no" was definitely not clear enough. I should have listed my concerns in detail.
A restore of the table would be good but is not necessary. In my view the log is a transparency, quality  and debugging issue.
My main concern was posted by @nesnoj

I know you will run into bugs on the way and I offered my (personal) time and help for the scheduled run at the end of this week. Now I want to focus

[2017-03-06 12:52] ulfmueller commented on #35
to be sure that everything is consistent I'd like to further execute starting with:
* 'process_eGo_osm_loads_industry.sql'
* until at least 'LOPF_data.sql' (and if you want I can execute the low voltage part as well)

[2017-03-06 12:53] Ludee commented on #55
All names are in. Thanks @IlkaCu
I will make a commit in the "dev" branch.

[2017-03-06 12:54] Ludee commented on #35
Don't do the LV. That takes ages and will not finish bugfree in this version!

[2017-03-06 14:22] Ludee commented on #53
bpmn/eGo_bpmn_legend_key.graphml

I will keep it open for feedback.

[2017-03-06 14:44] lukasol commented on #53
if that was a quest for feedback: i like it!
The only thing I do not get is the different arrows for data. Why is one bold and the other one grey?

[2017-03-06 14:59] Ludee opened #58 "Setup Power Plant Lists"
A quick look at the two new scripts open up a few questions and possible improvements:

- [x] Missing header and license
- [x] Table supply.ego_renewable_powerplant does not exist
- [x] Table supply.ego_conventional_powerplant does not exist
- [x] supply.ego_ tables are not "Original Data" (OD). They are already processed. They should be named OPSD something?
- [x] missing PKeys in model_draft.ego

[2017-03-06 15:02] Ludee commented on #48
also consider new issue #58

[2017-03-06 15:48] nesnoj commented on #48
In this context I assume "higher" means higher voltage (e.g. 2 MW WEC, v_level=5 can be allocated to v_level 4).
This seems to be a reasonable approach but I'm still struggling...
Example: We got 9979 plants whose nom. capacity is <17.5 MW (to be v_level 4..7) with v_level tag = 1,2 or 3 (in sum 23.8 GW). Ok, most is wind, after filtering (allowing for your proposal and exclude offshore) we still

[2017-03-06 16:08] nesnoj commented on #48
I guess we cannot really solve this one satisfying. To finish quickly I propose:
We take the v_level of WEC as given in the original dataset as suggested by you and use our allocation table for the rest.
Ok?

[2017-03-06 16:14] IlkaCu commented on #48
Then I apply our allocation table for all technologies except for wind. In the case of wind_onshore I would keep the 'original' voltage level from the power plant list, except for those plants assigned to a voltage_level higher than the one suggested by the allocation table.

[2017-03-06 17:30] Ludee commented on #35
Yes, that's why we have it.
I have a shortcut for it: Use "notepad++" or a similar text editor. Open a session with all scripts [(eGo_dataprocessing_session.txt)](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/eGo_dataprocessing_session.txt). Search and replace "v0.x" in all files.

[2017-03-07 08:28] ulfmueller commented on #35
I am right now at 'peak_load_per_load_area.py' (just checked out the refactor branch of ego.io for that)...

@Ludee
Are the following scripts  'ego_mv_griddistrict_results.sql' and 'ego_paper_result.sql' only relevant for the 'load area paper'?  Shall I skip them?

[2017-03-07 08:38] IlkaCu commented on #58
Thanks for listing these open issues - most of them were already on my personal to-do list.
But I do not see a problem in overwriting columns in the processed power plant lists as we keep the original tables in the supply schema, which enables comparisons.

[2017-03-07 09:40] ulfmueller commented on #35
The following scripts are not part of the bpmn (at least I cant find them). How long do they take? Are they relevant for the process?
- 'peak_load_per_load_area.py' (right now running for 1,5 h)
- 'ego_mv_griddistrict_results.sql'
- 'ego_paper_result.sql'

[2017-03-07 09:42] IlkaCu commented on #58
I am aware that the tables supply.ego_renewable_powerplant and supply.ego_conventional_powerplant are no 'original data', that's why we name them 'supply.ego_'- but they are our input data. We don't want to give them an 'opsd-name' as they are no officially released data by the OPSD project. The lists in their current configuration were created by wolfbunke.

[2017-03-07 09:52] ulfmueller commented on #35
I just found 'peak_load_per_load_area.py' in the bpmn at a different position at the end of the powerflow part (supposed to take 10 h). Do you agree if I stop that execution and skip it because it seems it can be executed later...?

[2017-03-07 10:19] Ludee commented on #35
'ego_paper_result.sql' contains results for the paper.
'ego_mv_griddistrict_results.sql' calculates a lot of stuff for the MV Griddistricts.

[2017-03-07 10:22] Ludee commented on #35
'peak_load_per_load_area.py' was written by @gplssm and has been optimised by @nesnoj (from 20h to 10h)

[2017-03-07 10:23] ulfmueller commented on #35
I just talked to @gplssm and @nesnoj . I will execute peak_load_per_load_area.py later in the process and use the night for that.

[2017-03-07 11:01] Ludee commented on #58
It is not a real problem, but it is somehow not clean. You end up with two different columns that have the same name but contain different information. I would always prefer and suggest the **column_new**.

[2017-03-07 12:16] Ludee commented on #58
I have the open issue #57 where I have to adapt the REA to the new RES table.
Since it uses the voltage levels I will include some new columns to the model_draft table.
They will we all called **rea_** something. Hope it makes no problems on your side!

[2017-03-07 12:21] IlkaCu commented on #58
ok

[2017-03-07 12:38] Ludee commented on #55
To not mix up the current run and debugging, I will postpone it.

[2017-03-07 12:39] Ludee commented on #57
Included the REA into **model_draft.ego_supply_res_powerplant**
Test have to be done to close this issue.

[2017-03-07 12:49] Ludee commented on #58
So this is a good example for PREPROCESSING. I'm not sure how we handle this in open_eGo?
It plays an important part when looking at reproducibility. I will make it an open issue for v0.3!

[2017-03-07 12:56] Ludee opened #59 "Place and style of data preprocessing"
Preprocessing describes everything that is not included in the dataprocessing.
Main tasks are download, unzip, convert, combine, filter, import into oedb and setup (rights, metadata, etc)

Since this plays an important role for the reproducibility of the process we need a concept for it.
The perfect solution would be some sort of script that does that (semi)-automated but for most imports it is no

[2017-03-07 12:58] Ludee commented on #51
Please delete or move the outdated table:
- [ ] supply.ego_renewable_power_plants_germany

Also remove the columns subst_id, otg_id and un_id from supply.ego_res_powerplant.
I think they don't belong in the "original" table.

[2017-03-07 17:37] ulfmueller commented on #35
a short update: the dp is at 'assignment_generator_bus.sql'

[2017-03-09 09:28] #48 closed

[2017-03-09 10:15] IlkaCu opened #60 "Include source 'offshore_wind'"
In repassG!S 'offshore_wind' is treated as a seperate source, which needs to be adapted in the dataprocessing.

[2017-03-09 10:33] IlkaCu opened #61 "Deal with source 'chp' in power plant registries 2035/2050"
The power plant registries of future scenarios include power plants with generation_type='chp', which is not represented in the powerflow sources. A procedure to assign these chp plants to the existing sources needs to be developed.

[2017-03-09 10:41] IlkaCu commented on #55
I noticed that the weatherpoint voronoi is still used in the dataprocessing. For v0.2 the script _ego_dp_powerflow_voronoi_weatherpoint.sql_ should stay in the dataprocessing. Before the release of v0.3 I will adjust the dataprocessing and remove it.

[2017-03-09 13:15] nesnoj commented on #54
They are omitted according to last webco.

[2017-03-09 13:15] #54 closed

[2017-03-09 14:05] IlkaCu commented on #41
After re-running the demand allocation I found 93142 loadareas without any assigned consumption.
I checked the data and noticed that these loadareas do not have a population neither they have entries for _sector_area_retail_, _sector_area_industrial_ or _sector_area_agricultural_ - which is essential to achieve a consumption > 0 for these load areas.

[2017-03-09 17:22] Ludee commented on #41
Very interesting analyse! Thanks

So we have OSM landuse residential but no registered population from census 2011 in it.
Did you do some sample checks with satellite images?

Guesses:
There are too many LA to be only new houses built after 2011 (Neubaugebiete).

[2017-03-10 08:18] wolfbunke commented on #61
For the beginning we use gas as fuel (generation_typ) and chp as subtype. Next week I like to show you my ideas so that we can decide on this.

[2017-03-10 12:24] Ludee commented on #58
Status?

[2017-03-10 12:25] Ludee commented on #38
Status?

[2017-03-10 12:26] Ludee commented on #35
Is it finished now? Are you available for some minor tasks today?

[2017-03-10 12:27] Ludee commented on #45
BPMN of the REA has been updated in _dev_

[2017-03-10 12:27] #45 closed

[2017-03-10 12:27] Ludee commented on #51
Status?

[2017-03-10 12:30] Ludee commented on #52
I integrated the REA part in **model_draft.ego_supply_res_powerplant**
So the table **model_draft.ego_supply_rea** will not be used anymore.
The **la_id** will be created in the next run. I will leave this issue open until it's done.

[2017-03-10 12:30] Ludee commented on #53
No more feedback. Done

[2017-03-10 12:30] #53 closed

[2017-03-10 12:37] ulfmueller commented on #35
It finished excluding the LV scripts yesterday late afternoon BUT in the powerflow part occurred some problems concerning the neighboring states and ther generation time series. That is one task right now.
Also we added scripts to add the NEP2035 scenario - those are still running including debugging.

Due to personal reasons I have to quit working at around 2-3 pm, and I still have plenty of task

[2017-03-10 12:47] Ludee commented on #35
I will make some clean-ups today. Add metadata to used tables and drop old ones.
I already saw some table without grant to oeuser. Since you executed, I fear I will get stuck at some point without your grants.

[2017-03-10 13:12] IlkaCu commented on #35
We updated the owner for tables _model_draft.ego_demand_pf_load_single_ and _model_draft.ego_grid_hv_electrical_neighbours_transformer_

[2017-03-10 13:27] IlkaCu commented on #35
Concerning Ludee's e-mail and the status of the clean-run:
As ulfmueller already mentioned we are still working on some issues which need to be solved before the v0.2 release. Unfortunately we won't be able to finish this today, but during the last days we already put much effort into debugging the dp, which will make the next clean run much easier. I hope we will be able to solve the open issues

[2017-03-10 13:28] Ludee commented on #35
I still have the versioning tables on my list.
These are used to store the final results of an released run in the _notdraft_ schemas.

`ALTER TABLE	grid.ego_hvmv_substation OWNER TO oeuser;
ALTER TABLE	grid.ego_mv_griddistrict OWNER TO oeuser;
ALTER TABLE	demand.ego_loadarea OWNER TO oeuser;
`

[2017-03-10 13:35] Ludee commented on #35
Then I will start to finally remove the old orig_ schemas and unused calc_ tables I created.
The scenario log helps to find tables without metadata. I'm not sure how to deal with metadata for temp tables. Most temp tables can be dropped after validation so the effort to complete metadata is to big.
Perhaps I can find a suitable solution for that.

[2017-03-10 15:01] Ludee opened #62 "Copyleft information in README"
Add an template and explanation to the README file.
Should contain a short summary of the rights and obligations of the license and how we want to be cited.

[2017-03-10 17:52] Ludee commented on #55
All snippets renamed. Done

[2017-03-10 17:52] #55 closed

[2017-03-10 17:54] #38 closed

[2017-03-13 10:01] Ludee opened #63 "Demand data from primary sources"
A colleague is using the demand data for a local project in "Sachsen-Anhalt".
She checked the demand.ego_demand_per_federalstate table and thinks the value "elec_consumption_tertiary_sector" is too high (7182 in table/ ca. 2000 from her source)

@elisagaudchau

[2017-03-13 10:04] elisagaudchau commented on #63
i think maybe its the value in Terajoule and not converted in GWh like the others...

[2017-03-13 10:42] IlkaCu commented on #63
You are right! Thanks for revealing it. I will fix this immediately and check the other values once again.
The statistical office of Sachsen-Anhalt gives a value of 1995 million kWh for the tertiary sector.

[2017-03-13 16:51] Ludee commented on #57
REA execution completed

[2017-03-13 16:51] #57 closed

[2017-03-13 16:52] Ludee commented on #52
Done

[2017-03-14 08:22] Ludee commented on #55
For documentation:

git mv ego_scenario_log_setup.sql ego_dp_structure_scenariolog.sql
git mv ego_boundaries_vg250_setup.sql ego_dp_structure_boundaries_vg250.sql
git mv analyse_osm_landuse.sql ego_dp_structure_osm_landuse.sql

git mv get_substations.sql ego_dp_substation_hvmv.sql
git mv get_substations_ehv.sql ego_dp_substation_ehv.sql
git mv otg_id_to_substations.sql ego_dp_substation_otg.sql
gi

[2017-03-14 16:14] Ludee opened #64 "Move or drop tables and schemas from old structure"
With the release of eGoDP v0.2 we are ready to clean up the oedb.
This [query](https://github.com/openego/data_processing/blob/dev/dataprocessing/tools/select_my_tables.sql) gives you all objects that you own.

The following query shows all owner not owned by oeuser.

`
-- tables with personal owner
SELECT t.table_schema,t.table_name, t.table_type, c.relname, c.relowner, u.usename
FROM information

[2017-03-14 17:18] Ludee commented on #64
I'm mostly done with the tables that I own.
I will continue with tables I imported.

[2017-03-16 10:23] Ludee opened #65 "Concept for using names and aliases"
I want to extract the topic of using names and aliases in the overall concept from #23.
Since nearly all modules of the OEP are connected, using of names and aliases should be harmonised.
I will display all modules and their connections and try to work out a simple concept.

**modules**
- GitHub
- Author in code
- Name in metadata
- oedb database role
- openmod wiki
- openmod forum
- OEP Interface

[2017-03-16 10:23] Ludee commented on #23
The lawyer suggested to add the license to the sources in the metadata.
see commit f38e327b1bf8dd6461c7ef1a2d01deda6b63573d

The question of using names is in a new issue  #65

[2017-03-20 12:20] IlkaCu commented on #41
It seems to be a bug in the generation of load areas. For the yellow load areas with sector_consumption_sum = 0 in table _model_draft.ego_demand_loadarea_ zensus_sum is NULL, but the view _social.destatis_zensus_population_per_ha_mview_ reveals a population >0 for the same area. Any suggestions how this happened?
![bildschirmfoto vom 2017-03-20 13 09 58](https://cloud.githubusercontent.com/assets/

[2017-03-20 12:37] IlkaCu commented on #41
An addition:
sum(zensus_sum) in _model_draft.ego_demand_loadarea_: 65,297,049
sum(population) in  _social.destatis_zensus_population_per_ha_mview_: 80,324,282

[2017-03-20 13:03] #51 closed

[2017-03-20 13:17] IlkaCu commented on #62
Who works on this?

[2017-03-20 14:53] IlkaCu commented on #58
For the release v0.2 I would treat the supply.ego_ tables as input tables and discuss the detailed design of the preprocessing in #59.
Furthermore from my point of view it is reasonable to overwrite columns in tables of the model_draft as long as we have a table with the 'original' data in the supply schema, which also ensures the reproducibility.

[2017-03-20 15:08] IlkaCu commented on #35
I would like to set a new deadline for the release of v0.2. What do you think about starting the clean-run on Friday 24.03?
@Ludee: How about issue #41, do you want to solve this before the release of v0.2? If yes, is Friday realistic then?

[2017-03-20 15:32] Ludee commented on #35
First part is already solved. The census population had a bug I didn't see. Thanks

[2017-03-20 17:05] Ludee commented on #47
I started the restructuring and adapting of tested methods from the MV part to the LV part.

[2017-03-21 10:31] nesnoj commented on #39
This is definitely a problem for dingo. About 6% of MVGDs are affected according to @Ludee.
We prefer to leave the current GD script as it is and treat the buggy MVGDs afterwards.
This issue can be solved in different ways, e.g.:

1. Allocate (union) affected MVGD x to the MVGD which is located next to the centroid of x (preferred method since it is relatively simple to implement)
2. Allocate (uni

[2017-03-21 12:09] Ludee opened #66 "hvmv substations with conspicuousness"
While reviewing the LV level we run into errors.
Some can be tracked down to MV griddistricts without loadareas.
They are no bugs but somehow abnormalities. I will try to collect and document them here as a basis for further discussions.

[2017-03-21 12:13] Ludee commented on #66
MV griddistrict 1328
observations: without loadarea; very close substations (660m)
![mvgd_1328_1](https://cloud.githubusercontent.com/assets/14353512/24146896/134c3546-0e38-11e7-8e78-68938fbe29aa.png)
![mvgd_1328_2](https://cloud.githubusercontent.com/assets/14353512/24146899/155be17e-0e38-11e7-9a68-bbdd40547561.png)

[2017-03-21 12:16] Ludee commented on #66
MV griddistrict 700
observations: only one small loadarea; close substations (1km); substations of hydro station
![mvgd_700_1](https://cloud.githubusercontent.com/assets/14353512/24146998/8982e912-0e38-11e7-81aa-94ca9c4dba1d.png)
![mvgd_700_2](https://cloud.githubusercontent.com/assets/14353512/24146999/8aec14ae-0e38-11e7-8073-a8fd269d3e1d.png)

[2017-03-21 12:24] lukasol commented on #66
Thanks for the documentation. These occurrences are however no abnormality with regard to the substations. Substations being close to each other are only merged if d < 150 m. This boundary has been discussed with the project team at our meeting last May. The possible case of GD without LA was also part of the discussion, I think.
I don't expect that we can completely eliminate GD without LAs.

[2017-03-21 13:13] Ludee commented on #66
I know and understand the discussions with the project team.
I want to document these special cases because they give me fatal errors in the LV level.
These two above could be debugged in the method.
As we wrote we heavily depend on OSM, we can still identify and discuss obvious cases.

I actually only found one MV griddistrict with no loadarea at all.
See next comment.

[2017-03-21 13:16] Ludee commented on #66
MV griddistrict 2819
observations: only three very small loadarea fragments; close substations (700m); substation on field!
![mvgd_2819_1](https://cloud.githubusercontent.com/assets/14353512/24148874/eb8ae13e-0e40-11e7-82da-e3e3342685b8.png)
![mvgd_2819_2](https://cloud.githubusercontent.com/assets/14353512/24148877/ed153676-0e40-11e7-84f0-d0fe6a7917f2.png)

[2017-03-21 13:40] lukasol commented on #35
In a conference call we just settled on this process: @Ludee starts clean-run of v0.2 on Thursday, 23.3. and "hands over" the process at some point to @ulfmueller and @IlkaCu who can proceed on Friday, 24.3.

For a smooth process, please make sure that the open issues referenced to this milestone are closed or moved to another milestone by Thursday.

[2017-03-22 14:49] Ludee commented on #39
There is now a table **model_draft.ego_grid_mv_griddistrict_new** with less multipolygons.
The number is reduced from 268 (7,4%) to only 116 (3,2%) of which most are "real" islands.
Only two fragments are no islands but too crazy to be eliminated.

![mvgd_multibug_1](https://cloud.githubusercontent.com/assets/14353512/24203807/03fbd724-0f17-11e7-90de-23feb9786ebf.png)
![mvgd_multibug_2](https://cl

[2017-03-22 14:50] Ludee commented on #41
Did you run the consumption part again? @IlkaCu

[2017-03-22 15:19] IlkaCu commented on #41
After your bugfix two days ago I didn't run the consumption part again. Was that the answer to your question?

[2017-03-22 22:55] nesnoj commented on #39
yea!

[2017-03-22 22:57] nesnoj commented on #52
not yet :)
(LVGD != LA)

[2017-03-23 09:09] Ludee commented on #52
ok, it's on my list

[2017-03-23 13:46] MGlauer commented on #11
There is still a bug in your output:

[code]
Traces should be a complete path of execution and not moving back and forth. It should be:
[code]

[2017-03-23 14:38] Ludee commented on #41
OK, then it will be executed on the new run tomorrow.

[2017-03-23 14:40] Ludee commented on #58
I can live with that.

[2017-03-23 14:40] #58 closed

[2017-03-23 15:34] #41 closed

[2017-03-23 16:10] #52 closed

[2017-03-23 16:10] #39 closed

[2017-03-24 09:50] IlkaCu commented on #35
@Ludee: You didn't open a release branch for the current clean-run, right?
From our point of view using a release branch as described by _Driessen_ would be helpful avoiding any parallel work on the dev branch to compromise our release. Unfortunately we forgot to explicitly mention this after the last conference call.
We would suggest to create this release branch even though the clean-run already

[2017-03-24 12:24] Ludee commented on #35
That makes sense. The scripts are running now and I'm working on the improvement of the LV part in dev now.
I suggest to open the release branch later today, when I have time to checkout.

[2017-03-24 14:01] Ludee commented on #35
The scripts went until _ego_dp_powerflow_griddistrict_demand.py_
I have an package issue there.
I will now continue with the LV part and then the REA

[2017-03-24 16:17] Ludee opened #67 "versioning of important tables"
The key tables are copied into the OEP-schemas with a version number:

**key**
original table
ORM
versioning table

**Substation**
model_draft.ego_grid_ehv_substation
**ORM???**
grid.ego_dp_ehv_substation

model_draft.ego_grid_hvmv_substation
EgoGridHvmvSubstation
grid.ego_dp_hvmv_substation

model_draft.ego_grid_mvlv_substation
EgoGridMvlvSubstation
grid.ego_dp_mvlv_substation

**Catchment Area**

[2017-03-24 22:14] Ludee commented on #67
Attention for LV GD name!

[2017-03-25 04:09] Ludee commented on #67
Attention EHV GD has SRID 4326 not 3035 as the rest

[2017-03-25 04:09] Ludee commented on #67
versioning completed

[2017-03-26 23:29] nesnoj opened #68 "No LVGD created for border LA"
Some LA do not have LVGD(s), e.g. this one which is cut by a MVGD border:

![lvgd_bug1](https://cloud.githubusercontent.com/assets/15910173/24336048/ec90c836-1288-11e7-86dd-d2ebd657855b.png)

top: la_id=63655 (1 LVGD)
bottom: la_id=10302 (no LVGD)

I'm not sure how many are affected. I've built a workaround in Dingo, so don't rush..

[2017-03-27 11:51] IlkaCu opened #69 "Generators with p_nom=0 in model_draft.ego_grid_pf_hv_generator"
Generators with p_nom=0 appear in table model_draft.ego_grid_pf_hv_generator. These generators are currently deleted in snippet ego_dp_powerflow_lopf_data.sql. This should happen earlier in the process.

[2017-03-27 12:22] ulfmueller commented on #35
All powerflow scripts successfully finished. As I am informed the v0.2.6 run in complete. (Though, I haven't checked the data yet...)
So the code can be released to the master branch. Apparently there was/is no release branch. Therefore I would suggest to release right away from the dev and do that immediately in order to have a clean release! Anyone who wants to do this or already had this task o

[2017-03-27 12:43] Ludee commented on #35
Please have a look at #67 . Data is already checked and released ;)

Since I don't know how to release the version, @gplssm will teach me later this day. I still have to commit in the Master branch I have to look at.

[2017-03-27 13:03] ulfmueller commented on #67
@Ludee : Is there a standard procedure for the copying? Do you have a sql scripts which inserts the version column to the tables?

[2017-03-27 13:06] ulfmueller commented on #67
The OEP needs to do this task and we need a way to activate the "revisions"!

@MGlauer : How do we 'activate the revisions'?
I particularly have already precedent case where I would to add two versions of datasets to the grid schema. So the older one should be part of the 'revisions'...

[2017-03-27 13:08] wolfbunke opened #70 "CHP fuel / generation types"
At the moment we have a random allocation of chp sizes and fuels types which is not really realistic e.g lignite 7KW unite.

ToDo:

- [ ] make a category list of fuels and size
- [ ] integrate list in allocation script

Script:
https://github.com/openego/data_processing/tree/feature/res-allo-future/calc_geo_powerplants/distribution_chp_plants_nep2035

[2017-03-27 13:14] ulfmueller commented on #35
nice and thx!

[2017-03-27 13:18] IlkaCu commented on #70
As a temporary solution we defined all small chp plants to have fuel_type='gas'.

[2017-03-27 13:25] Ludee commented on #67
There are two new SQL:
1. create the tables as copy of the table with addition column **version**
-> https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_structure_versioning.sql
2. copy data from model_draft to tables and fill version number

This is the SQL way without proper revision. We will try to do this using the new API.

[2017-03-28 15:31] Ludee commented on #23
we forgot the copyright in source and license. New version v1.3

[2017-03-29 11:22] MGlauer commented on #11
Testing with `double_parallel.graphml` yielded the following output:

Task :  Init
Parallel execution option 1: {Gateway n2 - }
Parallel execution option 1: {ParallelDownA - ParallelUpA - }
Parallel execution option 1: {ParallelDownB - ParallelUpA - }
Parallel execution option 1: {ParallelDownB - Gateway n9 - }
Parallel execution option 1: {ParallelDownB - ParallelUpAA - ParallelDownAA - }
Paralle

[2017-03-29 11:29] apoorva-ovgu commented on #11
Hello,
I don't quite understand what you mean. Could you please explain this?

On Mar 29, 2017 1:22 PM, "Martin Glauer" <notifications@github.com> wrote:

[2017-03-29 12:07] MGlauer commented on #11
I just wrote a [script](https://github.com/openego/data_processing/blob/draftBranch/gmlparsing/test/double_parallel.py) that prints all traces for double_parallel.graphml. Please compare the results to yours.

[2017-03-29 12:12] MGlauer commented on #11
The problem seems to be that once you enter the branch following `ParallelUpA` only steps in this branch are considered. The branch including `ParallelDownA` seems to remain stale the former branch is finished. This is not a parallel behavior.

[2017-04-04 11:29] IlkaCu commented on #35
@Ludee: What's the current status of the release v0.2?
If there are any tasks for others to do, please let us know.

[2017-04-04 11:52] Ludee commented on #35
Since @gplssm was busy finishing the DINGO paper we didn't find time to do the release yet.
There are some minor tasks I have in mind that you can resume:

- [ ] Is the versioning of the resulting data adequate?
Right tables? Right format? Metadata/License?
- [ ] Industry consumers (LSC) are not included in the versioning yet.
How do we handle them? Include them in the **loadarea** table or leave

[2017-04-04 13:05] gplssm commented on #35
We talked about this in the _Schnittstellen-Telko_. Here are our conclusions
In short: For the Release v0.2.6 we only to small fixes, no structural or content related changes.

- Is the versioning of the resulting data adequate? Right tables? Right format? Metadata/License? -> Ilka is on it!
- Industry consumers (LSC) are not included in the versioning yet. How do we handle them? Include them in t

[2017-04-05 10:04] ulfmueller opened #71 "centralize version numbering"
When executing a new run of data processing the version number has to be changed in all scripts several times.
I would suggest to develop a more object-oriented, less decentralized, leaner approach.
Why not enter the version number (logging function) only in the executing file https://github.com/openego/data_processing/blob/dev/dataprocessing/eGo_data_processing.py ?

The only thing which would be

[2017-04-06 12:37] Ludee commented on #35
@IlkaCu Please check the two points when they are done. Please give me a call!

[2017-04-06 13:48] Ludee commented on #62
@EdithaK
@ulfmueller
@lukasol
please confirm my commit and close issue

[2017-04-06 14:53] Ludee commented on #62
https://github.com/openego/data_processing/blob/release/v0.2.6/README.md

[2017-04-06 14:54] Ludee commented on #35
start run with new version

[2017-04-06 15:02] lukasol commented on #62
Just corrected some typos, I'm ok with that now.

[2017-04-06 16:04] Ludee opened #72 "numeric vs. double precision"
As you know, we found out that **numeric** is a data type with unknown precision.
Small numbers are rounded and can lead to unexpected errors.
The current version uses it a lot.  see:
https://github.com/openego/data_processing/search?utf8=%E2%9C%93&q=numeric&type=

The internet says to use **double precision**.

It leads to changing the definitions in ego.io!

[2017-04-10 08:48] Ludee opened #73 "vital bug in model_draft.ego_supply_res_powerplant"
Bug still there and DP not completed!

https://github.com/openego/data_processing/blob/release/v0.2.6/dataprocessing/sql_snippets/ego_dp_preprocessing_res_powerplant.sql#L14-L17

Still not possible to release and frustration-index is increasing further!

[2017-04-10 09:23] IlkaCu commented on #73
What's the exact problem here?
As this is one of our preprocessing scripts, it doesn't have to run every time we are starting the clean-run. Nevertheless we should consider whether the division between pre-processing and data processing in its current configuration is viable or not - but this discussion should be postponed this to v0.3.

[2017-04-10 11:27] Ludee commented on #73
I think all scripts that are included in the .py execution file are part of the DP.
You are right that it doesn't has to be executed every time (every version), but for a release it must be executed! We decided to release so I included all scripts. And this one is not working.
We should not release code that is not working.
@nesnoj said the transformation of the data type (from varchar to int) was

[2017-04-10 11:52] s3pp opened #74 "Shortest path assignment"
As can be seen in the image below there are hv - buses (circles) that seem not to be allocated to the next substation (squares). All hv - buses are coloured based on the nearest substation. Beige-coloured buses are allocated to the southern substation, blue - coloured buses to the northern substation. It seems that the nearest substation for some hv - buses coloured in beige should be the northern

[2017-04-10 12:27] lukasol commented on #74
You're right, that looks odd.
Can you provide some more info, e.g. IDs of the buses and the dataset you used?

The connection of buses to lines they are "on" with the same voltage is normally ensured with a specific function, but I can check this particular case. Are there more occurrences like this?

[2017-04-10 12:46] s3pp commented on #74
Of course, sry, the bus_id of the most relevant bus is 10227. The underlying line connects 9899, 23943. The dataset was exported from the db on the 29.03., maybe something was going on during that time, haven't thought about that error source until now.

[2017-04-10 12:49] s3pp commented on #74
Regarding, whether or not there are more occurrences, I will have a look at it again.

[2017-04-10 13:10] lukasol commented on #74
I assume you do not distinguish the type of the HV bus, right?

In our grid model, there are substations (identified as such if there is substation_id) and joints. The latter are basically just nodes connecting lines, but there are no generators or loads connect to them. Thus, I would think that the connection of these joints to the closest EHV-substation is not really relevant.

Let's also ask @u

[2017-04-10 14:09] s3pp commented on #74
You're right, the distinction between substations and joints is not made. However, on a side note, I preselected those HV - buses, that are part of the grid, connected by lines. Only for those buses the algorithm is executed. I agree that it is not an issue if only joints are concerned. Looking through the data I did not find something similar.

[2017-04-11 09:05] IlkaCu commented on #73
I solved the issue by replacing all percentage signs within the code: 9235b791f9a257f189a19e80d9f3216defc157f1

[2017-04-11 09:29] Ludee commented on #73
confirmed bugfix for the script, thank you!

What's about the data type of the column "voltage_level".
I think it's still a varchar. Do we need it as a int? @nesnoj @IlkaCu

[2017-04-11 09:31] ulfmueller commented on #74
Certainly joints are not relevant for the aggregation and can be neglected (might improve calculation time substantially?!). But that does not tackle this problem, right?

Anyhow, the shortest path algorithm seems to work fine in this case (here maybe the shortest direct distance would be cynically better) and the underlying logic makes sense. This is an issue about data quality  (and/or abstracti

[2017-04-11 09:42] Ludee commented on #73
`SELECT 	voltage_level
FROM	model_draft.ego_supply_res_powerplant
GROUP BY voltage_level`

"04 (HS/MS)"
""
"03 (HS)"
"5"
"07 (NS)"
"3"
"7"
"02 (HöS/HS)"
"1"
"01 (HöS)"
"6"
"4"
"05 (MS)"
"06 (MS/NS)"

Unable to change due to mixed entries!

'ego_dp_powerflow_assignment_generator.sql',
operator does not exist: character varying >= integer
LINE 273:   AND voltage_level >= 3;

[2017-04-11 10:13] IlkaCu commented on #73
I'll take care of it!

[2017-04-11 11:04] Ludee commented on #73
my suggestion is to copy the text (04 (HS/MS)) to a column named **voltage_level_var** _varchar_ and take the **voltage_level** _int_ for the update.

[2017-04-11 14:35] IlkaCu commented on #73
I adjusted the script according to @Ludee's suggestions

[2017-04-12 08:40] lukasol commented on #35
@Ludee what's the status of the dp release run?

[2017-04-13 08:04] Ludee commented on #73
confirmed successful bugfix! Thank you very much @IlkaCu

One side questions remains. What about RES without voltage info (voltage_level = NULL)?
`SELECT	voltage_level, generation_type, generation_subtype, count(*) AS cnt
FROM 	model_draft.ego_supply_res_powerplant
WHERE voltage_level IS NULL
GROUP BY	voltage_level,generation_type, generation_subtype
ORDER BY voltage_level;`

result:
**generation_

[2017-04-13 08:13] Ludee commented on #71
The main problem is that is difficult (I could not find a solution) to pass a variable (version number) from one file to a SQL file.
Because I work with notepadd++, I also track a "session" (eGo_dataprocessing_session.txt) with all files. Then it is only one search and replace in all files. It is not perfect but at least we have a working versioning system now.
Please feel free to improve this con

[2017-04-13 08:49] Ludee commented on #67
I'm not sure about the versioning of the **powerplant** tables.
The "original" tables are
supply.ego_conventional_powerplant
supply.ego_renewable_powerplant

The eGoDP tables are
model_draft.ego_supply_conv_powerplant
model_draft.ego_supply_res_powerplant

The versioning tables can be
**supply.ego_dp_conv_powerplant
supply.ego_dp_res_powerplant**

What do you think? @ulfmueller @IlkaCu @gplssm @ne

[2017-04-13 09:05] Ludee commented on #47
Can you please close this issue when you are done with the BPMN @gplssm

[2017-04-13 09:11] IlkaCu commented on #73
I made two adjustments in the script, which should solve this issue.
It seems that this bug sneaked in during the last adjustment of the comparison operators.

[2017-04-13 09:38] Ludee opened #75 "Dupplicate ID in LVGD"
the serial "id" is PK of the table **model_draft.ego_grid_lv_griddistrict** because **mvlv_subst_id** has double entries.

`select * from (
  SELECT id,mvlv_subst_id,
  ROW_NUMBER() OVER(PARTITION BY mvlv_subst_id ORDER BY id asc) AS row_cnt
  FROM model_draft.ego_grid_lv_griddistrict
) dups
where
dups.row_cnt > 1`

result:
id,mvlv_subst_id,subst_id,row_cnt
494892;134778;3251;2
408407;158061;1639;

[2017-04-13 10:03] Ludee commented on #73
problem with NULL was solved by @IlkaCu
Restart REA now

[2017-04-13 10:03] #73 closed

[2017-04-13 10:04] gplssm opened #76 "Replace ego_dp_loadarea_peakload.py by SQL script"
Implement calculation of peak loads for Load Areas similar to https://github.com/openego/data_processing/blob/65ef25e1ea1407745477e3a2212cca26c187c94f/dataprocessing/sql_snippets/ego_dp_lv_consumption_peakload.sql

The intended SQL script that calculates peak loads for LAs then updates directly the table _model_draft.ego_demand_loadarea_.

[2017-04-13 10:04] ulfmueller commented on #35
@Ludee if I interpret the situation right the dp was executed until "ego_dp_powerflow_assignment_generator.sql" and now you are troubled with the preprocessing.
Should I execute the remaining powerflow scripts in the meantime?

[2017-04-13 10:10] gplssm opened #77 "Merge power plant tables"
Currently, 4 power plant tables in the schema supply exist. These can be reduced to only 2 tables. Therefore, 3 processing steps based on the original OPSD power plant table(s) have to combined.

1. @wolfbunke Does some manipulation of the OPSD table in the preprocessing
2. @IlkaCu Adds voltage levels for each generation unit
3. @Ludee Does allocation of generation units

Edit these scripts such t

[2017-04-13 11:09] gplssm commented on #67
We agreed on the proposed names of new tables in versioned schemas

[2017-04-13 11:19] Ludee commented on #35
I would suggest to execute the powerflow scripts later.
Since some tables are blocked from REA, they cannot finish anyway.

After REA, we test the updated versioning and then finish the powerflow part.
How is the versioning of your tables? Please contribute to #67

[2017-04-13 14:14] Ludee commented on #67
Versioning erfolgreich abgeschlossen!

![grafik](https://cloud.githubusercontent.com/assets/14353512/25008517/43fb44f0-2064-11e7-879e-1587edfa036c.png)

[2017-04-13 14:18] Ludee commented on #35
entire PF is running now

[2017-04-13 14:27] Ludee commented on #35
Stopped at ego_dp_powerflow_assignment_generator_nep2035.sql
you can continue now!

[2017-04-18 12:13] s3pp commented on #74
Thanks for your feedback @ulfmueller, @lukasol! I added the proposed validation method to our nice-to-have topics. For the moment I leave it that way then.

[2017-04-18 12:13] #74 closed

[2017-04-18 12:33] s3pp opened #78 "eHV subnetworks"
Working with the networkclustering PyPSA always determines eight subnetworks for a clustered ehv - network. (Based on 'Status Quo' data used for the article.) Seven of those subnetworks consist of 6 or less buses. Those subnetworks render the problem infeasible. How should I handle this?

e.g.
[code]
![20170416_ehvsubnetwork](https://cloud.githubusercontent.com/assets/10025949/25130515/b7922082-24

[2017-04-19 07:31] ulfmueller commented on #78
that are very interesting findings!
I assume all transformers 380-220 are included. Get you check which voltage level those subnetworks are in? 220 or 380 or both?
Including the transformer the whole system should be one. So these cases seem to be significant routing bugs probably due to faulty/difficult osm information. I suppose we should try to understand these cases and connect them to the mai

[2017-04-19 11:45] ulfmueller commented on #78
but in the meantime I would kick out these small subnetworks in order to test your methodology (just as an interim solution). @ilkacu has some scripts for that procedure...
How many buses does the subgrid contain, which has more than 7 buses?

[2017-04-19 12:44] IlkaCu commented on #78
[Here](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_scenario_SH_status_quo.sql#L175-L247) you find the SQL code I'm usually using to delete subgrids. Obviously the substation-IDs and the scenario names need to be adjusted.

[2017-04-19 13:06] ulfmueller opened #79 "x r values are being inverted"
r is written as x  [here](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_powerflow_osmtgmod_to_pypsa.sql#L28-L35) and vice versa.

[2017-04-19 13:30] #79 closed

[2017-04-24 08:59] ulfmueller opened #80 "Sweden without load and generation"
in the latest complete dataset there is no load and generation in Sweden. Do you know where that comes from @s3pp ?

[2017-04-24 09:32] IlkaCu opened #81 "Wrong data in model_draft.ego_supply_res_powerplant"
The current data in table model_draft.ego_supply_res_powerplant contain some bugs in voltage_level and generation_subtype.
I tested the [preprocessing code](https://github.com/openego/data_processing/blob/release/v0.2.6/dataprocessing/sql_snippets/ego_dp_preprocessing_res_powerplant.sql) locally and this script does not create the faulty entries.
An example is the re-generator with id=1559782 whic

[2017-04-24 10:03] nesnoj commented on #81
Not sure about this. Currently there's a bug in the REA allocation but as far as I know no changes are made regarding these 2 columns - right, @Ludee?
Concerning your question via mail: I think `model_draft.ego_supply_rea` is obsolete, we use the geoms from `model_draft.ego_supply_res_powerplant`. Due to the bug mentioned above there're no geoms available. @Ludee is aware of it.

[2017-04-24 10:06] nesnoj opened #82 "RES allocation fails"
Currently `model_draft.ego_supply_res_powerplant` has got no geoms as already reported via mail.

[2017-04-24 10:14] nesnoj commented on #70
General remark: If you use random functions, make sure you consider reproducibility. E.g. in python using a [predefined seed](https://docs.python.org/3/library/random.html#notes-on-reproducibility).

[2017-04-24 13:43] IlkaCu commented on #82
The assignment of generators to buses relies on the RES allocation as around 3400 RES generators are located outside the area covered by grid districts.
So we wonder when you are going to work on this bugfix? We need to decide whether to wait for it or continue the dp excluding this power plants.

[2017-04-24 14:02] Ludee commented on #82
In the REA script setup the ones without MVGD are assigned with a NN.
https://github.com/openego/data_processing/blob/release/v0.2.6/dataprocessing/renewable_energy_allocation/ego_dp_rea_setup.sql#L122-L215
Of course it should be executed before the PF part.

[2017-04-24 14:23] lukasol commented on #78
The example above is a quite well-known structure in Berlin. In osmTGmod we connected it to the 110 kV grid.
Note: None of the buses in the example is a "proper" eHV substation. They are either joints or are of voltage 110 kV. I'm wondering why they pop up here?!

@s3pp can you also put the other cases here? I would then compare those to the ones deleted in SciGRID.

[2017-04-24 14:40] ulfmueller commented on #78
Do I understand you right? In osmTGmod those buses (bus_id in (1127,1128,1132,23838,24743,24899)) are of 110kV? Because after the dp they are definitely 380kV.

[2017-04-24 14:40] IlkaCu commented on #82
Still I would like to know about your time schedule concerning this bugfix. Just for our own plannings.

[2017-04-24 14:42] s3pp commented on #78
Other subnetworks
1127, 1128, 1132, 23838, 24743, 24899
23561, 23574, 26088, 27149, 27330
23795, 26595, 7677
24504, 26179
25533, 25536, 28431
25562, 25564
26299

[2017-04-24 15:09] lukasol commented on #78
Yes, they are also in osmTGmod 380 kV, but not in OSM. So they must have been assigned to 380 at some point in the abstraction. I'll go hunting, you can guess my mood.

[2017-04-25 08:11] Ludee commented on #82
Will not fix it this week/weekend. I'm only in office today and our server is down due to relocation.

[2017-04-25 08:12] #23 closed

[2017-04-25 08:13] #25 closed

[2017-04-25 08:14] #64 closed

[2017-04-25 08:22] nesnoj commented on #82
I can give it a try - @IlkaCu I gonna give u a buzz later today..

[2017-04-25 09:37] IlkaCu opened #83 "Assign offshore wind parks automatically"
In branch [feature/offshore_windturbines](https://github.com/openego/data_processing/tree/feature/offshore_windturbines) @ClaraBuettner developed an automatic assignment of offshore wind parks to their realistic net connection point. This feature needs to be included in the release v0.3

[2017-04-25 12:50] Ludee commented on #81
We found a minor loop in the execution order.
The allocation of res to the MVGD is made in the REA-part (ego_dp_rea_setup.sql).
But this is executed after the PF scripts.

I will search for the relevant code and move to preprocessing res.

[2017-04-25 13:43] nesnoj opened #84 "Re-run DP"
We'd like to re-run parts of DP now after we (hopefully) fixed #81 and #82:

1. `ego_dp_preprocessing_res_powerplant.sql`
2. [REA-Allocation](https://github.com/openego/data_processing/blob/5a286407d077aa48cb51666fd10b3f29dd6ad025/dataprocessing/eGo_data_processing.py#L83-L97)
3. [Powerflow](https://github.com/openego/data_processing/blob/5a286407d077aa48cb51666fd10b3f29dd6ad025/dataprocessing/eGo

[2017-04-25 13:45] nesnoj opened #85 "use of different CRS in geno assignment nep2035"
@IlkaCu In e89ca2088bf53856cc21e6af7bc31ae9c3eacc67 you removed the Transform statement, but geoms from CRS 3035 and 4326 are used. This bugfix might be a featurefix? ;)

[2017-04-25 13:47] IlkaCu commented on #84
GO! :+1:
If there are any bugs in the PF part, just hand it over to us and we will continue with the PF scripts.

[2017-04-25 13:53] nesnoj opened #86 "CAUTION: current branches - please read!"
I noticed that there have been recent commits to [`dev`](https://github.com/openego/data_processing/commits/dev) as well as to [`release/v0.2.6`](https://github.com/openego/data_processing/commits/release/v0.2.6).
To my mind the actual branch to work on is `release/v0.2.6`, right?

I tried to make a pull request but `dev` cannot be automatically merged into `release/v0.2.6`.
As one can see in the

[2017-04-25 13:54] nesnoj commented on #84
cheers

[2017-04-25 14:04] lukasol commented on #80
I guess that is due to the subnetworks (#78). Sweden is one of them.

[2017-04-25 14:09] IlkaCu commented on #85
This script still refers to table model_draft.ego_supply_rea_2035, which seems to be wrong, should be model_draft.ego_supply_res_powerplant_2035.
In that case you are right!

[2017-04-25 14:10] IlkaCu commented on #85
I'll fix this in the release branch

[2017-04-25 14:12] lukasol commented on #78
The buses are not only 380 kV, they are just "on top" of 110 kV buses (because substations are divided by voltage in otg). However, the subnetwork problem still persists. I checked the ones mentioned by @s3pp

Berlin subgrid, see above.

Kraftwerk Weiher (Saarland), there is a proper OSM line missing somehow, don't see the reason why.

That's one of the subgrids also deleted in SciGRID --> OSM map

[2017-04-25 14:13] lukasol commented on #78
Generally, I would propose to go ahead with deleting the subnetworks until we resolve this issue (either by bugfixing or by a connection approach)

[2017-04-25 14:20] Ludee commented on #85
I noticed a lot of CRS mixtures in the data processing.
I remember that we said we will do everything in 3035 when processing in egoDP.
Mixing CRS is always a pain and slows down the scripts a lot because ST_Transform has "costs" every time.

I'm not sure why you stick to 4326 in so many tables!?

[2017-04-25 14:25] IlkaCu commented on #85
We did not agree on 3035 as the only CRS used in our data model.
We said we either use 3035 OR 4326!
http://oep.iks.cs.ovgu.de/redmine/projects/open_ego/wiki/Koordinatenreferenzsysteme_(CRS)

[2017-04-25 14:32] ulfmueller commented on #78
But we have to check what generation/demand is connected to these buses and if there is underlying 110kV infrastructure with again demand and generation. If we delete that stuff we get troubles when disaggregating results from the ehv level to the hv level and might lose hv-mv substations which are a interfaces to the MV world. Also for example just deleting the entire connection to Sweden does no

[2017-04-25 14:36] Ludee commented on #85
You are right, I'm sorry for that.
Still the issue stays the same. Watch out when mixing! This also applies to index comparison (&&).

[2017-04-25 14:53] IlkaCu commented on #85
I fixed this! As mentioned in another issue, just hand the dp over to us if there are any bugs in the PF part

[2017-04-25 14:59] IlkaCu commented on #86
We pushed all further development relevant for release v0.3 (and irrelevant for v0.2) to the dev branch.
All bugfixes relevant for release v0.2 need to be pushed to the release branch.
But we should be aware that a merge of both branches will be much more difficult the longer and more intense we work on both branches in parallel.

[2017-04-26 09:17] nesnoj commented on #86
Great!
So we are to define a new release date, I propose to do this in the [upcoming WebCo](http://oep.iks.cs.ovgu.de/redmine/projects/open_ego/wiki/Webconf_02052017).

[2017-04-26 10:10] Ludee commented on #82
It was the CRS that was not right in the rea_setup, so the subst_id wasn't calculated and all other methods depend on that.

[2017-04-26 10:10] #82 closed

[2017-04-26 10:14] Ludee commented on #81
I had a closer look and there were some allocations of the offshore wind in the rea_setup.
This was coded a long time ago before the preprocessing of the res existed.
I removed that part and should be OK by now. Please have another look @IlkaCu

[2017-04-26 10:14] #81 closed

[2017-04-26 10:16] Ludee commented on #84
Just started PF now. I had to move the order of running and included the REA into eGoDP.
It is a "proper" section now and dependencies can be handheld much easier.

[2017-04-26 10:30] nesnoj commented on #84
@IlkaCu We stopped PF, sorry for the confusion. U can start it now.

[2017-04-26 14:51] lukasol commented on #78
That's true.
I implemented a query to connect eHV subgrids in osmTGmod, seems to work fine. It can, however, only be checked with the full data set / for the LOPF when the dp runs again with this new dataset.

[2017-04-27 13:52] ulfmueller commented on #78
@lukasol can you check what happened to the connection Lübeck-Siems (Sweden connection) after applying the algorithm? Since there is a 380kV at Siems but only coming 220 from Lübeck I wonder if the algorithm connects it with the help of a transformer to the next 220kV(Lübeck) or goes to very far away 380kV...

[2017-04-27 15:07] lukasol commented on #78
I checked. It's not connected :(
![bildschirmfoto vom 2017-04-27 17-05-26](https://cloud.githubusercontent.com/assets/17782967/25489982/ccf1d2a8-2b6b-11e7-9b40-778b6e6e3391.png)

I'll check on that...it seems the algorithm does not work as expected.

[2017-04-28 12:40] nesnoj commented on #85
is this one done? If so, plz close it @IlkaCu

[2017-04-28 12:56] nesnoj opened #87 "YARAB: Yust Another REA Allocation Bug"
I noticed that there's an issue in REA allocation to LA/LVGD (table `model_draft.ego_supply_res_powerplant`):

1. `subst_id` and `geom` match (`geom` within the corresponding MVGD)
2. `mvlv_subst_id` and `mvlv_subst_id` match (MV-LV station is located within corresponding LA and LVGD)
3. **BUT:** 1. and 2. do not match

(`la_id` of REA is correct)

I'm not sure if this is due to a new bug or due t

[2017-05-02 12:09] #85 closed

[2017-05-02 13:41] IlkaCu commented on #87
I think that's all right for us. Our assignments scripts are already done.

[2017-05-03 08:57] IlkaCu opened #88 "Conventional pp outside Germany"
Conventional power plants which are located outside of Germany (mainly hydro power plants in Austria and Luxembourg) and connected to voltage_level 3 are not assigned to any substation by the current DP. I will fix this using a NN.

[2017-05-04 08:00] nesnoj commented on #88
Are you gonna relocate these PP to the Grid Districts or just the subst_id determined by NN?

[2017-05-04 08:53] wolfbunke commented on #23
ok, thanks

[2017-05-04 09:39] IlkaCu commented on #88
I wasn't planning to relocate them as their location seems to be correct - they are foreign pp connected to the German grid.
All of these power plants are assigned to voltage_level 3, so they are not relevant for DINGO. Any objections?

[2017-05-04 09:45] wolfbunke commented on #70
thanks for the hint!

[2017-05-04 10:40] nesnoj commented on #88
ok sorry, got this wrong.

[2017-05-04 14:59] #88 closed

[2017-05-05 09:16] lukasol commented on #78
I could change the algorithm so that the 380kV line is connected to the 220 kV grid. Since there is a connection via the 110 kV grid, I am not certain if we should really implement a separate connection algorithm for eHV at all. Let's discuss this at the next opportunity.

[2017-05-10 09:43] IlkaCu commented on #35
FYI: We are dealing with some minor bugs in the PF part in the moment, which I hope to solve and run the whole PF part until end of the week.

[2017-05-11 08:05] Ludee commented on #35
Please ensure that the PF is running without interruptions.
Since v0.2.9 ("maihem") didn't finish in one run, I will start v0.2.10 ("homerun") on Friday.
Let me know when you are finished.

[2017-05-11 14:24] IlkaCu commented on #35
We still struggle with some issues in the PF part. Please do not start the homerun before we solved these. I'll give you an update tomorrow.

[2017-05-12 11:26] IlkaCu commented on #35
The database needed to be restarted as none of our queries completed. Now the PF scripts are running again, but it will take some hours until they finish. We will give you an update this afternoon.

[2017-05-12 12:39] Ludee commented on #35
I think it's not an issue of the database or the server. If you have a look at the Server-Status, you will see an intense use (and blocking) of important tables by @gplssm @ulfmueller and sometimes @nesnoj
You block the access to some relations and scripts will not finish properly.

Always make sure to close connections properly after finishing queries!

[2017-05-12 13:20] gplssm commented on #35
I'm sorry for that!
@Ludee, as short-term solution, could you please kill all my processes blocking any table/relationship?

Actually, I don't know where these not-closed connection come from. Maybe, these are a result of Dingo runs into an error... I have to investigate in detail, but cannot do that before next week.

Furthermore, I'm not able to close hanging connections via pgAdmin myself becau

[2017-05-12 13:25] ulfmueller commented on #35
same here.
if you use
[code]
and then you can delete your processes with the following:
`SELECT pg_cancel_backend(pid of the postgres process); `

you should be fine without using the Server Status Tool...

I am not sure if it is entirely due to that. At least right now the powerflow part is running with proper speed...

[2017-05-12 13:44] Ludee commented on #35
You cannot cancel others processes!

`SELECT pg_cancel_backend(27228);`

I observed different occasions like
* terminating python connections before **con.close** executed
* Hanging queries due to blocks from other processes
* different SQL errors without proper fallback

[2017-05-15 08:51] nesnoj commented on #87
Check results after next dp run and close issue if valid.

[2017-05-15 11:02] IlkaCu commented on #35
The DP stopped at snippet 'ego_dp_powerflow_griddistrict_demand.py'. We already asked @gplssm for help.

[2017-05-16 14:38] gplssm commented on #35
Issue should be fixed by c73c0909de99f935433e6082e0cd000ad2601d7c

[2017-05-17 08:46] IlkaCu commented on #35
The PF part finished successfully.
Shall we continue with the versioning script (ego_dp_versioning.sql)?

[2017-05-17 12:10] nesnoj commented on #87
Should be fixed. Re-check in https://github.com/openego/dingo/issues/169

[2017-05-17 12:10] #87 closed

[2017-05-17 12:16] IlkaCu commented on #83
An automatic assignment of offshore windparks is implemented in the [dev branch.](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_powerflow_assignment_generator.sql#L288-L307)

[2017-05-17 12:16] #83 closed

[2017-05-17 12:22] IlkaCu commented on #49
Shall we discuss this topic at the upcoming project meeting? Or is it already obsolete?

[2017-05-17 12:29] gplssm commented on #35
Nope, unless you need the new versioned dataset of the current state in model_draft. We are fine with current v0.2.9.

Next step would be to start the homerun but... I need to fix something before.

[2017-05-17 12:39] ulfmueller commented on #35
I think it would be good to also do the versioning, in order to to
a) test it, avoiding bugs in the so-called home-run
b) there has not been a complete and successful run for the powerflow part for quite some weeks now. Therefore it would be nice to have a 'new' dataset versioned which should have some improvement.

The fixes you have to do are essentially necessary to introduce them in the releas

[2017-05-17 13:37] ulfmueller commented on #35
after having a phone call,
we will know have a home-run (which I start) with the version 0.2.10. starting from the substation part (neglecting the preprocessing and status part). If there is the need to include preprocessing scripts we can include them in a new version.
The fix @gplssm just mentioned will not be part of the home-run.

[2017-05-17 13:55] ulfmueller commented on #71
on linux I did it now with this:
`find /path/to/data -type f -exec sed -i 's/v0.2.9/v0.2.10/g' {} \;`

[2017-05-17 15:02] IlkaCu opened #89 "Expand DP by scripts for 2050 scenario"
Scripts for 2050 scenario are developed in branch [feature/future-scenarios](https://github.com/openego/data_processing/tree/feature/future-scenarios/dataprocessing/sql_snippets).

[2017-05-18 08:13] IlkaCu opened #90 "Wind park aggregation of future wind power plants"
In case of wind power plants the installed capacity of a whole wind park determines the grid level to which the plants are connected. To allocate future wind power plants to a realistic grid level, this needs to be taken into account and a methodology to assign future wind power plants to a realistic grid level need to be developed.
It might be an option to aggregate future wind power plants to wi

[2017-05-19 12:21] ulfmueller commented on #35
a short update: the home-run 0.2.10 is at ego_dp_powerflow_assignment_generator.sql
So it should be done by tomorrow morning.

So far there were only one little bug in 'ego_dp_loadarea_statistic.sql' due to a UnicodeDecodeError which I resolved and stated to be that minor that I did not realize a complete re-run (including to choose a new version number).

[2017-05-19 13:54] wolfbunke opened #91 "Integration of rea for future scenarios 2035 and 2050"
Hi, I plan to use new changes of the method [ (rea)](https://github.com/openego/data_processing/tree/release/v0.2.6/dataprocessing/sql_snippets/rea) for the scenarios NEP 2035 and 2050.

The Idea is following:

- [ ] branch path release/v0.2.6/dataprocessing/sql_snippets/rea
- [ ] create to new folders (../rea/2035 and ../2050)
- [ ] change the code in order to create to new db tables
- [ ] the ta

[2017-05-21 22:13] nesnoj commented on #91
But this is on schedule for pd release 0.3, isn't it?
Find our recent thoughts on this in [RM](http://oep.iks.cs.ovgu.de/redmine/issues/1870659638?issue_count=189&issue_position=1&next_issue_id=1870659636#note-6).

[2017-05-22 04:51] wolfbunke opened #92 "update documentation"
Update documentation and metadata

[2017-05-22 08:38] nesnoj commented on #87
Exemplarily tested - seems to be ok.

[2017-05-22 09:30] nesnoj commented on #35
I checked the scenario log of the current run and found version entries - besides `v0.2.10` - with `v0.2.9` and oddly `v0.2.1010`....wait, what??

[2017-05-22 14:50] ClaraBuettner commented on #89
I've uploaded all expanded scripts into the branch. But I'm not sure with the generator_assignment-script. It needs more than 20 hours to run and still some powerplants don't get a subst_id (about 100 000). I can't see a reason why.
In addition I couldn't test the sorage-script because there is a table missing in oedb.

[2017-05-22 14:57] IlkaCu commented on #89
Did you try to plot the power plants which didn't get a subst_id in QGIS?

[2017-05-22 15:07] ClaraBuettner commented on #89
![subst_id](https://cloud.githubusercontent.com/assets/22964326/26315301/fdb316a0-3f10-11e7-9252-e1ef1def7d56.PNG)

The borders seem to be a problem...

[2017-05-22 15:22] IlkaCu commented on #89
Its the renewable power plants with voltage_level =>3 which are located outside the area covered by grid districts. We are working on a solution for this problem already.
Are those plants located in the North sea offshore wind power plants?

[2017-05-23 09:07] ClaraBuettner commented on #89
Yes, some are offshore wind powerplants. They have an otg_id but no subst_id.

[2017-05-23 09:19] gplssm commented on #13
We decided to do it differently and solve it by removing nasty dependencies in `oemof.db`  and discuss this in https://github.com/oemof/oemof.db/issues/32

[2017-05-24 06:43] wolfbunke commented on #91
oh, yes thank you!

[2017-05-29 09:11] ulfmueller commented on #35
@nesnoj that's odd. So far I have not found the reason for that. I will keep on looking.

generally: please do NOT work anymore on the release branch!
The dp ran through until the versioning script! We will know debug that script and check the versioning tag issue.
After that (if ererything is fine), we will merge the branch to the master and dev and delete the release branch. The master merge wil

[2017-05-29 09:38] IlkaCu opened #93 "Insert new version number in ego_scenario"
The last bug in our homerun v0.2.10 was caused by the missing version number 'v0.2.10' in table model_draft_ego_scenario.
The versioned tables have a [foreign key](https://github.com/openego/data_processing/blob/release/v0.2.6/dataprocessing/sql_snippets/ego_dp_structure_versioning.sql#L38-L41) linked to the named table.
At which point in the DP do we insert the current version number in table mod

[2017-05-29 09:49] lukasol commented on #92
Can you elaborate on the aims for this issue and assign a milestone?

[2017-05-29 10:05] Ludee commented on #93
The script  [ego_dp_structure_scenariolog.sql
](https://github.com/openego/data_processing/blob/release/v0.2.6/dataprocessing/sql_snippets/ego_dp_structure_scenariolog.sql#L26-L39) is designed to be executed in the run. It includes the list of versions. When using "search/replace" it has to be checked to not replace the old versions ;)

Sorry for not documenting this versioning structure properly.

[2017-05-29 11:48] ulfmueller commented on #93
Thanks for the clarification and adjustment.
I will execute the structure_scenariolog.sql and than the versioning script.

[2017-05-30 09:09] ulfmueller commented on #35
The versioning script ran through. Therefore the run 0.2.10 is complete :1st_place_medal:

The version tag 0.2.1010 appeared only in the python scripts and was probably like @nesnoj supposed an human error when I half-automized changed the number. I corrected that in the scripts - only the log file is corrupt in a few cases displaying the weird version number.

Like we agreed on I would now merge

[2017-05-30 11:45] #84 closed

[2017-05-30 12:54] gplssm commented on #59
Once done, take up on #15

[2017-05-30 12:57] #24 closed

[2017-05-30 13:00] #49 closed

[2017-05-30 13:03] Ludee commented on #67
@Ludee Document the versioning and ScenarioLog somewhere!

[2017-05-30 13:26] s3pp opened #94 "Move statements setting metadata to designated script(s)"
By now meta data is set in each script separately. Performing an update on the format/bumping up the meta data version is therefore difficult. It has to be searched for these statements. Maybe this task would get easier by putting meta data queries in a designated place/script/scripts.

Issue is not assigned. Possible task for power week.

[2017-05-31 09:51] ulfmueller commented on #35
It is done. The code  release is realized :1st_place_medal: . checkout the [tag](https://github.com/openego/data_processing/releases/tag/v0.2.10)
The release branch is merged into master and dev with respect to our [workflow by Vincent Driessen](http://nvie.com/posts/a-successful-git-branching-model/)
Now, we can work on Version 0.3. I remind you to use the Driessen branching model and remember we

[2017-05-31 09:51] #35 closed

[2017-05-31 10:13] nesnoj commented on #35
Wow, whan an issue!
Thanks to all for contributing!

[2017-05-31 14:45] IlkaCu commented on #86
v0.2 is released and our branching model got specified during the last project meeting.

[2017-05-31 14:45] #86 closed

[2017-05-31 14:46] #93 closed

[2017-05-31 14:51] ulfmueller commented on #62
I am totally fine with it. Sorry for late reply!
@EdithaK please check [this](https://github.com/openego/data_processing/blob/dev/README.md) out and if you also agree close the issue!

[2017-06-01 11:00] s3pp commented on #80
Still missing in v0.2.10. The bug is not related to existing subnetworks.

[2017-06-01 11:13] EdithaK commented on #62
I agree

[2017-06-01 11:14] #62 closed

[2017-06-01 11:53] lukasol commented on #80
Are the DC connections considered? Note that as an osmTGmod output they are stored in a separate table (otg_ehvhv_branch_data in contrast to otg_ehvhv_dcline_data).

[2017-06-01 11:59] ulfmueller commented on #80
the lines should not be relevant for that bug. the generation and demand is allocated to the country nodes no matter of how they are connected by lines or not...

[2017-06-01 12:07] IlkaCu opened #95 "Testing of PF related DP-data"
PF data generated in the DP v0.2 needs to be tested. For all detected bugs corresponding github issues shall be created.
@IlkaCu: Testing of feasibility checks
@ulfmueller: Performing PF calculations with the data set

[2017-06-01 12:41] IlkaCu opened #96 "New structure of DP repository"
During our last project meeting we agreed on a new structure for the DP repository.
As described in issue #15 the top-level folders need to be cleaned up.
We further decided to include the following folders in the DP repository

- preprocessing: Includes all setup and clean-up scripts
- dataprocessing: The core where we create our data
- utilities: Place for useful scripts which are not/not yet in

[2017-06-01 12:43] IlkaCu commented on #59
During the last project meeting we agreed on a new structure for the DP repository including the preprocessing part. See #96

[2017-06-01 12:43] #59 closed

[2017-06-01 14:28] s3pp commented on #80
I'm positive this is happening in ego_dp_powerflow_timeseries_generator.sql. There is a reference to all ids < 27 in model_draft.calc_ego_neighbouring_states to get relevant bus_ids. Unfortunately Sweden has 27.

[2017-06-08 08:47] IlkaCu commented on #94
What do you think about this proposal?
I'm not sure if it is realistic to implement these changes in v0.3.

[2017-06-08 11:27] wolfbunke commented on #94
At the beginning we had /have the folder  **data_processing/documentation/SQL Documentation** for the first meta data per schema. Maybe it is an good idea to store this scripts all there. Additional we could also rename the folder ***SQL Documentation*** into ***metadata*** or similar?

What do you think?

[2017-06-08 11:44] IlkaCu commented on #96
I'll implement the new repository structure in branch _refactor/DP_repository_structure_ and send a pull request to all involved people.

[2017-06-08 11:56] IlkaCu opened #100 "Power plants in EHV level with wrong otg_id"
Power plants in EHV level are not assigned correctly to the corresponding substation.
The subst_id seems to be correct, whereas the otg_id is corrupted. In case of EHV substations the otg_id seems to be assigned falsely at some point.

[2017-06-08 13:10] ulfmueller opened #101 "change/check source other_non_renewable marginal costs"
up until now the marginal costs of other_non_renewable were set to 0 which does not make sense.
I changed the costs to the ones of oil with this commit: 52f9c0117bda24039186ec7b17962d7ee4c65a79. @wolfbunke If you have a better approach please tell us and change it right away.
@ClaraBuettner please pull consider this also when setting the marginal costs for the 2050 scenario. I saw that this sectio

[2017-06-08 13:14] Ludee commented on #94
I'm not sure about this procedure.
We have made the rule that "every table" in the oedb has to have metadata.
This is not applicable for all tables in "model_draft", so we said it's only for "public" tables.

At the moment, all metadata are in the script [ego_dp_versioning.sql](ego_dp_versioning.sql).
It's all in one place but it's also quite long and confusing.

Options are:
1. Leave the metadata

[2017-06-09 07:55] wolfbunke commented on #101
It is not very easy to make a "right" assumption. This units are mostly industrial plants which are fired with wast, oil, gas and industrial heat. I  suggest a low medium price like waste.

I found a nice definition:

I would

[2017-06-09 08:57] ulfmueller commented on #101
Did you want to add anything more (because your sentence broke up accidentally)?

[2017-06-09 10:17] nesnoj opened #102 "column/attribute name "metadata" collides with SQLA-reserved name"
In SQLAlchemy table definition `EgoScenarioLog` the attribute `metadata` is used. The attribute collides with auto-generated SQLA [MetaData instance](https://github.com/openego/ego.io/blob/a39e879710e48fe8ae2b79983bd6bf1df8b16dc5/egoio/db_tables/model_draft.py#L11).

As a workaround, I mapped the column name using [`meta_data`](https://github.com/openego/ego.io/blob/a39e879710e48fe8ae2b79983bd6bf1

[2017-06-12 10:23] Ludee commented on #102
If there is a collision, we can rename the column.
Instead of "meta_data" we can also just use "meta"!?
It has to be changed in some places of the eGoDP, so it will be a feature branch of dev?

[2017-06-12 11:03] ulfmueller commented on #102
I like meta_data but I do not really care how it is called. if there is no other collision 'meta' would be fine I guess.

yes. It sounds like an easy and fast adjustment? So you can quickly merge that feature branch back to dev.

[2017-06-12 11:37] Ludee commented on #102
OK, I will change the column to "meta_data". That already used in SQLA and makes more sense.

[2017-06-14 11:53] lukasol opened #103 "Check for best location to set storages"
Currently, extendable storages are defined in lopf_data.sql with regards to ego_grid_pf_hv_bus (so each bus gets a storage). Does it make more sense to assign these extendable storages only to hvmv substations? If yes, realize.

[2017-06-14 12:01] ulfmueller commented on #103
both ways seem reasonable. I would prefer the answer 'yes'. That way storages are built were substations are which generally would be more realistic and at the same time the number of decision variables gets minimized (I am not sure if that is really a benefit).

[2017-06-14 14:05] lukasol commented on #103
Me too.
Problem: the substation tables do not have scn_name and the bus tables do not distinguish the bus types.

[2017-06-15 08:25] lukasol commented on #103
Problem solved if otg_id works fine. (Does it? #100)
Each hvmv_substation gets a battery storage, its bus_id is the otg_id.

Storages need only to be set once in ego_dp_powerflow_lopf_data.sql for the two scenarios, definition for SH test scenario is then taken from this table. The new assignment for the SH test scenarios will only be in place after the next dp run.

As of now, extendable hydrogen

[2017-06-15 09:16] wolfbunke commented on #101
Yes, the sentence got lost...
During the scenario development @s3pp and me agreed on wast prices for mixed_fuels or other_non_renewable fuels. See: https://github.com/znes/FlEnS/tree/master/open_eGo/SQ

I will change the values now.

[2017-06-15 09:37] wolfbunke opened #104 "Harmonize of scenario names"
For the documentation and scripts I saw, that we are using different names for our scenario naming.

| res script          | dp hv powerflow          |       |  scenario input   |
|--------------------|--------------|-----|----------------------|
| ego-status-quo| Status Quo |...   |...                        |
|ego-nep-2035  | NEP 2035  |...   |B12035/B22035 |
|ego-100RES    | NEP 2050  |...   |

[2017-06-15 09:39] wolfbunke commented on #91
After the talks we change the tables to one. I create a new issue and close this.

[2017-06-15 09:39] #91 closed

[2017-06-15 09:45] wolfbunke opened #105 "Restructure RES and Rea for v3"
The new power plant table includes units of all scenarios in one table of renewable and one of conventional power plants. By using Views single power plant tables by scenario can integrated into the scripts like before as table.

[2017-06-15 09:55] wolfbunke opened #106 "Remove Rea from dataprocessing to preprocessing"
At the moment the rea allocation of renewable power plants is a part of the data processing.
Due to the random allocation algorithms the position of units is changing each time.

By placing the rea scripts as a preprocessing scripts the random allocation would be done only ones. Using an Update script of all different id's like sub_id the right relation of unit position and grid areas is given by

[2017-06-15 11:29] ulfmueller commented on #104
yeah, good point. in the SciGRID paper we used the notation: Status Quo - NEP 2035 - eGo100% .
In my mind, we can use the notation from the res scripts or from the hv powerflow!
Should we have a small poll here in order to vote for which notation we want to use in the dp?

Anyhow, the NEP 2050 naming is a bug. @ClaraBuettner Could you please change the name "NEP 2050" to 'ego-100RES' or sth. simil

[2017-06-15 11:34] lukasol commented on #104
I am pro the SciGRID paper notation, but would leave the % sign since I expect trouble with that...

[2017-06-15 11:40] ClaraBuettner commented on #104
Shall I change only the entrys in the scn_name column or the table names as well?

[2017-06-15 12:49] ulfmueller commented on #104
table names as well! Since it hasn't been used so far so the tables only exist in the script and maybe for test reasons locally so it is still easy to change everything...

[2017-06-15 12:53] lukasol opened #107 "Where are all them storages?"
I was wondering about existing storages (pumped hydro) in DE and the el. neighbours, but couldn't find any in the db...is that something we need to resolve (next week)?

[2017-06-15 14:05] ulfmueller commented on #107
good point! We definitely should for v0.3. (and better also for the paper?!) The script is already [there](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/assignment_storage_bus.sql) ready for usage, I think. We had not integrated into the [dp](https://github.com/openego/data_processing/blob/feature/future-scenarios/dataprocessing/eGo_data_processing.py) because we

[2017-06-15 18:02] IlkaCu commented on #100
The changes in branch feature/otg_id seem to fix this bug. @ulfmueller: Could you please test this by running the assignment_generator scripts?

[2017-06-16 07:42] lukasol commented on #107
Ok, looks like a good point for the power week. I could definitely help with the missing parameters, since there seem to be more missing than just max_hours. Let's how and with whom we can tackle this.

[2017-06-16 08:14] lukasol commented on #107
Update for todo list proposal:
- [ ] debug the script locally,
- [ ] check if storages are complete (including all electrical neighbours)
- [ ] e.g. I think max_hours is still pending to set (@Lukas maybe you can help here)
- [ ] check if there are more parameters missing
- [ ] check how/if the storages behave in the lopf
- [ ] integrate that script for the dp run 0.3
- [ ] may be execute that scr

[2017-06-16 08:14] ulfmueller commented on #100
cool. locally or directly on the model_draft?

[2017-06-19 08:11] IlkaCu opened #108 "Intensive week DP v0.3"
-  19 to 23.06 intensive week to finalize DP v0.3

-  daily wrap-up webco at 10 o'clock

[2017-06-19 08:30] Ludee commented on #106
Unfortunately, this will not work because the REA needs the LA. MVGD and LVGD. We cannot reallocate without the finished eGoDP.
I think "preprcessing" should be defined more precisely. I understand it as setup (upload to oedb) and restructuring. The REA has assumptions and calculations that doesn't fit in "pre".

[2017-06-19 08:49] wolfbunke commented on #106
Ok, thank you. If nobody has any other opinion I would leave rea in the dataprocessing.

[2017-06-19 09:00] wolfbunke commented on #70
The "temporary solution" is at the moment integrated as solution. The assumption  is that all small chp plants are powered by gas and are part in the `model_draft.ego_dp_supply_conv_powerplant` of the `scenario = 'ego-nep2035' `.
At the moment I like to close this ticket for V3 and if needed reopen it, next week as feature-branch.
What do you think?

[2017-06-19 09:10] wolfbunke opened #109 "MViews for REA / RES data per scenario for integration"
Planned MView names of renewable and conventional power plants per scenario:

_conventional_:
-  model_draft.ego_supply_conv_powerplant_sq_mview
-  model_draft.ego_supply_conv_powerplant_nep2035_mview
-  model_draft.ego_supply_conv_powerplant_ego100_mview

_renewables:_
- model_draft.ego_supply_res_powerplant_sq_mview
- model_draft.ego_supply_res_powerplant_nep2035_mview
- model_draft.ego_supply_r

[2017-06-19 09:39] ulfmueller commented on #104
I am also in favor with the SciGRID paper notation. We decided it there once and after all there are just names - and even more after all names in code. So the code notation would be:
- Status Quo
- NEP 2035
- eGo 100

Note, that there are blank spaces in the names. That could be a slight adjustment for the future to get rid of them. But within v03 I would not suggest to waste time on that.

if th

[2017-06-19 10:43] lukasol commented on #89
Just for your info: I will push the assignment of extendable storages for the eGo 100 scenario directly in the  [lopf data script](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_powerflow_lopf_data.sql) of the [dev](https://github.com/openego/data_processing/tree/dev) branch.

[2017-06-19 11:46] lukasol commented on #103
Has been discussed. There will be no delete query, since all tables referring to powerflow are deleted at the beginning of each dp run.

Changes have been implemented, checks for plausibility will be carried out once @ulfmueller has finished the run that shall validate #100

[2017-06-19 11:50] lukasol commented on #107
Once there are exisiting and extendable storages in one table (ego_grid_pf_hv_storage), it can be quite hard to distinguish them. I would thus propose to add a new column to this table, which could just be named 'exisiting' and be of boolean type.

@ulfmueller @IlkaCu is that understood and would it be realistic (i.e. does it lead to vast changes at several places?)?

[2017-06-19 11:53] wolfbunke commented on #104
ok, I will change the scenario names.

[2017-06-19 11:53] IlkaCu commented on #104
I'm fine with the SciGRID paper notation!

[2017-06-19 12:09] Ludee opened #111 "Update all metadata to version 1.3"
metadata must follow new version 1.3.
@Ludee:

- [x] Check all eGoDP tables (versioning)
Check all Input tables (OSM, borders, zensus)
- [x]  OSM
- [x] borders
- [x] zensus
- [x] gva (economic.destatis_gva_per_district)
- [x] demand federalstate (demand.ego_demand_federalstate)
- [x] wpa (supply.vernetzen_wind_potential_area)
- [x] supply.* @wolfbunke
- [ ] forwind (supply.forwind_oeko_renewable_c

[2017-06-19 12:16] IlkaCu commented on #109
From my point of view according to #104 the mviews for the 100% RE scenario should be named 'ego100' instead of 'ego2050'.

[2017-06-19 12:39] IlkaCu commented on #94
I prefer option 1a, which is the way we are already handling it.
But currently many of the model_draft-tables do have meta data which are not mandatory according to our 'rule'. How should be deal with this? Should the rather delete all meta data from the model_draft to avoid storing unmaintained data or should we keep the current information knowing it isn't updated?

[2017-06-19 12:39] #102 closed

[2017-06-19 12:49] Ludee opened #112 "clean oedb schema openstreetmap"
We still have two versions of OSM in the schema. Are the tables openstreetmap.ego_deu_**power**_osm_X still in use? If not we should drop them.

[2017-06-19 12:54] lukasol commented on #112
Good point. I created these tables once, but they are not in use any more and can be deleted from my point of view.
@Ludee you can go ahead and delete them if @ulfmueller or @IlkaCu do not object.

[2017-06-19 13:01] Ludee commented on #94
I agree with you @IlkaCu. -> stay with 1a.
My suggestion that I already tested in eGoDP is to give all model_draft tables a mini-comment with the name and the version number. This way we can see the latest version that created that table. It doesn't need maintenance and version number changes anyway.

What do you think?

[code]

[2017-06-19 13:36] lukasol commented on #107
Updated scripts to set existing storages to powerflow tables in https://github.com/openego/data_processing/commit/0fb133739d2791983fb1d15ef19153b115bfbc4f

With this script, all storages from BNetzA powerplant list are written to powerflow table. We need to clarify, how we deal with storages in neighbouring countries, that possibly come from renpassgis data. Will resolve that soon...maybe @s3pp co

[2017-06-19 13:56] lukasol commented on #108
As I said, I won't be in for the webco tomorrow.

[2017-06-19 14:25] nesnoj commented on #102
thx

[2017-06-19 14:35] ulfmueller commented on #112
I have very rare knowledge on that. I do not know if we use them. But I guess it is fine. I do not want to object.
@IlkaCu do you know of any script which uses these osm tables?

[2017-06-19 14:37] Ludee commented on #112
I searched all scripts and didn't find them.
Already dropped them and prepare the OSM metadata now. Thanks

[2017-06-19 14:37] #112 closed

[2017-06-20 07:42] IlkaCu commented on #15
While restructuring the DP repository the remaining top level folders which should be emptied and removed where temporarily moved to the new utilities folder. This new folder needs to be cleared up and obsolete folders/files need to be removed.

[2017-06-20 07:56] IlkaCu opened #113 "Include 'eGo 100' scenario in DP"
New scripts for the scenario 'eGo 100' need to be included in the DP.

[2017-06-20 08:12] lukasol commented on #70
I think it is fine, if all small chp units are gas-fired. Everything else would be not realistic in my point of view. So if you can validate that we're only looking at gas, we can stick to the temporary solution.

[2017-06-20 08:20] ulfmueller commented on #70
I also think that the so-called 'temporay solution' is generally ok.
@gplssm This is what @wolfbunke tried to explain.
1. actual implementation: The future small chp (concerning the NEP 2035 scenario) are fired by gas.
2. possibly the allocation of the type of fuel could be more complex and diverse

I - like @lukasol and @wolfbunke - prefer 1.. For me, 2 could be a future feature (maybe nice-to-ha

[2017-06-20 08:21] lukasol commented on #78
Since this is osmTGmod related, refer to https://github.com/openego/osmTGmod/issues/10 for future discussions.

[2017-06-20 08:21] #78 closed

[2017-06-20 08:54] wolfbunke opened #114 "Adaptation of common power plant table structure"
After the restructuring of the conventional and renewable power plant tables MView per scenario should be integrated in the other scripts. see #109

Please make sure:
- [ ]  that all Table names are changed to the MView Table ( Path in #109)
- [ ] control column names because of column inclusion by all scenarios

## Changed columns:

from   `model_draft.ego_supply_conv_powerplant_2035,
`
-   power

[2017-06-20 09:31] ulfmueller commented on #114
[Here](https://github.com/openego/data_processing/tree/refactor/adaptation-powerplant-tables) the branch, where we can prepare our scripts for the upcoming changes.
@lukasol just told me will deal with the powerflow storage scripts

[2017-06-20 11:10] lukasol commented on #109
@wolfbunke you asked us to update all table names and referenced this issue. Please provide a clear list of the new names (i.e. do you consider the comment of @IlkaCu ?)

[2017-06-20 11:17] wolfbunke opened #120 "Delete Tables related to power plants which are not needed"
Please check which tables are not needed or used any more:

**Delete old and not used tables, views and serials**

- [ ] model_draft.ego_supply_rea_2035
- [ ] model_draft.ego_supply_rea_2035_m2_windfarm
- [ ] model_draft.ego_supply_rea_2035_per_gentype_and_voltlevel
- [ ] model_draft.ego_supply_rea_2035_per_loadarea
- [ ] model_draft.ego_supply_rea_2035_per_method
- [ ] model_draft.ego_supply_rea_

[2017-06-20 11:24] lukasol commented on #114
@lukasol just told me will deal with the powerflow storage scripts

just did that.

[2017-06-20 11:41] wolfbunke commented on #113
**Info:** The power plant list of conventional power plants is ready. The script can be found [here](https://github.com/openego/data_processing/blob/features/power-plants-in-one-tb/dataprocessing/sql_snippets/rea/ego_dp_conv_by_scenario.sql). Path and names are also in ticket #109

[2017-06-20 12:08] wolfbunke commented on #104
Scenario naming is changed to:
- Status Quo
- NEP 2035
- eGo 100

for renewable and conventional power plant table.

[2017-06-20 12:12] wolfbunke commented on #109
I changed the MView naming to `model_draft.ego_supply_res_powerplant_ego100_mview `and  `model_draft.ego_supply_conv_powerplant_ego100_mview` and updated it in the ticket description.

[2017-06-20 12:15] wolfbunke commented on #109
The naming `_sq_ ` can be changed to `_statusquo_` in order to be more related to the scenario naming. I am fine with both naming. Do you have an idea or favourite ?

[2017-06-20 12:18] Ludee commented on #76
delete table _model_draft.ego_demand_loadarea_peak_load_ after fix

[2017-06-20 12:27] lukasol commented on #109
Dont really care, but I think we need a quick solution.

[2017-06-20 13:19] IlkaCu commented on #109
I would prefer to use _sq_ to limit the length of our table names.

[2017-06-20 13:24] Ludee commented on #109
http://www.abbreviations.com/abbreviation/Status+Quo

+1 for sq

[2017-06-20 13:26] Ludee commented on #109
perhaps add additional info to Status Quo! Like **sq2016**?

[2017-06-20 13:43] wolfbunke commented on #109
ok, we have now two option _sq_ or _sq2016_. According to the previous idea to stick to the ego paper I prefer _sq_.

[2017-06-20 13:44] ulfmueller commented on #109
just leave it to sq , please.
A year number would not be good because it intentionally does not directly/consistently refer to a specific year (we have the weather year 2011 because it is a rather good representation of a normal weather year)...

[2017-06-20 14:02] Ludee commented on #109
right, the year is not a good idea: **egosq** (in view of _ego100_) or only **sq**.

[2017-06-20 14:23] wolfbunke commented on #109
I think we simply stick to `_sq_` because ego is already written at the beginning and we only have one sq scenario. Thanks a lot to all of you !!!

[2017-06-20 14:25] Ludee commented on #76
#121

[2017-06-20 15:03] Ludee opened #122 "Display MViews in OEP"
At some points (e.g. borders schema) we create MViews of existing tables. In eGoDP this is used to select a **version** or change the SRID of the geom. These "tables" are NOT displayed online atm. And they don't have (maintained) metadata.

Here are my questions for discussion:
1. Do we want MViews to be displayed online?
2. Which rules apply when using MViews?
3. Do they need to be under "revisio

[2017-06-21 08:15] wolfbunke commented on #104
I am ready with all changes. From my point this ticket can be closed.

[2017-06-21 08:16] wolfbunke commented on #109
ok, i close this ticket. thx

[2017-06-21 08:29] wolfbunke commented on #70
This ticket can be closed. This assumption of small chp plants needs to be documented later  in the scenario documentation.

[2017-06-21 08:29] #70 closed

[2017-06-21 08:32] #104 closed

[2017-06-21 08:40] #15 closed

[2017-06-21 08:45] ulfmueller commented on #61
is that the same question as in #70 ? If yes, it is redundant and can be closed as well.

[2017-06-21 08:51] #106 closed

[2017-06-21 08:58] wolfbunke commented on #61
Not really the question was if small chp and EEG gas plants should remain in the "eGo 100" scenario.  By the main scenario definition they shouldn't be included. At the moment there are all decommissioned.

[2017-06-21 08:58] lukasol commented on #122
I do not think we need them to be displayed online since most (if not all?) of the data is at some point published in tables. That is for example true for the powerplant tables, which are basically just "translated" from an MView to a table.

[2017-06-21 09:00] wolfbunke commented on #61
I think you can close this ticket.

[2017-06-21 09:05] wolfbunke commented on #122
Good point but I think if a Mview is that impotent to be on the platform it  should be a database table or? But maybe @MGlauer has a good idea?

[2017-06-21 09:16] ulfmueller commented on #61
I am pretty sure, that was not the original question posted here by @IlkaCu . If that what you are talking about is really still an issue then create another issue which addresses that problem.
Anyhow if I understand you right, the issue you raised is not really a problem, correct? There will appear no conventional small chp in the eGo 100 scenario, correct?

[2017-06-21 09:49] wolfbunke commented on #61
yes, sorry your right! This is done by using gas as generation_type and chp as subtype.

[2017-06-21 09:51] gplssm commented on #13
As written above: we don't solve the problem here, but hopefully in oemof.db itself.

[2017-06-21 09:51] #13 closed

[2017-06-21 10:04] #61 closed

[2017-06-21 10:05] gplssm commented on #18
ego.io now () has it's own config file that is created when `egoio.tools.db.connection()` is called and no config file exists. Data processing now uses an OEDB connection via egoio.

Tested implementation by following query script

[code]

[2017-06-21 11:19] gplssm commented on #122
There is currently no use case for me, thus I have no opinion.

[2017-06-21 11:38] gplssm commented on #67
Is this still an open issue or can we treat this one as resolved?

[2017-06-21 11:57] IlkaCu opened #124 "Executable preprocessing"
To make the preprocessing part in the DP repository executable some adjustments are pending.

[2017-06-21 12:14] IlkaCu commented on #96
The new repo structure is implemented and the refactor branch is merged into our dev branch.

[2017-06-21 12:14] #96 closed

[2017-06-21 12:16] IlkaCu commented on #105
New table structure and naming is described in issue #114

[2017-06-21 12:17] IlkaCu commented on #77
This issue is tackled in #114 and #105

[2017-06-21 12:17] #77 closed

[2017-06-21 12:33] IlkaCu opened #125 "Move scripts from dataprocessing to preprocessing"
All preprocessing scripts which are still integrated in the dataprocessing section need to be moved to the newly introduced preprocessing part of our repository.
The authors of the respective scripts are responsible to do so.

[2017-06-21 14:07] wolfbunke commented on #101
let me see, i saw we have 15 sources but not all are different in the script or?

[2017-06-21 14:12] wolfbunke commented on #101
ok, checked

[2017-06-21 14:15] ulfmueller commented on #101
I dont understand what you checked.
As I see it, you changed the values in the future scenario branch, [here](https://github.com/openego/data_processing/blob/feature/future-scenarios/dataprocessing/sql_snippets/ego_dp_powerflow_lopf_data.sql)
Therefore I close this issue now.

[2017-06-21 14:15] #101 closed

[2017-06-21 14:18] wolfbunke commented on #101
If not a source was missing due to the future power plant list

[2017-06-21 14:23] wolfbunke commented on #90
At the moment @Ludee has implemented wind farms in the [rea script m2](https://github.com/openego/data_processing/blob/master/dataprocessing/sql_snippets/rea/ego_dp_rea_m2.sql) by using the voltage level as an wind farm indicator `voltage_level = 4`. The methodology of the Prox2Now algorithm is extending the future wind power plants by average capacity and voltage level. Therefore this method shou

[2017-06-21 15:51] ulfmueller opened #126 "Validate wind park aggregation methodology"
see #90 for further explanation.

[2017-06-21 15:53] ulfmueller commented on #90
Since the methodology seems relatively applicable and useful we can see this as solved.
For the testing/validation of the methodology I created a new issue #126 , which can be done posterior to the v03.

[2017-06-21 15:53] #90 closed

[2017-06-21 16:49] wolfbunke opened #128 "How to handel scenarios for dingo in ego_dp_rea_results.sql"
By changing all three scenarios in one table I saw that the script [ego_dp_rea_results.sql ](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/rea/ego_dp_rea_results.sql#L20-L30) is creating following tables:

- model_draft.ego_supply_rea_per_gentype_and_voltlevel
- model_draft.ego_supply_rea_per_mvgd
- model_draft.ego_supply_rea_per_loadarea
- model_draft.ego_supply_

[2017-06-21 19:32] wolfbunke commented on #126
thx

[2017-06-22 05:56] wolfbunke commented on #108
As fare as I can see the most task are done.

- change of scripts of res and rea of renewable power plants
- change of scenario naming
- change meta documentation to v1.3
- Removed res and conv  scripts from .../dataprocessing/sql_snippets/rea to preprocessing folder. My scripts are removed but I don't know if all rea scripts are parts of the Dataprocessing? @Ludee ?

- All new Geometries are in t

[2017-06-22 07:38] Ludee commented on #124
What "adjustments" are needed? Can you specify or is this the task of this issue?

[2017-06-22 07:44] Ludee commented on #128
I'm not sure if these tables are used by DINGO. I don't think so. @gplssm ?

[2017-06-22 08:23] lukasol opened #129 "Assign storages to all electrical neighbours"
Refer to #107 for the pre-discussion. It seems that the relevant data is not in the source tables in the calc_renpass_gis schema.

[2017-06-22 08:24] lukasol opened #130 "Validate existing storages in LOPF"
After assigning the storages in #107 and for all electrical neighbours in #129 these need to be validated.

[2017-06-22 08:24] #107 closed

[2017-06-22 08:54] IlkaCu commented on #124
I'm not sure what needs to be done here except for the integration of the scripts in the python script. In the end its structure should look quite similar to the dataprocessing itself I guess.

[2017-06-22 08:56] IlkaCu commented on #124
We should also discuss if an executable preprocessing is necessary for the release v0.3 or if we can finish this in a later version. @Ludee What do you think?

[2017-06-22 09:11] IlkaCu opened #131 "Wrong place for preprocessing scripts"
There are three scripts in a subfolder 'preprocessing' of the folder 'dataprocessing'. See [here](https://github.com/openego/data_processing/tree/dev/dataprocessing/preprocessing)
This is not the right place for preprocessing scripts any more.
Please move them to the preprocessing [section](https://github.com/openego/data_processing/tree/dev/dataprocessing/preprocessing).

[2017-06-22 12:20] Ludee commented on #108
4. Rea must be part of the data_processing because it uses TP, MVGD, LA, and LVGD! And by definition it has assumptions and therefore is not "just preparation"
6. Did you change it [here](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_structure_scenariolog.sql#L26-L40)?

[2017-06-22 12:43] mariusves opened #133 "Group parallel hv lines and merge them to a single line"
As of now, there are about 19,151 hv lines resulting from osmTGmod. Many of these are parallel, meaning they share the same bus0 and bus1. To slim down the model, the affected lines will be merged to a single line. Thereby, their electrical properties will be recalculated as parallel circuits. As a result, the amount of lines is reduced to 12,261 lines.

[2017-06-22 13:02] #133 closed

[2017-06-22 13:43] wolfbunke commented on #131
ok, sorry

[2017-06-22 13:46] wolfbunke commented on #131
done

[2017-06-22 13:52] wolfbunke commented on #108
ok, it was not really clear for me

No. Ok I wait until visioning is set

Thx @Ludee

[2017-06-22 14:16] IlkaCu commented on #113
Duplication of #89

[2017-06-22 14:16] #113 closed

[2017-06-22 15:41] Ludee commented on #131
done

[2017-06-22 15:41] #131 closed

[2017-06-22 15:49] ulfmueller commented on #100
The assignment scripts ran and I tested some samples which are positive. Thx @IlkaCu ! I will create a pull request for  the feature/otg_id to dev branch

[2017-06-22 15:49] #100 closed

[2017-06-22 15:55] Ludee commented on #125
I moved most of the files that are not part of the eGoDP.
In **dataprocessing\sql_snippets** there are two scripts left that I don't know:

- [ ] ego_scenario_SH_NEP2035.sql
- [ ] ego_scenario_SH_status_quo.sql

[2017-06-22 16:00] Ludee commented on #125
Just moved them to preprocessing as well because not part of eGoDP

[2017-06-22 16:00] #125 closed

[2017-06-22 16:05] Ludee commented on #124
We will not finish the eGoPP this week. No way.
But I will start and make the file executable. Then we can add the imports one-by-one.

[2017-06-22 16:07] Ludee opened #136 "Write a test.sql for eGoDP to check if all input tables are there and up to date"
I had an idea today:
There should be a first script of the dataprocessing that is just checking the database if all (original) input tables are there and which version number they have.
If some tables cannot be found (because other database/structure) it says please run eGoPP.
This is an easy tasks and increases usability for others a lot.

[2017-06-23 09:44] mariusves opened #137 "Make grouped hv lines a seperate model"
Instead of grouping the "Status Quo" model and replacing it, rather duplicate the whole set for testing purposes. Later, do the grouping part in eTraGo instead of doing it on the data side (see: https://github.com/openego/eTraGo/issues/17) .

ToDos
- [ ] comment out grouping query from osmtgmod2pypsa script.
- [ ] create new tiny script for creating the new scenario with grouped lines for comparis